.th{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    flex-wrap: nowrap;
}
.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.menuligne{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
}
.th_filtre{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    flex-wrap: nowrap;
}

/* Tag sur 2 lignes bien compact */
.tag--break .tagline { display:block; line-height:1.2; }
