<div class="seance-shell">
  <ng-container *ngIf="vm.loading">
    <div class="seance-loading">
      <progress class="progress is-large is-info" max="100">60%</progress>
      <p>Chargement en cours</p>
    </div>
  </ng-container>

  <ng-container *ngIf="!vm.loading">
    <section class="seance-hero">
      <div class="seance-hero-header">
        <div class="seance-hero-title">
          <h1 class="title is-5 mb-0">Séances</h1>
          <p class="subtitle is-6 mb-0">
            Gestion des séances, filtres, édition et suivi de saison
          </p>

          <p class="seance-refresh-info" *ngIf="vm.lastLoadedAt">
            Dernière mise à jour :
            {{ vm.lastLoadedAt | date : 'dd/MM/yyyy HH:mm:ss' }}
          </p>
        </div>

        <div class="buttons seance-hero-actions">
          <button
            *ngIf="hasRefreshAvailable"
            class="button is-warning is-light"
            type="button"
            (click)="onApplyRefresh()"
          >
            <span class="icon"><i class="fas fa-rotate"></i></span>
            <span>
              <ng-container *ngIf="pendingCountLabel; else refreshDefaultLabel">
                {{ pendingCountLabel }}
              </ng-container>
              <ng-template #refreshDefaultLabel i18n>
                Appliquer les nouveautés
              </ng-template>
            </span>
          </button>

          <button
            class="button is-info is-light"
            type="button"
            (click)="onRefreshNow()"
          >
            <span class="icon"><i class="fas fa-arrows-rotate"></i></span>
            <span i18n>Rafraîchir</span>
          </button>
        </div>
      </div>
    </section>

    <div class="seance-content">
      <app-seance-list
        *ngIf="!vm.editSeance"
        [vm]="vm"
        (openSeance)="onOpen($event)"
  [isAdmin]="isAdmin"
        (createSeance)="onCreate($event)"
      ></app-seance-list>

      <app-seance-editor
        *ngIf="vm.editSeance"
        [vm]="vm"
  [isAdmin]="isAdmin"
        (back)="onBackToList()"
      ></app-seance-editor>
    </div>
  </ng-container>
</div>