<div class="app-shell">
  <ng-container *ngIf="!isPublic">
    <span class="fullscreen">
      <nav class="navbar app-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a
            class="navbar-item app-logo"
            (click)="selectMenu('MENU')"
            [routerLink]="store.isLoggedIn() ? (store.mode() === 'ADMIN' ? ['/menu-admin'] : ['/menu']) : null"
            aria-label="Accueil"
          >
            <span class="logo-mark">AS</span>
          </a>

          <a
            role="button"
            [class]="isactive ? 'navbar-burger is-active' : 'navbar-burger'"
            (click)="isact()"
            aria-label="menu"
            [attr.aria-expanded]="isactive"
            data-target="navMaSeance"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navMaSeance" [class]="isactive ? 'navbar-menu is-active' : 'navbar-menu'">
          <div class="navbar-start" *ngIf="store.isLoggedIn() && store.hasProjet() && store.isProf()">
            <a
              [class]="store.selectedMenu() === 'ADHERENT' ? 'navbar-item is-selected' : 'navbar-item'"
              (click)="selectMenu('ADHERENT')"
              [routerLink]="['/adherent']"
            >
              Adhérents
            </a>

            <a
              [class]="store.selectedMenu() === 'COURS' ? 'navbar-item is-selected' : 'navbar-item'"
              (click)="selectMenu('COURS')"
              [routerLink]="['/cours']"
            >
              Cours
            </a>

            <a
              [class]="store.selectedMenu() === 'SEANCE' ? 'navbar-item is-selected' : 'navbar-item'"
              (click)="selectMenu('SEANCE')"
              [routerLink]="['/seance']"
            >
              Séances
            </a>

            <a
              [class]="store.selectedMenu() === 'GROUPE' ? 'navbar-item is-selected' : 'navbar-item'"
              (click)="selectMenu('GROUPE')"
              [routerLink]="['/groupe']"
            >
              Groupes
            </a>

            <ng-container *ngIf="store.mode() === 'ADMIN'">
              <a
                [class]="store.selectedMenu() === 'MENU-ADMIN' ? 'navbar-item is-selected' : 'navbar-item'"
                (click)="selectMenu('MENU-ADMIN')"
                [routerLink]="['/menu-admin']"
              >
                Admin
              </a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Gestion</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" (click)="selectMenu('INSCRIPTION')" [routerLink]="['/inscription-saison']">
                    Inscriptions
                  </a>
                  <a class="navbar-item" (click)="selectMenu('CONTRAT_PROF')" [routerLink]="['/contrat-prof']">
                    Contrats professeurs
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Finances</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" (click)="selectMenu('COMPTA')" [routerLink]="['/comptabilite']">
                    Comptabilité
                  </a>
                  <a
                    class="navbar-item"
                    (click)="selectMenu('TRANSACTION')"
                    [routerLink]="['/operations']"
                    [queryParams]="{ context: 'LISTE' }"
                  >
                    Opérations
                  </a>
                  <a class="navbar-item" (click)="selectMenu('PROJETMAIL')" [routerLink]="['/projet-mail']">
                    Factures / paiements
                  </a>
                  <a class="navbar-item" (click)="selectMenu('STOCK')" [routerLink]="['/stock']">
                    Stocks
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Communication</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" (click)="selectMenu('ENVOIMAIL')" [routerLink]="['/envoi-mail']">
                    Envoyer des mails
                  </a>
                  <a class="navbar-item" (click)="selectMenu('PROJETMAIL')" [routerLink]="['/projet-mail']">
                    Configuration mails
                  </a>
                  <a class="navbar-item" (click)="selectMenu('SUIVIMAIL')" [routerLink]="['/projet-mail']">
                    Suivi des mails
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Paramétrage</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" (click)="selectMenu('SAISON')" [routerLink]="['/saison']">
                    Saisons
                  </a>
                  <a class="navbar-item" (click)="selectMenu('LIEU')" [routerLink]="['/lieu']">
                    Lieux
                  </a>
                  <a class="navbar-item" (click)="selectMenu('PROF')" [routerLink]="['/professeur']">
                    Professeurs
                  </a>
                  <a class="navbar-item" (click)="selectMenu('CB')" [routerLink]="['/compte-bancaire']">
                    Comptes bancaires
                  </a>
                  <a class="navbar-item" (click)="selectMenu('LISTE_VALEUR')" [routerLink]="['/gestion-liste']">
                    Listes de valeur
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Projet</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" (click)="selectMenu('PROJETINFO')" [routerLink]="['/projet-info']">
                    Infos projet
                  </a>
                  <a class="navbar-item" (click)="selectMenu('COMPTE')" [routerLink]="['/compte']">
                    Comptes utilisateurs
                  </a>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="navbar-end" *ngIf="store.isLoggedIn()">
            <div class="navbar-item account-navbar">
              <div class="account-pill" *ngIf="store.hasProjet()">
                <span class="icon">
                  <i class="fa-solid fa-diagram-project"></i>
                </span>
                <span class="account-project-name">
                  {{ store.selectedProject()?.nom || 'Projet' }}
                </span>
              </div>

              <div class="buttons account-actions">
                <a
                  class="button is-light is-rounded"
                  [routerLink]="['/mon-compte']"
                  (click)="selectMenu('MON_COMPTE')"
                  title="Mon compte"
                >
                  <i class="fa-solid fa-user-gear"></i>
                  <span class="is-hidden-touch ml-1">Mon compte</span>
                </a>

                <a
                  *ngIf="store.hasProjet()"
                  class="button is-light is-rounded"
                  (click)="Dashboard()"
                  title="Tableau de bord"
                >
                  <i class="fa-solid fa-table-columns"></i>
                </a>

                <a class="button is-danger is-light is-rounded" (click)="LogOut()" title="Se déconnecter">
                  <i class="fa-solid fa-right-from-bracket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </span>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="!isPublic">
    <span class="mobile">
      <footer class="footer mobile-footer" *ngIf="store.isLoggedIn()">
        <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li>
              <a
                [class]="store.selectedMenu() === 'MENU' || store.selectedMenu() === 'MENU-ADMIN' ? 'navbar-item is-selected' : 'navbar-item'"
                (click)="selectMenu(store.mode() === 'ADMIN' ? 'MENU-ADMIN' : 'MENU')"
                [routerLink]="store.mode() === 'ADMIN' ? ['/menu-admin'] : ['/menu']"
              >
                <span class="icon is-large">
                  <span class="mobile-logo">AS</span>
                </span>
                <span class="tablet">Menu</span>
              </a>
            </li>

            <li *ngIf="store.isLoggedIn()">
              <a
                [class]="store.selectedMenu() === 'MON_COMPTE' ? 'navbar-item is-selected' : 'navbar-item'"
                (click)="selectMenu('MON_COMPTE')"
                [routerLink]="['/mon-compte']"
              >
                <span class="icon is-large">
                  <i class="fas fa-2x fa-user-gear"></i>
                </span>
                <span class="tablet">Compte</span>
              </a>
            </li>

            <li *ngIf="store.isLoggedIn() && store.isProf()">
              <a
                [class]="store.selectedMenu() === 'ADHERENT' ? 'navbar-item is-selected' : 'navbar-item'"
                (click)="selectMenu('ADHERENT')"
                [routerLink]="['/adherent']"
              >
                <span class="icon is-large">
                  <i class="fas fa-2x fa-users"></i>
                </span>
                <span class="tablet">Adhérents</span>
              </a>
            </li>

            <li *ngIf="store.isLoggedIn() && store.isProf()">
              <a
                [class]="store.selectedMenu() === 'SEANCE' ? 'navbar-item is-selected' : 'navbar-item'"
                (click)="selectMenu('SEANCE')"
                [routerLink]="['/seance']"
              >
                <span class="icon is-large">
                  <i class="fas fa-2x fa-clipboard-list"></i>
                </span>
                <span class="tablet">Séances</span>
              </a>
            </li>

            <li *ngIf="store.isLoggedIn() && store.isProf()">
              <a
                [class]="store.selectedMenu() === 'COURS' ? 'navbar-item is-selected' : 'navbar-item'"
                (click)="selectMenu('COURS')"
                [routerLink]="['/cours']"
              >
                <span class="icon is-large">
                  <i class="fas fa-2x fa-chalkboard-teacher"></i>
                </span>
                <span class="tablet">Cours</span>
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </span>
  </ng-container>
</div>

<notif_jecha></notif_jecha>