<div class="all-small" *ngIf="!manage">
    <h6 class="title is-6" i18n>Encadrants du cours</h6>
<ng-container *ngIf="Profs?.length === 0">
  <span i18n>Aucun encadrant sélectionné</span>
</ng-container>

<ng-container *ngIf="Profs?.length > 0">
  <div class="tags">
    <ng-container *ngFor="let niv of Profs">
      <span class="tag is-success">
        {{ niv.personne.prenom }}&nbsp;{{ niv.personne.nom }}
        <button class="delete is-small" (click)="RemoveProf(niv)"></button>
      </span>
    </ng-container>
  </div>
</ng-container>

    <h6 class="title is-6" i18n>Encadrants disponibles</h6>
    <ng-container *ngIf="prof_dispo.length >0">
        <div class="select">
            <select style="font-size: smaller;" id="professeurs" [(ngModel)]="current_prof_key">
                <ng-container *ngFor="let ni of prof_dispo;let first = first	">
                    <option [value]="ni.person.id">{{ ni.person.prenom }}&nbsp;{{ ni.person.nom }}</option>
                </ng-container>
            </select>
        </div>
        <button type="button" [disabled]="!current_prof_key" (click)="AjouterProf()"
            class="button is-primary is-small is-rounded is-outlined"
            style="align-self: center; ;fill:hsl(171, 100%, 41%)">
            <svg width="20" height="20">
                <use xlink:href=".\assets\liste.svg#plus"></use>
            </svg>
        </button>
    </ng-container>
    <ng-container *ngIf="prof_dispo.length == 0">
        <span i18n>Aucun encadrant disponible</span>
    </ng-container>
</div>
<div *ngIf="manage">
    <table>
        <thead>
            <th i18n>Nom</th>
            <th i18n>Durée</th>
            <th i18n>€/H</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let niv of Profs">
                <tr>
                    <td><span class="limited-width">{{niv.personne.prenom}}&nbsp;{{niv.personne.nom}}</span></td>
                    <td><input class="limit50" [(ngModel)]="niv.minutes"></td>                    
                    <td><input class="limit50" [(ngModel)]="niv.cout"></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>