<div class="container">
    <h2 class="title is-2">Bienvenue Clémentine</h2>
  <div *ngIf="!isComplete">
    <h4 class="title is-4">Calcul {{currentCalculationIndex + 1}} / 10</h4>
    <p>{{currentCalculation.question}}</p>
    <input *ngIf="started" class="input" type="number" [(ngModel)]="userAnswer" placeholder="Votre réponse" />
    <button *ngIf="started" type="button" class="button is-primary is-rounded is-outlined" (click)="submitAnswer()">Soumettre</button>
  </div>
  
  <div *ngIf="isComplete">
    <h4 class="title is-4">Score final : {{score}} / 10</h4>
    <button type="button" class="button is-primary is-rounded is-outlined" (click)="restart()">Recommencer</button>
  </div>
  
  <button type="button" class="button is-primary is-rounded is-outlined" *ngIf="!started" (click)="startCalculations()">Démarrer</button>
  </div>
  <button type="button" class="button is-primary is-rounded is-outlined" (click)="text()">♥</button>