<div class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
        <div class="box">
          <h3 class="title is-3" i18n>Connexion au projet</h3>
          <h6 class="subtitle is-6" i18n>Saisissez l'email du projet pour vous connecter</h6>
          <div class="field">
            <p  class="control has-icons-left has-icons-right">
              <input  [class]="VM.isLoginValid ? 'input' : 'input is-danger'"  (ngModelChange)="validateLogin()" (keypress)="onKeyPress($event)" 
  (input)="validateLogin()" [(ngModel)]="VM.Login" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span *ngIf="VM.isLoginValid" class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">            <p class="control has-icons-left has-icons-right">
              <input  [class]="VM.isPasswordValid ? 'input' : 'input is-danger'"   (ngModelChange)="validatePassword($event)" [(ngModel)]="VM.Password" (keypress)="onKeyPress($event)" type="password" placeholder="Password">

              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span *ngIf="VM.isPasswordValid" class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
            <p class="help is-danger" *ngIf="!VM.isPasswordValid" i18n>
  Le mot de passe doit contenir au moins 8 caractères et un nombre.
</p>
          </div>
          <div class="columns">
            <div class="column">
                <p class="control stack-3">
                  <button 
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile" (click)="Login()">
                    Se connecter au projet
                  </button>
                </p>
                <button
    *ngIf="VM.isLoginValid"
    type="button"
    class="btn-link"
    (click)="ReinitMDP()"
    i18n
  >
    Reinitialiser le mot de passe
  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
