<div class="container">
  <ng-container *ngIf="context == 'LISTE'">
    <ng-container *ngIf="!ListeCompte">
      <progress
        class="progress is-large is-info"
        style="margin-top: 60px"
        max="100"
      >
        60%
      </progress>
      <p>Chargement en cours</p>
    </ng-container>
    <ng-container *ngIf="!ListeCompte">
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header" style="align-items: center">
                <p
                class="card-header-title"
                *ngIf="
                  ListeCompte
                    | multifiltersCompte : filters as filteredApplis
                "
              >
                <span i18n>Liste des adhérents</span>&nbsp;({{
                  filteredApplis.length
                }})</p>
              </header>
            <div class="card-content" #scrollableContent>
              <div class="content">
                <table class="table" style="width: 100%;font-size:smaller"
                                *ngIf="ListeCompte && ListeCompte.length> 0">
                                <thead>
                                    <tr>
                                        <th>
                                            <span>
                                              <span class="ligne">
                                                <span
                                                  [ngClass]="
                                                    filters.filter_email? 'has-text-info' : ''
                                                  "
                                                  i18n
                                                  >Login</span
                                                >
                                                <span style="cursor: pointer">
                                                  <i
                                                    *ngIf="sort_login === 'NO'"
                                                    (click)="Sort('ASC', 'login')"
                                                    class="fa-solid fa-sort"
                                                  ></i>
                                                  <i
                                                    *ngIf="sort_login === 'ASC'"
                                                    (click)="Sort('DESC', 'login')"
                                                    class="fa-solid fa-sort-up"
                                                  ></i>
                                                  <i
                                                    *ngIf="sort_login === 'DESC'"
                                                    (click)="Sort('ASC', 'login')"
                                                    class="fa-solid fa-sort-down"
                                                  ></i>
                                                </span>
                                              </span>
                                            </span>
                                          </th>
                                          <th>
                                            <span>
                                              <span class="ligne">
                                                <span
                                                  [ngClass]="
                                                    filters.filter_droit? 'has-text-info' : ''" i18n>Droit</span>
                                              </span>
                                            </span>
                                          </th>
                                          <th>
                                            <span>
                                              <span class="ligne">
                                                <span
                                                  [ngClass]="
                                                    filters.filter_adherent? 'has-text-info' : ''" i18n>Adhérents</span>
                                              </span>
                                            </span>
                                          </th> 
                                        <th><span i18n>Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                    *ngFor="
                                    let cpt of ListeCompte
                                      | multifiltersCompte : filters">
                                        <td>
                                            {{cpt.login}}
                                        </td>
                                        <td>
                                            <div class="tags">
                                                <span style="cursor: pointer;" (click)="getToken(cpt,1)" *ngIf="cpt.riders && cpt.riders.length>0" class="tag is-info">Adhérent</span>
                                                <span   *ngIf="IsAdminProf(cpt.projet_compte,0)" class="tag is-info">Administrateur</span>
                                                <span style="cursor: pointer;"   (click)="getToken(cpt,2)" *ngIf="IsAdminProf(cpt.projet_compte,2)"class="tag is-info">Professeur</span>                                                
                                            </div>

                                        </td>

                                        <td>
                                            <div class="tags">
                                                <ng-container *ngFor="let gr of cpt.riders">
                                                    <span class="tag is-success">
                                                        <span>{{gr.prenom}}&nbsp;{{gr.nom}}&nbsp;{{gr.surnom}}</span>
                                                    </span>
                                                </ng-container>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="buttons" style="flex-wrap: nowrap">
                                                <btn
                                                  i18n-title
                                                  title="Supprimer"
                                                  [type_button]="'SupprimerLight'"
                                                  (click)="Delete(cpt)"
                                                ></btn>        
                                                <btn
                                                  i18n-title
                                                  title="Editer"
                                                  [type_button]="'EditerLight'"
                                                  (click)="Edit(cpt)"
                                                ></btn>
                                              </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p *ngIf="!ListeCompte || ListeCompte.length ==0">Pas de comptes
                                disponible</p>
                        </div>
                        <button
                    class="scroll-to-top"
                    *ngIf="showScrollToTop"
                    (click)="scrollToTop()"
                    title="Revenir en haut"
                  >
                    ↑
                  </button>
                </div>
                <footer class="card-footer">
                    <div class="columns">
                      <div class="column">
                        <div *ngIf="!afficher_filtre" class="buttons">
                          <btn
                            [type_button]="'CreerSmall'"
                            (click)="Creer()"
                          ></btn>
                          <btn
                            [type_button]="'FiltrerSmall'"
                            (click)="
                              afficher_filtre
                                ? (afficher_filtre = false)
                                : (afficher_filtre = true)
                            "
                          ></btn>
                          <btn
                            [type_button]="'ExporterSmall'"
                            (click)="ExporterExcel()"
                          ></btn>   
                        </div>
    
                        <div class="buttons" *ngIf="afficher_filtre">
                          <btn
                            (click)="
                              afficher_filtre = false; selected_filter = null
                            "
                            [type_button]="'RetourLight'"
                          ></btn>
                          <div
                            class="field is-horizontal"
                            style="gap: 0.5rem; align-items: center"
                          >
                            <div class="field-label is-normal">
                              <label class="label" style="white-space: nowrap" i18n
                                >Sélection du filtre</label
                              >
                            </div>
                            <div class="field-body">
                              <div class="field is-narrow">
                                <div class="control">
                                  <div
                                    class="select is-fullwidth ; font-size: smaller"
                                  >
                                    <select [(ngModel)]="selected_filter">
                                      <option value="email" i18n>Email</option>
                                      <option value="adherent" i18n>
                                        Adhérent
                                      </option>
                                      <option value="droit" i18n>Droit</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              *ngIf="selected_filter"
                              class="field-label is-normal"
                            >
                              <label class="label" style="white-space: nowrap" i18n
                                >Valeur du filtre
                              </label>
                            </div>
                            <div class="field-body" *ngIf="selected_filter">
                              <div class="field is-narrow">
                                <div class="control">
                                  <input
                                    *ngIf="selected_filter == 'email'"
                                    style="width: fit-content; font-size: smaller"
                                    class="input is-small"
                                    i18n-placeholder
                                    placeholder="Nom du cours"
                                    type="text"
                                    [(ngModel)]="filters.filter_email"
                                  />
                                  <input
                                    *ngIf="selected_filter == 'adherent'"
                                    style="width: fit-content; font-size: smaller"
                                    class="input is-small"
                                    i18n-placeholder
                                    placeholder="Nom du cours"
                                    type="text"
                                    [(ngModel)]="filters.filter_adherent"
                                  />
                                  <div
                                    class="select"
                                    *ngIf="selected_filter == 'droit'"
                                  >
                                    <select
                                      style="font-size: smaller"
                                      [(ngModel)]="filters.filter_droit"
                                    >
                                      <option [ngValue]="null" i18n>Tous</option>
                                      <option [ngValue]="'adherent'" i18n>Adhérent</option>
                                      <option [ngValue]="'prof'" i18n>Professeur</option>
                                      <option [ngValue]="'admin'" i18n>Admin</option>
                                    </select>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="tags">
                              <span
                                *ngIf="filters.filter_email"
                                class="tag is-success"
                              >
                                <span i18n>Email du compte : </span>
                                <span>{{ filters.filter_email }}</span>
                                <button
                                  class="delete"
                                  (click)="filters.filter_email = null"
                                ></button>
                              </span>
                              <span
                              *ngIf="filters.filter_adherent"
                              class="tag is-success"
                            >
                              <span i18n>Adhérent : </span>
                              <span>{{ filters.filter_adherent }}</span>
                              <button
                                class="delete"
                                (click)="filters.filter_adherent = null"
                              ></button>
                            </span>
                              <span
                                *ngIf="filters.filter_droit != null"
                                class="tag is-success"
                              >
                                <span i18n>Droit : </span>
                                <span *ngIf="filters.filter_droit == 'adherent'" i18n >Adhérent</span>
                                <span *ngIf="filters.filter_droit == 'prof'" i18n >Professeur</span>
                                <span *ngIf="filters.filter_droit == 'admin'" i18n >Admin</span>
                                <button
                                  class="delete"
                                  (click)="filters.filter_droit = null"
                                ></button>
                              </span>
    
                              
                              <btn
                                [type_button]="'SupprimerLight'"
                                (click)="ReinitFiltre()"
                                *ngIf="
                                  filters.filter_droit || filters.filter_adherent ||filters.filter_email"
                              >
                              </btn>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer>
            </div>
        </div>
        </div>
        
    </ng-container>
    </ng-container>
    <ng-container *ngIf="context == 'ECRITURE'">
        <div class="columns is-justify-content-center">
            <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
                <div *ngIf="thisCompte" class="box">

                    <h2 *ngIf="thisCompte.id==0" class="title is-2" i18n>Créer un compte
                    </h2>
                    <h2 *ngIf="thisCompte.id>0" class="title is-2" i18n>Editer un compte</h2>
                    <div class="field">
                        <label class="label" i18n>Login</label>
                        <div class="control ">
                            <input [class]="IsEmail(thisCompte.login) ? 'input' : 'input is-danger'" type="text"
                                id="nom_rider" name="nom_rider" i18n-placeholder placeholder="Login"
                                [(ngModel)]="thisCompte.login">

                        </div>
                    </div>

                    <p class="help is-danger" *ngIf="!IsEmail(thisCompte.login)" i18n>Le login doit être saisi
                    </p>

                    <div *ngIf="thisCompte" class="buttons">
                        <button class="button is-primary is-rounded is-outlined" [disabled]="!IsEmail(thisCompte.login)"
                            type="button" style="fill:hsl(171, 100%, 41%)" (click)="Save()">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                        <button (click)="Retour('LISTE')" class="button is-danger is-rounded is-outlined"
                            style="fill:hsl(348, 100%, 61%)">
                            <i class="fa-solid fa-backward-fast"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
   
</div>