APP_ENV=production
APP_ENV_LABEL=PRODUCTION
NODE_ENV=production
PORT=3000

FRONT_URL=https://assolutions.club
HELLOASSO_FRONT_URL=https://assolutions.club
FFRS_PUBLIC_API_URL=https://assolutions.onrender.com

DATABASE_URL=CHANGE_ME_RENDER_PRODUCTION_DATABASE_URL
DB_SYNCHRONIZE=false
PEPPER=CHANGE_ME_PRODUCTION

MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=false
MAIL_SMTP_USER=assolutions.club@gmail.com
MAIL_SMTP_PASS=CHANGE_ME
MAIL_MAX_PER_MINUTE=30
MAIL_SANDBOX=false

HELLOASSO_ENV=production
HELLOASSO_API_URL=https://api.helloasso.com/v5
HELLOASSO_OAUTH_URL=https://api.helloasso.com/oauth2/token
HELLOASSO_ORGANIZATION_SLUG=us-ivry-roller
HELLOASSO_CLIENT_ID=CHANGE_ME_PRODUCTION
HELLOASSO_CLIENT_SECRET=CHANGE_ME_PRODUCTION
