<section class="section">
  <div class="container">
    <h1 class="title" i18n>Cours</h1>

    <div class="buttons has-addons is-right">
      <button class="button" [class.is-link]="view()==='calendar'" (click)="view.set('calendar')" [disabled]="isSmallScreen">🗓 Calendrier</button>
      <button class="button" [class.is-link]="view()==='list'" (click)="view.set('list')">☰ Liste</button>
    </div>

    <!-- Calendrier masqué en mobile -->
<app-week-calendar
  *ngIf="!isSmallScreen && view()==='calendar'"
  [referenceDate]="referenceDate()"
  [events]="events()"
  [showNav]="false"
  [showDates]="false"   
  [showStatus]="false">
</app-week-calendar>

    <app-course-list-public *ngIf="view()==='list'"
      [items]="cours()"
      [referenceDate]="referenceDate()">
    </app-course-list-public>
  </div>
</section>
