<!-- seance-list-public.component.html -->
<div class="seance-list">
  <ng-container *ngFor="let s of sorted">
    <div class="seance-item">
      <div class="when">
        <div class="dow">{{ s.date_seance | date:'EEE' }}</div>
        <div class="dom">{{ s.date_seance | date:'dd/MM' }}</div>
        <div class="hour" *ngIf="s.heure_debut as start">
          {{ start }} <ng-container *ngIf="s.duree_seance != null">– {{ end(start, s.duree_seance)}} </ng-container>
        </div>
      </div>

      <div class="main">
        <div class="title" [title]="s.nom || s.cours_nom">
          <strong>{{ s.nom || s.cours_nom }}</strong>
        </div>
        <div class="meta">
          <span class="pill">{{ GetType(s.type_seance) }}</span>
          <span class="sep">•</span>
          <span class="place">{{ s.lieu_nom }}</span>
        </div>
        <div class="meta thin">
          <span *ngIf="s.statut==='annulée'">❌ <span i18n>annulée</span></span>
          <span *ngIf="s.statut==='prévue'">⏳ <span i18n>prévue</span></span>
          <span *ngIf="s.statut==='réalisée'">✔ <span i18n>réalisée</span></span>
          <span class="sep" *ngIf="s.place_maximum != null">•</span>
          <span *ngIf="s.place_maximum != null"><span i18n>Places</span>&nbsp;{{ s.place_maximum }}</span>
          <span class="sep" *ngIf="s.rdv">•</span>
          <span *ngIf="s.rdv">{{ s.rdv }}</span>
        </div>
      </div>

      <div class="actions" *ngIf="s.essai_possible">
        <button class="button is-info is-rounded is-small is-outlined" (click)="Essayer(s.id)">
          <span i18n>Essai</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>
