<section class="section">
  <div class="container">
    <h1 class="title">Séances</h1>

    <div class="buttons has-addons is-right">
      <button class="button" [class.is-link]="view()==='calendar'" (click)="view.set('calendar')" [disabled]="isSmallScreen">🗓 Calendrier</button>
      <button class="button" [class.is-link]="view()==='list'" (click)="view.set('list')">☰ Liste</button>
    </div>

    <!-- calendrier invisible en mobile -->
    <app-week-calendar
  *ngIf="!isSmallScreen && view()==='calendar'"
  [referenceDate]="referenceDate()"
  [events]="events()"
  [showNav]="true"
  [showDates]="true"    
  [showStatus]="true"
  (prevWeek)="shiftWeek(-1)"
  (nextWeek)="shiftWeek(1)"
  (todayWeek)="goToday()"> 
</app-week-calendar>

    <app-seance-list-public *ngIf="view()==='list'" [items]="seances()"></app-seance-list-public>
  </div>
</section>
