<div class="container">
  <ng-container *ngIf="loading">
    <progress class="progress is-large is-info" max="100">60%</progress>
    <p>Chargement en cours</p>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="box">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input [class]="Source.valid.login ? 'input' : 'input is-danger'" [(ngModel)]="Source.Login" type="email"
            placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span *ngIf="Source.valid.login" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input [class]="Source.valid.password ? 'input' : 'input is-danger'" [(ngModel)]="Source.Password"
            type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <span *ngIf="Source.valid.password" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <ng-container *ngIf="projets">
        <ng-container *ngIf="projets.length == 1">
          <span>{{projets[0].nom}}</span>
        </ng-container>
        <ng-container *ngIf="projets.length>2">
          <div class="field">
            <label>Projet</label>
            <div class="select">
              <select [(ngModel)]="projets_select" (ngModelChange)="SelectProject($event)">
                <ng-container *ngFor="let season of projets">
                  <option [value]="season.id">{{season.nom}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </ng-container>
        <div class="field" *ngIf="projets_select && projets_select.adherent">
          <p class="control">
            <button class="button is-success is-outlined is-rounded" (click)="ConnectToProject('ADHERENT')">
              Vue adhérent
            </button>
          </p>
        </div>
        <div class="field" *ngIf="projets_select && projets_select.prof">
          <p class="control">
            <button class="button is-success is-outlined is-rounded" (click)="ConnectToProject('PROF')">
              Vue professeur
            </button>
          </p>
        </div>
        <div class="field" *ngIf="projets_select && projets_select.prof">
          <p class="control">
            <button class="button is-success is-outlined is-rounded" (click)="ConnectToProject('ADMIN')">
              Vue professeur
            </button>
          </p>
        </div>
      </ng-container>
      <div class="field">
        <p class="control">
          <button [disabled]="!Source.valid.control" class="button is-success is-outlined is-rounded" (click)="Login()">
            Se connecter
          </button>
        </p>
      </div>
    </div>
  </ng-container>

</div>