<div class="container">
   <div class="columns page-fill">
            <div class="column">
              <div class="card card--scroller">
                <header class="card-header" style="align-items: center">
                  <p class="card-header-title">
<span *ngIf="lv === 'class_compta'">
  <span i18n>Liste des classes comptables</span>&nbsp;({{
                    SC.ClassComptable.length
                  }})
</span>
<span *ngIf="lv === 'stock'">
   <span i18n>Liste des types de stock</span>&nbsp;({{
                    SC.TypeStock.length
                  }})
</span>
<span *ngIf="lv === 'type_achat'">
    <span i18n>Liste des types de transaction</span>&nbsp;({{
                    SC.TypeTransaction.length
                  }})
</span>
<span *ngIf="lv === 'categorie_stock'">
    <span i18n>Liste des catégories de stock</span>&nbsp;({{
                    SC.CategorieStock.length
                  }})
</span></p>
  </header>
              <div class="card-content" #scrollableContent>
                <div class="content">
  <table class="table" style="width: 100%; font-size: smaller" >
                    <thead>
                      <tr>
                      <ng-container *ngIf="lv === 'class_compta'">
                          <th i18n>Numéro</th>
                          <th i18n>Libellé</th>
                        </ng-container>
                      <ng-container *ngIf="lv === 'stock'">
                          <th i18n>Catégorie</th>
                          <th i18n>Libellé</th>
                        </ng-container>
                      <ng-container *ngIf="lv === 'type_achat'">
                          <th i18n>Classe comptable</th>
                          <th i18n>Libellé</th>
                        </ng-container>
                        <ng-container *ngIf="lv === 'categorie_stock'">
                          <th i18n>Catégorie</th>
                        </ng-container>
                      </tr>
                      </thead>
                      <tbody>
<ng-container *ngIf="lv === 'class_compta'">
<ng-container *ngFor="let cl of SC.ClassComptable">
  <tr>
    <td>
      <input type="number" class="input is-small" [(ngModel)]="cl.numero" />
    </td>
    <td>
      <input type="text" class="input is-small" [(ngModel)]="cl.libelle" />
    </td>
  </tr>
</ng-container>
</ng-container>
             <ng-container *ngIf="lv === 'stock'">
<ng-container *ngFor="let cl of SC.TypeStock">
  <tr>
    <td>
      
  <div class="control is-small">
    <div class="select is-small">
      <select [(ngModel)]="cl.categorie">
        <option *ngFor="let key of SC.CategorieStock" [ngValue]="key.categorie">
          {{ key.categorie }}
        </option>
      </select>
    </div>
  </div>

    <td>
      <input type="text" class="input is-small" [(ngModel)]="cl.libelle" />
    </td>
  </tr>
</ng-container>
</ng-container>     
<ng-container *ngIf="lv === 'type_achat'">
<ng-container *ngFor="let cl of SC.TypeTransaction">
  <tr>
    <td>
      
  <div class="control is-small">
    <div class="select is-small">
      <select [(ngModel)]="cl.class_compta">
        <option *ngFor="let key of SC.ClassComptable" [ngValue]="key.numero">
          {{ key.numero }}&nbsp;-&nbsp;{{ key.libelle}}
        </option>
      </select>
    </div>
  </div>
    </td>
    <td>
      <input type="text" class="input is-small" [(ngModel)]="cl.libelle" />
    </td>
  </tr>
</ng-container>
</ng-container>     
<ng-container *ngIf="lv === 'categorie_stock'">
<ng-container *ngFor="let cl of SC.CategorieStock">
  <tr>
    <td>
      <input type="text" class="input is-small" [(ngModel)]="cl.categorie" />
    </td>
  </tr>
</ng-container>
</ng-container>   
                      </tbody>
                  </table>
                  <button
                    class="scroll-to-top"
                    *ngIf="showScrollToTop"
                    (click)="scrollToTop()"
                    title="Revenir en haut"
                  >
                    ↑
                  </button>                 
                </div>
              </div>
              <footer class="card-footer">
                <div class="columns">
                  <div class="column">
                      <btn [type_button]="'CreerSmall'" (click)="Ajouter()"></btn>
                              <button
          (click)="Reinit()"
          type="button"
          class="button is-info is-small is-light btn-mobile btn-elevated"
        >
          Réinitialiser les valeurs
        </button>
        <button
          (click)="Sauvegarder()"
          type="button"
          class="button is-primary is-small is-light btn-mobile btn-elevated"
        >
          Sauvegarder
        </button>
        <div class="field">
  <label class="label">{{ lvLabel }}</label>
  <div class="control is-small">
    <div class="select is-small">
      <select [(ngModel)]="lv">
        <option *ngFor="let key of lvKeys" [ngValue]="key">
          {{ ListeValue[key] }}
        </option>
      </select>
    </div>
  </div>
</div>
                      <btn
                        [type_button]="'ExporterSmall'"
                        (click)="ExporterExcel()"
                      ></btn>
                      </div>
                      </div>
                      </footer>
                      </div>
                      </div>
                      </div>
                      </div>


