
<div class="container" *ngIf="FluxFinanciers && context == 'FLUXFIN'">
  <div class="columns" style="margin-top: 0.5rem">
    <div class="column menuligne">
      <hover-button
        [nomclass]="
          afficher_filtre_ff
            ? 'button is-info is-rounded'
            : 'button is-info is-rounded  is-outlined'
        "
        [nomicon]="'fa-solid fa-filter'"
        [libelle]="'Afficher le filtre'"
        (click)="
          afficher_filtre_ff
            ? (afficher_filtre_ff = false)
            : (afficher_filtre_ff = true)
        "
      >
      </hover-button>
      <button
        *ngIf="afficher_filtre_ff"
        (click)="ReinitFiltre_ff()"
        class="button is-danger is-rounded is-outlined"
      >
        <span class="icon is-large">
          <span class="fa-stack fa-lg">
            <i class="fas fa-filter fa-stack-1x"></i>
            <i class="fas fa-slash fa-stack-1x has-text-danger"></i>
          </span>
        </span>
      </button>
      <hover-button
        [nomclass]="'button  is-rounded is-primary is-outlined'"
        [nomicon]="'fas fa-file-excel'"
        [libelle]="'Exporter vers Excel'"
        (click)="ExporterExcel_ff()"
      >
      </hover-button>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title" i18n>
            Liste des comptes comptables ({{ FluxFinanciers.length }})
          </p>

          <button
            type="button"
            (click)="Ajouter()"
            class="button is-primary is-rounded is-outlined"
            style="align-self: center; fill: hsl(171, 100%, 41%)"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
        </header>
        <span class="fullscreen">
          <div class="card-content">
            <table
              class="table"
              style="width: 100%; font-size: smaller"
              *ngIf="FluxFinanciers && FluxFinanciers.length > 0"
            >
              <thead>
                <tr>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n
                          >Date comptable</span
                        >
                        <span style="cursor: pointer">
                          <i
                            *ngIf="sort_date_ff === 'NO'"
                            (click)="Sort_ff('ASC', 'date')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_date_ff === 'ASC'"
                            (click)="Sort_ff('DESC', 'date')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_date_ff === 'DESC'"
                            (click)="Sort_ff('ASC', 'date')"
                            class="fa-solid fa-sort-down"
                          ></i> </span
                      ></span>
                      <span *ngIf="afficher_filtre_ff" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >Du</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date avant"
                            type="date"
                            [(ngModel)]="filter_date_debut_ff"
                          />
                        </div>
                      </span>
                      <span *ngIf="afficher_filtre_ff" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >Au</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date après"
                            type="date"
                            [(ngModel)]="filter_date_fin_ff"
                          />
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n>Montant</span>
                        <span style="cursor: pointer">
                          <i
                            *ngIf="sort_montant_ff === 'NO'"
                            (click)="Sort_ff('ASC', 'montant')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_montant_ff === 'ASC'"
                            (click)="Sort_ff('DESC', 'montant')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_montant_ff === 'DESC'"
                            (click)="Sort_ff('ASC', 'montant')"
                            class="fa-solid fa-sort-down"
                          ></i> </span
                      ></span>
                      <span *ngIf="afficher_filtre_ff" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >Entre</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date avant"
                            type="number"
                            [(ngModel)]="filter_montant_min_ff"
                          />
                        </div>
                      </span>
                      <span *ngIf="afficher_filtre_ff" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >et</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date après"
                            type="number"
                            [(ngModel)]="filter_montant_max_ff"
                          />
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n>R / D</span
                        ><span style="cursor: pointer">
                          <i
                            *ngIf="sort_sens_ff === 'NO'"
                            (click)="Sort_ff('ASC', 'sens')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_sens_ff === 'ASC'"
                            (click)="Sort_ff('DESC', 'sens')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_sens_ff === 'DESC'"
                            (click)="Sort_ff('ASC', 'sens')"
                            class="fa-solid fa-sort-down"
                          ></i>
                        </span>
                      </span>
                      <span *ngIf="afficher_filtre_ff" class="ligne">
                        <div class="select">
                          <select
                            style="font-size: smaller"
                            [(ngModel)]="filter_sens_operation_ff"
                          >
                            <option [ngValue]="null" i18n>Tous</option>
                            <option [ngValue]="0" i18n>Dépenses</option>
                            <option [ngValue]="1" i18n>Recettes</option>
                          </select>
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n
                          >Classe Comptable</span
                        ><span style="cursor: pointer">
                          <i
                            *ngIf="sort_sens_ff === 'NO'"
                            (click)="Sort_ff('ASC', 'class')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_sens_ff === 'ASC'"
                            (click)="Sort_ff('DESC', 'class')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_sens_ff === 'DESC'"
                            (click)="Sort_ff('ASC', 'class')"
                            class="fa-solid fa-sort-down"
                          ></i>
                        </span>
                      </span>
                      <span *ngIf="afficher_filtre_ff" class="ligne">
                        <div class="select">
                          <select
                            style="font-size: smaller"
                            [(ngModel)]="filter_classe_ff"
                          >
                            <ng-container *ngFor="let cl of ClassesComptable">
                              <option [ngValue]="cl.numero">
                                {{ cl.numero + " - " + cl.libelle }}
                              </option>
                            </ng-container>
                          </select>
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n>Libellé</span>
                        <span style="cursor: pointer">
                          <i
                            *ngIf="sort_libelle_ff === 'NO'"
                            (click)="Sort_ff('ASC', 'libelle_ff')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_libelle_ff === 'ASC'"
                            (click)="Sort_ff('DESC', 'libelle_ff')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_libelle_ff === 'DESC'"
                            (click)="Sort_ff('ASC', 'libelle_ff')"
                            class="fa-solid fa-sort-down"
                          ></i>
                        </span>
                      </span>
                      <input
                        *ngIf="afficher_filtre_ff"
                        style="width: fit-content; font-size: smaller"
                        class="input is-small"
                        i18n-placeholder
                        placeholder="Nom du cours"
                        type="text"
                        [(ngModel)]="filter_libelle_ff"
                      />
                    </span>
                  </th>
                  <th>
                    <span style="font-size: smaller" i18n>Destinataire</span>
                  </th>
                  <th>
                    <span style="font-size: smaller" i18n>Statut</span>
                  </th>
                  <th><span style="font-size: smaller" i18n>Action</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cpt of FluxFinanciers">
                  <td>
                    {{ cpt.Date | date : "dd/MM/yyyy" }}
                  </td>
                  <td>
                    {{ cpt.Montant }}
                  </td>
                  <td>
                    <i
                      *ngIf="cpt.IsRecette"
                      style="color: green"
                      class="fas fa-plus-square"
                    ></i>
                    <i
                      *ngIf="!cpt.IsRecette"
                      style="color: red"
                      class="fas fa-minus-square"
                    ></i>
                  </td>
                  <td>
                    {{ cpt.ClasseComptable }}
                  </td>
                  <td>
                    {{ cpt.Libelle }}
                  </td>
                  <td>
                    {{ cpt.DestinataireLibelle }}
                  </td>
                  <td>
                    <span *ngIf="cpt.Statut == 0" i18n>Non exécuté</span>
                    <span *ngIf="cpt.Statut == 1" i18n>Exécuté</span>
                    <span *ngIf="cpt.Statut == -1" i18n>Annulé</span>
                  </td>
                  <td>
                    <div class="buttons">
                      <button
                        i18n-title
                        title="Supprimer"
                        class="button is-danger is-rounded is-outlined"
                        type="button"
                        (click)="Delete_ff(cpt)"
                      >
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                      <button
                        *ngIf="cpt.Statut != 1"
                        i18n-title
                        title="Payer maintenant"
                        class="button is-info is-rounded is-outlined"
                        type="button"
                        (click)="Payer_ff(cpt)"
                      >
                        <i class="fas fa-signature"></i>
                      </button>
                      <button
                        i18n-title
                        title="Editer"
                        class="button is-info is-rounded is-outlined"
                        type="button"
                        (click)="Read_ff(cpt)"
                      >
                        <i class="fa-solid fa-binoculars"></i>
                      </button>
                      <button
                        i18n-title
                        title="Editer"
                        class="button is-info is-rounded is-outlined"
                        type="button"
                        (click)="Edit_ff(cpt.ID)"
                      >
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="editFluxFlinancier && context == 'EDIT_FLUXFIN'">
  <div class="columns is-justify-content-center">
    <div class="column is-12-tablet is-8-widescreen is-6-fullh">
      <div *ngIf="editFluxFlinancier" class="box">
        <h2 *ngIf="editFluxFlinancier.ID == 0" class="title is-2" i18n>
          Créer un flux
        </h2>
        <h2 *ngIf="editFluxFlinancier.ID > 0" class="title is-2" i18n>
          Editer un flux
        </h2>
        <div class="columns" style="align-items: flex-end">
          <div class="column is-4">
            <div class="field">
              <label class="label" i18n>Montant</label>
              <p class="control has-icons-right">
                <input
                  class="input"
                  type="number"
                  min="0"
                  placeholder="Montant"
                  [(ngModel)]="editFluxFlinancier.Montant"
                />
                <span class="icon is-small is-right">
                  <i class="fas fa-euro-sign"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <div class="control">
                <div class="buttons has-addons is-centered">
                  <button
                    type="button"
                    style="font-size: small"
                    [class]="
                      editFluxFlinancier.IsRecette == true
                        ? 'button is-link is-active'
                        : 'button is-active'
                    "
                    (click)="
                      editFluxFlinancier.IsRecette == true
                        ? (editFluxFlinancier.IsRecette = false)
                        : (editFluxFlinancier.IsRecette = true)
                    "
                  >
                    <span i18n>Recette</span>
                  </button>
                  <button
                    type="button"
                    style="font-size: small"
                    [class]="
                      editFluxFlinancier.IsRecette == false
                        ? 'button is-link is-active'
                        : 'button is-active'
                    "
                    (click)="
                      editFluxFlinancier.IsRecette == true
                        ? (editFluxFlinancier.IsRecette = false)
                        : (editFluxFlinancier.IsRecette = true)
                    "
                  >
                    <span i18n>Dépense</span>
                  </button>
                </div>
              </div>
            </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label" i18n>Date</label>
                <div class="control">
                  <input
                    [class]="editFluxFlinancier.Date ? 'input' : 'input is-danger'"
                    type="date"
                    id="date_naissance"
                    name="date_naissance"
                    i18n-placeholder
                    placeholder="Date comptanle"
                    [(ngModel)]="editFluxFlinancier.Date"
                  />
                  <p class="help is-danger" *ngIf="!editFluxFlinancier.Date" i18n>
                    La date doit être saisie
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="columns">
          <div class="column">
        
       
        <div class="field">
          <label class="label" i18n>Info</label>
          <p class="control">
            <input
              class="input"
              type="text"
              placeholder="Info"
              [(ngModel)]="editFluxFlinancier.Info"
            />
          </p>
        </div>
</div></div>
<div class="columns">
  <div class="column is-4">
    <div class="field">
      <label class="label" i18n>Destinataire</label>
      <input
        class="input"
        list="destinataires"
        id="destinataire"
        [ngModel]="editFluxFlinancier.DestinataireLibelle"
        (ngModelChange)="onInputChange($event)"
      />
      <datalist id="destinataires">
        <ng-container *ngFor="let option of Destinataire">
          <option [value]="formatDestinataire(option)"></option>
          <!-- Affiche le texte formaté -->
        </ng-container>
      </datalist>
    </div>
        </div>
        <div class="column is-4">
        <div class="field">
          <label class="label" i18n>Statut paiement</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="editFluxFlinancier.Statut">
                <option value="0"><span i18n>Non exécuté</span></option>
                <option value="1"><span i18n>Exécuté</span></option>
                <option value="-1"><span i18n>Annulé</span></option>
              </select>
            </div>
          </div>
        </div>
        </div>
        <div *ngIf="editFluxFlinancier.ID ==0" class="column is-4">
        <div class="field">
          <label class="label" i18n>Nombre de paiement</label>
            <div class="control">
              <input
                class="input"
                type="number"
                min="1"
                max="36"
                placeholder="Nombre de paiement"
                [(ngModel)]="editFluxFlinancier.NbPaiement"
              />
            </div>
          </div>
          </div>
          </div>
          <button
            type="button"

            class="button is-rounded is-primary is-outlined"
            (click)="AppliquerPaiement()"
          >
            <span i18n>Appliquer</span>
          </button>
        </div>
        <div
        class="field" *ngIf="
        editFluxFlinancier.liste_operation &&
        editFluxFlinancier.liste_operation.length > 0
      "
      >
        <div class="card">
          <header class="card-header">
            <p class="card-header-title" i18n>Stock associé</p>
            <button
              type="button"
              (click)="Ajouter_Stock()"
              class="button is-primary is-rounded is-outlined"
              style="align-self: center; fill: hsl(171, 100%, 41%)"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </header>
          <span class="fullscreen">
            <div class="card-content">
              <table
                class="table"
                style="width: 100%; font-size: smaller"
                *ngIf="
                  editFluxFlinancier.liste_stock &&
                  editFluxFlinancier.liste_stock.length > 0
                "
              >
                <thead>
                  <tr>
                    <th><span style="font-size: smaller" i18n>Quantité</span></th>
                    <th>
                      <span style="font-size: smaller" i18n
                        >Date d'achat</span
                      >
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Valeur</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n
                        >Catégorie</span
                      >
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n
                        >Lieu de stockage</span
                      >
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Libellé</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let cpt of editFluxFlinancier.liste_stock"
                  >
                  <td>
                    <input
                      class="input is-small"
                      type="number"
                      min="0"
                      i18n-placeholder
                      placeholder="Quantité"
                      [(ngModel)]="cpt.qte"
                    />
                  </td>
                    <td>
                      <div class="control">
                        <input
                          class="input is-small"
                          type="date"
                          id="date_naissance"
                          name="date_naissance"
                          i18n-placeholder
                          placeholder="Date comptanle"
                          [(ngModel)]="cpt.date_achat"
                        />
                      </div>
                    </td>
                    <td>
                      <input
                        class="input is-small"
                        type="number"
                        min="0"
                        placeholder="Solde"
                        [(ngModel)]="cpt.valeur_achat"
                      />
                    </td>
                    <td>
                      
                    </td>
                    <td>
                        <input class="input"
            list="destinataires"
            id="destinataire"
            [(ngModel)]="cpt.lieu_stockage_objet"
          />
          <datalist id="destinataires">
            <option
              *ngFor="let option of Destinataire"
              [value]="formatDestinataire(option)"
            ></option>
          </datalist>
                    </td>
                    <td>
                      <input
                      class="input is-small"
                      type="text"
                      i18n-placeholder
                      placeholder="Libellé"
                      [(ngModel)]="cpt.libelle"
                    />
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      <div class="buttons">
                        <button
                          i18n-title
                          title="Supprimer"
                          class="button is-smallis-danger is-rounded is-outlined"
                          type="button"
                          (click)="Delete_stock(cpt)"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            
            </div>
          </span>
        </div>
      </div>
        <div
          class="field"
          *ngIf="
            editFluxFlinancier.liste_operation &&
            editFluxFlinancier.liste_operation.length > 0
          "
        >
          <div class="card">
            <header class="card-header">
              <p class="card-header-title" i18n>Paiements</p>
              <button
                type="button"
                (click)="AjouterPaiement_ff()"
                class="button is-primary is-rounded is-outlined"
                style="align-self: center; fill: hsl(171, 100%, 41%)"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </header>
            <span class="fullscreen">
              <div class="card-content">
                <table
                  class="table"
                  style="width: 100%; font-size: smaller"
                  *ngIf="
                    editFluxFlinancier.liste_operation &&
                    editFluxFlinancier.liste_operation.length > 0
                  "
                >
                  <thead>
                    <tr>
                      <th>
                        <span style="font-size: smaller" i18n
                          >Date de transaction</span
                        >
                      </th>
                      <th>
                        <span style="font-size: smaller" i18n>Montant</span>
                      </th>
                      <th>
                        <span style="font-size: smaller" i18n
                          >Compte bancaire</span
                        >
                      </th>
                      <th>
                        <span style="font-size: smaller" i18n
                          >Destinataire</span
                        >
                      </th>
                      <th><span style="font-size: smaller" i18n>Mode</span></th>
                      <th>
                        <span style="font-size: smaller" i18n>Statut</span>
                      </th>
                      <th>
                        <span style="font-size: smaller" i18n>Actions</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let cpt of editFluxFlinancier.liste_operation"
                    >
                    <div class="control">
                      <input
                        class="input is-small"
                        type="date"
                        id="date_naissance"
                        name="date_naissance"
                        i18n-placeholder
                        placeholder="Date comptanle"
                        [(ngModel)]="cpt.Date"
                      />
                    </div>
                      <td>
                        <input
                          class="input is-small"
                          type="number"
                          min="0"
                          placeholder="Solde"
                          [(ngModel)]="cpt.Solde"
                        />
                      </td>
                      <td>
                        <div class="control">
                          <div class="select is-small">
                            <select [(ngModel)]="cpt.CompteBancaireID">
                              <ng-container *ngFor="let cpt of Comptes">
                                <option [ngValue]="cpt.id">
                                  {{ cpt.nom }}
                                </option>
                              </ng-container>
                            </select>
                          </div>
                        </div>
                      </td>
                      <td>
                        <input
                          class="input is-small"
                          type="text"
                          min="0"
                          placeholder="Destinataire"
                          [(ngModel)]="cpt.Destinataire"
                        />
                      </td>
                      <td>
                        <div class="field">
                          <div class="control">
                            <div class="select is-small">
                              <select [(ngModel)]="cpt.ModePaiement">
                                <option value="0">
                                  <span i18n>Espèces</span>
                                </option>
                                <option value="1">
                                  <span i18n>Carte bancaire</span>
                                </option>
                                <option value="2">
                                  <span i18n>Virement</span>
                                </option>
                                <option value="3">
                                  <span i18n>Chèque</span>
                                </option>
                                <option value="4">
                                  <span i18n>Prélèvement</span>
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="field">
                          <div class="control">
                            <div class="select is-small">
                              <select [(ngModel)]="cpt.StatutPaiement">
                                <option value="0">
                                  <span i18n>Non exécuté</span>
                                </option>
                                <option value="1">
                                  <span i18n>Exécuté</span>
                                </option>
                                <option value="-1">
                                  <span i18n>Annulé</span>
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="buttons">
                          <button
                            i18n-title
                            title="Supprimer"
                            class="button is-smallis-danger is-rounded is-outlined"
                            type="button"
                            (click)="Remove_liste(cpt)"
                          >
                            <i class="fa-solid fa-trash-can"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
               
              </div>
            </span>
          </div>
        </div>
        
        <div *ngIf="editFluxFlinancier && editFluxFlinancier.liste_operation.length > 0" class="buttons">
          <button
            class="button is-primary is-rounded is-outlined"
            type="button"
            style="fill: hsl(171, 100%, 41%)"
            (click)="Save_ff()"
          >
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
         
        </div>
      </div>
    </div>
  </div>
<div class="container" *ngIf="FluxFinanciers && context == 'COMPTA'">

  <ng-container *ngFor="let cl of ClassesComptable">
    <ng-container *ngIf="IsCC(cl)">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{cl.numero}} - {{cl.libelle}}</p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <table
          class="table"
          style="width: 100%; font-size: smaller"
          *ngIf="FluxFinanciers && FluxFinanciers.length > 0"
        >
          <thead>
            <tr>
              <th>
                <span class="th_filtre">
                  <span class="ligne">
                    <span style="font-size: smaller" i18n
                      >Date comptable</span
                    >
                    <span style="cursor: pointer">
                      <i
                        *ngIf="sort_date_ff === 'NO'"
                        (click)="Sort_ff('ASC', 'date')"
                        class="fa-solid fa-sort"
                      ></i>
                      <i
                        *ngIf="sort_date_ff === 'ASC'"
                        (click)="Sort_ff('DESC', 'date')"
                        class="fa-solid fa-sort-up"
                      ></i>
                      <i
                        *ngIf="sort_date_ff === 'DESC'"
                        (click)="Sort_ff('ASC', 'date')"
                        class="fa-solid fa-sort-down"
                      ></i> </span
                  ></span>
               
                </span>
              </th>
              <th>
                <span class="th_filtre">
                  <span class="ligne">
                    <span style="font-size: smaller" i18n>Montant</span>
                    <span style="cursor: pointer">
                      <i
                        *ngIf="sort_montant_ff === 'NO'"
                        (click)="Sort_ff('ASC', 'montant')"
                        class="fa-solid fa-sort"
                      ></i>
                      <i
                        *ngIf="sort_montant_ff === 'ASC'"
                        (click)="Sort_ff('DESC', 'montant')"
                        class="fa-solid fa-sort-up"
                      ></i>
                      <i
                        *ngIf="sort_montant_ff === 'DESC'"
                        (click)="Sort_ff('ASC', 'montant')"
                        class="fa-solid fa-sort-down"
                      ></i> </span
                  ></span>
                </span>
              </th>
              <th>
                <span class="th_filtre">
                  <span class="ligne">
                    <span style="font-size: smaller" i18n>R / D</span
                    ><span style="cursor: pointer">
                      <i
                        *ngIf="sort_sens_ff === 'NO'"
                        (click)="Sort_ff('ASC', 'sens')"
                        class="fa-solid fa-sort"
                      ></i>
                      <i
                        *ngIf="sort_sens_ff === 'ASC'"
                        (click)="Sort_ff('DESC', 'sens')"
                        class="fa-solid fa-sort-up"
                      ></i>
                      <i
                        *ngIf="sort_sens_ff === 'DESC'"
                        (click)="Sort_ff('ASC', 'sens')"
                        class="fa-solid fa-sort-down"
                      ></i>
                    </span>
                  </span>              
                </span>
              </th>
              <th>
                <span class="th_filtre">
                  <span class="ligne">
                    <span style="font-size: smaller" i18n>Libellé</span>
                    <span style="cursor: pointer">
                      <i
                        *ngIf="sort_libelle_ff === 'NO'"
                        (click)="Sort_ff('ASC', 'libelle_ff')"
                        class="fa-solid fa-sort"
                      ></i>
                      <i
                        *ngIf="sort_libelle_ff === 'ASC'"
                        (click)="Sort_ff('DESC', 'libelle_ff')"
                        class="fa-solid fa-sort-up"
                      ></i>
                      <i
                        *ngIf="sort_libelle_ff === 'DESC'"
                        (click)="Sort_ff('ASC', 'libelle_ff')"
                        class="fa-solid fa-sort-down"
                      ></i>
                    </span>
                  </span>                  
                </span>
              </th>
              <th>
                <span style="font-size: smaller" i18n>Destinataire</span>
              </th>
              <th>
                <span style="font-size: smaller" i18n>Statut</span>
              </th>
              <th><span style="font-size: smaller" i18n>Action</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cpt of FFByClass(cl.numero)">
              <td>
                {{ cpt.Date | date : "dd/MM/yyyy" }}
              </td>
              <td>
                {{ cpt.Montant }}
              </td>
              <td>
                <i
                  *ngIf="cpt.IsRecette"
                  style="color: green"
                  class="fas fa-plus-square"
                ></i>
                <i
                  *ngIf="!cpt.IsRecette"
                  style="color: red"
                  class="fas fa-minus-square"
                ></i>
              </td>
              <td>
                {{ cpt.Libelle }}
              </td>
              <td>
                {{ cpt.DestinataireLibelle }}
              </td>
              <td>
                <span *ngIf="cpt.Statut == 0" i18n>Non exécuté</span>
                <span *ngIf="cpt.Statut == 1" i18n>Exécuté</span>
                <span *ngIf="cpt.Statut == -1" i18n>Annulé</span>
              </td>
              <td>
                <div class="buttons">
                  <button
                    i18n-title
                    title="Supprimer"
                    class="button is-danger is-rounded is-outlined"
                    type="button"
                    (click)="Delete_ff(cpt)"
                  >
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                  <button
                    *ngIf="cpt.Statut != 1"
                    i18n-title
                    title="Payer maintenant"
                    class="button is-info is-rounded is-outlined"
                    type="button"
                    (click)="Payer_ff(cpt)"
                  >
                    <i class="fas fa-signature"></i>
                  </button>
                  <button
                    i18n-title
                    title="Editer"
                    class="button is-info is-rounded is-outlined"
                    type="button"
                    (click)="Read_ff(cpt)"
                  >
                    <i class="fa-solid fa-binoculars"></i>
                  </button>
                  <button
                    i18n-title
                    title="Editer"
                    class="button is-info is-rounded is-outlined"
                    type="button"
                    (click)="Edit_ff(cpt.ID)"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
