<div class="container">
  <ng-container *ngIf="!editStock">
      <ng-container *ngIf="loading">
        <progress
          class="progress is-large is-info"
          style="margin-top: 60px"
          max="100"
        >
          60%
        </progress>
        <p>Chargement en cours</p>
      </ng-container>
      <ng-container *ngIf="!loading">
        <span class="fullscreen">
          <div class="columns">
            <div class="column">
              <div class="card">
                <header class="card-header">
                  <p
                    class="card-header-title"
                    *ngIf="
                      liste_stock
                        | multifiltersStock : filters as filteredApplis
                    "
                  >
                    <span i18n>Liste des stocks</span>&nbsp;({{
                      filteredApplis.length
                    }})
                  </p>
                
                </header>
                <div class="card-content" #scrollableContent>
                  <table
                    class="table"
                    style="width: 100%; font-size: smaller">
                <thead>
                  <tr>
                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              filters.filter_libelle ? 'has-text-info' : ''" i18n>Libellé</span>
                          <span style="cursor: pointer">
                            <i
                              *ngIf="sort_libelle === 'NO'"
                              (click)="Sort('ASC', 'libelle')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_libelle === 'ASC'"
                              (click)="Sort('DESC', 'libelle')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_libelle === 'DESC'"
                              (click)="Sort('ASC', 'libelle')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </span>
                      </span>
                    </th>
                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              filters.filter_equipement || filters.filter_type_equipement ? 'has-text-info' : ''" i18n>Equipement</span>
                          <span style="cursor: pointer">
                            <i
                              *ngIf="sort_type === 'NO'"
                              (click)="Sort('ASC', 'equipement')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_type === 'ASC'"
                              (click)="Sort('DESC', 'equipement')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_type === 'DESC'"
                              (click)="Sort('ASC', 'equipement')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </span>
                      </span>
                    </th>
                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              filters.filter_date_apres ||
                              filters.filter_date_avant ? 'has-text-info' : '' " i18n >Date d'achat</span >
                          <span style="cursor: pointer">
                            <i
                              *ngIf="sort_date === 'NO'"
                              (click)="Sort('ASC', 'date')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_date === 'ASC'"
                              (click)="Sort('DESC', 'date')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_date === 'DESC'"
                              (click)="Sort('ASC', 'date')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </span>
                      </span>
                    </th>
                    <th>
                      <span>
                        <span class="ligne">
                          <span [ngClass]="filters.filter_lieu ? 'has-text-info' : '' " i18n >Lieu de stockage</span >
                          <span style="cursor: pointer">
                            <i
                              *ngIf="sort_lieu === 'NO'"
                              (click)="Sort('ASC', 'lieu')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_lieu === 'ASC'"
                              (click)="Sort('DESC', 'lieu')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_lieu === 'DESC'"
                              (click)="Sort('ASC', 'lieu')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </span>
                      </span>
                    </th>
                    <th>
                   <span i18n>Valeur d'achat</span>
                    </th>
                    <th>
                   <span i18n>Quantité</span>
                    </th>

                    <th>
                      <span i18n>Transaction</span>
                       </th>
                       <th>
                        <span i18n>Action</span>
                         </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of liste_stock | multifiltersStock : filters as filteredStock">
                    <td>
                      {{ stock.libelle }}
                    </td>
                    <td>
                      {{ stock.type_stock }}
                    </td>
                    <td>{{ stock.date_achat | date : "dd/MM/yyyy" }}</td>
                    <td>{{ stock.lieu_stockage.value }}</td>
                    <td>{{ stock.valeur_achat }}</td>
                    <td>{{ stock.qte }}</td>
                    <td>{{ GetTransaction(stock.flux_financier_id) }}</td>

                    <td>
                      <ng-container *ngIf="IsVendre">
                        <checkbox [(ngModel)]="stock.to_sell"
                          >Vendre ?</checkbox
                        >
                      </ng-container>                     
                      <div  *ngIf="!IsVendre" class="buttons" style="flex-wrap: nowrap">
                        <btn
                          i18n-title
                          title="Supprimer"
                          [type_button]="'SupprimerLight'"
                          (click)="Delete(stock)"
                        ></btn>
                        <btn
                          i18n-title
                          title="Voir"
                          [type_button]="'VoirLight'"
                          (click)="Voir(stock)"
                        ></btn>
                        <btn
                          i18n-title
                          title="Editer"
                          [type_button]="'EditerLight'"
                          (click)="Edit(stock)"
                        ></btn>
                        <btn
                          i18n-title
                          title="Vendre"
                          [type_button]="'VendreLight'"
                          (click)="Vendre(stock)"
                        ></btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="!liste_stock || liste_stock.length == 0" i18n>
                Pas de stock disponible
              </p>
              <button
              class="scroll-to-top"
              *ngIf="showScrollToTop"
              (click)="scrollToTop()"
              title="Revenir en haut"
            >
              ↑
            </button>
          </div>
          <footer class="card-footer">
            <div class="columns">
              <div class="column">
                <div *ngIf="!afficher_filtre" class="buttons">
                  <btn [type_button]="'CreerSmall'" (click)="Creer()"></btn>
                  <btn
                    [type_button]="'FiltrerSmall'"
                    (click)="
                      afficher_filtre
                        ? (afficher_filtre = false)
                        : (afficher_filtre = true)
                    "
                  ></btn>
                <btn [type_button]="'ExporterSmall'" (click)="ExporterExcel()"></btn>
                <btn *ngIf="IsVendre"  (click)="IsVendre = false" [type_button]="'RetourSmall'" ></btn>  
                <btn  (click)="Acheter()" [type_button]="'AcheterSmall'" ></btn>      
                <btn  (click)="IsVendre ? VendreList() : (IsVendre = true)" [type_button]="IsVendre ? 'VendreSmall' : 'SelectVendreSmall'" ></btn>
            </div>
            <div class="buttons" *ngIf="afficher_filtre">
              <btn
                (click)="
                  afficher_filtre = false; selected_filter = null
                "
                [type_button]="'RetourLight'"
              ></btn>
              <div
                class="field is-horizontal"
                style="gap: 0.5rem; align-items: center"
              >
                <div class="field-label is-normal">
                  <label class="label" style="white-space: nowrap" i18n
                    >Sélection du filtre</label
                  >
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div
                        class="select is-fullwidth ; font-size: smaller"
                      >
                        <select [(ngModel)]="selected_filter">
                          <option value="nom" i18n>Libellé</option>
                          <option value="date" i18n>Date</option>
                          <option value="type" i18n>Type équipement</option>
                          <option value="equipement" i18n>Equipement</option>
                          <option value="lieu" i18n>Lieu de stockage</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="selected_filter"
                  class="field-label is-normal"
                >
                  <label class="label" style="white-space: nowrap" i18n
                    >Valeur du filtre
                  </label>
                </div>
                <div class="field-body" *ngIf="selected_filter">
                  <div class="field is-narrow">
                    <div class="control">
                      <input
                        *ngIf="selected_filter == 'nom'"
                        style="width: fit-content; font-size: smaller"
                        class="input is-small"
                        i18n-placeholder
                        placeholder="Nom du stock"
                        type="text"
                        [(ngModel)]="filters.filter_libelle"
                      />

                      <div
                        class="select"
                        *ngIf="selected_filter == 'type'"
                      >
                        <select
                          style="font-size: smaller"
                          [(ngModel)]="filters.filter_type_equipement"
                        >
                          <option [ngValue]="null" i18n>Tous</option>
                          <ng-container
                            *ngFor="let te of liste_type_equipement"
                          >
                            <option [ngValue]="te">
                              {{ te }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                      <div
                        class="select"
                        *ngIf="selected_filter == 'equipement'"
                      >
                        <select
                          style="font-size: smaller"
                          [(ngModel)]="filters.filter_equipement"
                        >
                          <option [ngValue]="null" i18n>Tous</option>
                          <ng-container
                            *ngFor="let eq of liste_equipement"
                          >
                            <option [ngValue]="eq">
                              {{ eq }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                      <div
                        class="select"
                        *ngIf="selected_filter == 'lieu'"
                      >
                        <select
                          style="font-size: smaller"
                          [(ngModel)]="filters.filter_lieu"
                        >
                          <option [ngValue]="null" i18n>Tous</option>
                          <ng-container
                            *ngFor="let LS of liste_lieu"
                          >
                            <option [ngValue]="LS">
                             {{LS.value}}({{LS.type}})
                            </option>
                          </ng-container>
                        </select>
                      </div>
                      <span
                        *ngIf="selected_filter == 'date'"
                        class="ligne"
                      >
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label
                            for="groupe"
                            class="label is-small"
                            i18n
                            >Du</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date avant"
                            type="date"
                            [(ngModel)]="filters.filter_date_apres"
                          />
                        </div>
                      </span>
                      <span
                        *ngIf="selected_filter == 'date'"
                        class="ligne"
                      >
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label
                            for="groupe"
                            class="label is-small"
                            i18n
                            >Au</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date après"
                            type="date"
                            [(ngModel)]="filters.filter_date_avant"
                          />
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tags">
                  <span
                    *ngIf="filters.filter_libelle"
                    class="tag is-success"
                  >
                    <span i18n>Libelle : </span>
                    <span>{{ filters.filter_libelle }}</span>
                    <button
                      class="delete"
                      (click)="filters.filter_libelle = null"
                    ></button>
                  </span>                  

                  <span
                    *ngIf="
                      filters.filter_date_avant ||
                      filters.filter_date_apres
                    "
                    class="tag is-success"
                  >
                    <span i18n>Date d'achat : </span>
                    <span *ngIf="filters.filter_date_avant"
                      >&nbsp;>&nbsp;{{
                        filters.filter_date_avant | date : "dd/MM/yyyy"
                      }}</span
                    >
                    <span *ngIf="filters.filter_date_apres"
                      >&nbsp;<&nbsp;{{
                        filters.filter_date_apres | date : "dd/MM/yyyy"
                      }}</span
                    >
                    <button
                      class="delete"
                      (click)="
                        filters.filter_date_avant = null;
                        filters.filter_date_apres = null
                      "
                    ></button>
                  </span>

                  <span
                    *ngIf="filters.filter_lieu != null"
                    class="tag is-success"
                  >
                    <span i18n>Lieu : </span>
                    <span i18n>{{ filters.filter_lieu }}</span>

                    <button
                      class="delete"
                      (click)="filters.filter_lieu = null"
                    ></button>
                  </span>
                  <span
                    *ngIf="filters.filter_type_equipement != null"
                    class="tag is-success"
                  >
                    <span i18n>Type d'équipement : </span>
                    <span i18n>{{ filters.filter_type_equipement }}</span>

                    <button
                      class="delete"
                      (click)="filters.filter_type_equipement = null"
                    ></button>
                  </span>
                  <span
                    *ngIf="filters.filter_equipement != null"
                    class="tag is-success"
                  >
                    <span i18n>Equipement : </span>
                    <span i18n>{{ filters.filter_equipement }}</span>
                    <button
                      class="delete"
                      (click)="filters.filter_equipement = null"
                    ></button>
                  </span>
                  <btn
                    [type_button]="'SupprimerLight'"
                    (click)="ReinitFiltre()"
                    *ngIf="
                      filters.filter_date_apres ||
                      filters.filter_date_avant ||
                      filters.filter_type_equipement ||
                      filters.filter_equipement ||
                      filters.filter_libelle ||
                      filters.filter_lieu
                    "
                  >
                  </btn>
                </div>
              </div>
            </div>
            </div>
            </div>
            </footer>
              </div>
            </div>
          </div>
          </span>
      </ng-container>
</ng-container>


  <ng-container *ngIf="editStock && editMode">
    <div class="columns is-justify-content-center">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
        <div class="box">
          <h2 *ngIf="editStock.id == 0" class="title is-2" i18n>
            Créer un équipement
          </h2>
          <h2 *ngIf="editStock.id > 0" class="title is-2" i18n>
            Editer un équipement
          </h2>
          <div class="field">
            <label class="label" i18n>Type d'équipement</label>
            <div class="select">
              <select id="cours" [(ngModel)]="editStock.type_stock">
                <option value="0" i18n>Autre</option>
                <ng-container *ngFor="let st of TypeStock">
                  <option [value]="st.id">
                    {{ st.libelle }}&nbsp;({{ st.categorie }})
                  </option>
                </ng-container>
              </select>
            </div>
            <p class="help is-danger" *ngIf="!editStock.type_stock" i18n>
              La sélection d'un type de stock est obligatoire
            </p>
          </div>
          <div class="field">
            <label class="label" i18n>Lieu de stockage</label>
            <input
              class="input"
              list="liste_lieu"
              id="lieu"
              [ngModel]="editStock.lieu_stockage"
              (ngModelChange)="onInputChange($event)"
            />
            <datalist id="liste_lieu">
              <ng-container *ngFor="let option of liste_lieu">
                <option [value]="formatLieu(option)"></option>
                <!-- Affiche le texte formaté -->
              </ng-container>
            </datalist>
          </div>
          <div class="field">
            <label class="label" i18n>Date de la séance</label>

            <input
              class="input"
              id="date_seance"
              type="date"
              [(ngModel)]="editStock.date_achat"
            />
            <p class="help is-danger" *ngIf="!editStock.date_achat" i18n>
              La date d'achat doit doit être saisie
            </p>
          </div>
          <div class="field">
            <label class="label" i18n>Libellé</label>
            <input
              [class]="
                editStock.libelle.length > 4 ? 'input' : 'input is-danger'
              "
              type="text"
              id="nom_rider"
              name="nom_rider"
              i18n-placeholder
              placeholder="Nom"
              [(ngModel)]="editStock.libelle"
              required
            />
            <p class="help is-danger" *ngIf="editStock.libelle.length < 5" i18n>
              Le libellé doit faire au moins 5 caractères
            </p>
          </div>

          <div class="field">
            <label class="label" i18n>Quanité</label>
            <input
              class="input"
              id="qte"
              type="number"
              min="0"
              [(ngModel)]="editStock.qte"
            />
            <p class="help is-danger" *ngIf="!editStock.qte" i18n>
              La qunatité doit être saisie
            </p>
          </div>
          <div class="field">
            <label class="label" i18n>Valeur d'achat</label>
            <input
              class="input"
              id="valeur_achat"
              type="number"
              [(ngModel)]="editStock.valeur_achat"
            />
          </div>
          <div class="field">
            <label class="label" i18n for="place_maximum">Info stock : </label>
            <textarea class="textarea" [(ngModel)]="editStock.info"></textarea>
          </div>

          <div class="buttons">
            <button
              class="button is-primary is-rounded is-outlined"
              [disabled]="
                !editStock.type_stock ||
                !editStock.date_achat ||
                editStock.libelle.length < 5
              "
              type="button"
              style="fill: hsl(171, 100%, 41%)"
              (click)="Save()"
            >
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
            <button
              (click)="Voir(editStock)"
              class="button is-info is-rounded is-outlined"
            >
              <i class="fa-solid fa-binoculars"></i>
            </button>
            <button
              (click)="Refresh()"
              class="button is-warning is-rounded is-outlined"
              style="fill: #ffb70f"
            >
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button
              (click)="Retour()"
              class="button is-danger is-rounded is-outlined"
              style="fill: hsl(348, 100%, 61%)"
            >
              <i class="fa-solid fa-backward-fast"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!editMode"> </ng-container>
  </ng-container>
</div>
