<div class="container">
    <ng-container *ngIf="context == 'LISTE'">
        <div class="columns" style="margin-top: 0.5rem;">
            <div class="column menuligne">
                <hover-button *ngIf="(GlobalService.Menu$| async) === 'ADMIN'"
                    [nomclass]="inscrits == null ? 'button is-info is-rounded is-outlined' : 'button is-info is-rounded' "
                    [nomicon]="'fas fa-signature'" [libelle]="'Inscrits'"
                    (click)="inscrits == null ? inscrits = active_saison.id : inscrits = null;">
                </hover-button>

                <hover-button
                    [nomclass]="afficher_filtre ? 'button is-info is-rounded' : 'button is-info is-rounded  is-outlined' "
                    [nomicon]="'fa-solid fa-filter'" [libelle]="'Afficher le filtre'"
                    (click)="afficher_filtre ? afficher_filtre = false : afficher_filtre = true;">
                </hover-button>
                <button *ngIf="afficher_filtre" (click)="ReinitFiltre()"
                    class="button is-danger is-rounded is-outlined">
                    <span class="icon is-large">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-filter fa-stack-1x"></i>
                            <i class="fas fa-slash fa-stack-1x has-text-danger"></i>
                        </span>
                    </span>
                </button>
                <hover-button *ngIf="(GlobalService.Menu$| async) === 'ADMIN'"
                    [nomclass]="'button  is-rounded is-primary is-outlined' " [nomicon]="'fas fa-file-excel'"
                    [libelle]="'Exporter vers Excel'" (click)="ExporterExcel()">
                </hover-button>

                <hover-button *ngIf="(GlobalService.Menu$| async) === 'ADMIN'"
                    [nomclass]="'button  is-rounded is-primary is-outlined' " [nomicon]="'far fa-file-excel'"
                    [libelle]="'Importer un fichier Excel'" (click)="ImporterExcel()">
                </hover-button>
                <div *ngIf="(GlobalService.Menu$| async) === 'ADMIN'" class="field has-addons">
                    <div class="control">
                        <div class="select">
                            <select [(ngModel)]="active_saison">
                                <ng-container *ngFor="let saison of liste_saison">
                                    <option [ngValue]="saison">{{saison.nom}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title" i18n>Liste des adhérents</p>
                        <button *ngIf="(GlobalService.Menu$| async) === 'ADMIN'" type="button" (click)="Creer()" class="button is-primary is-rounded is-outlined"
                            style="align-self: center; ;fill:hsl(171, 100%, 41%)">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </header>
                    <span class="fullscreen">
                        <div class="card-content">
                            <table class="table" style="width: 100%;font-size:smaller"
                                *ngIf="liste_adherents_VM && liste_adherents_VM.length> 0">
                                <thead>
                                    <tr>
                                        <th><span class="th_filtre">
                                                <span class="ligne">
                                                    <span style="font-size: smaller;" i18n>Nom</span>
                                                    <span style="cursor: pointer;">
                                                        <i *ngIf="sort_nom === 'NO'" (click)="Sort('ASC', 'nom')"
                                                            class="fa-solid fa-sort"></i>
                                                        <i *ngIf="sort_nom === 'ASC'" (click)="Sort('DESC', 'nom')"
                                                            class="fa-solid fa-sort-up"></i>
                                                        <i *ngIf="sort_nom === 'DESC'" (click)="Sort('ASC', 'nom')"
                                                            class="fa-solid fa-sort-down"></i>
                                                    </span>
                                                </span>
                                                <input *ngIf="afficher_filtre"
                                                    style="width: fit-content;font-size:smaller;" class="input is-small"
                                                    i18n-placeholder placeholder="Nom du cours" type="text"
                                                    [(ngModel)]="filter_nom">
                                            </span>
                                        </th>
                                        <th><span class="th_filtre">
                                                <span class="ligne">
                                                    <span style="font-size: smaller;" i18n>Date de naissance</span>
                                                    <span style="cursor: pointer;">
                                                        <i *ngIf="sort_date === 'NO'" (click)="Sort('ASC', 'date')"
                                                            class="fa-solid fa-sort"></i>
                                                        <i *ngIf="sort_date === 'ASC'" (click)="Sort('DESC', 'date')"
                                                            class="fa-solid fa-sort-up"></i>
                                                        <i *ngIf="sort_date === 'DESC'" (click)="Sort('ASC', 'date')"
                                                            class="fa-solid fa-sort-down"></i>
                                                    </span></span>
                                                <span *ngIf="afficher_filtre" class="ligne">
                                                    <div style="gap: 6px;"
                                                        class="field is-small is-horizontal field-jecha">
                                                        <label for="groupe" class="label is-small" i18n>Du</label>
                                                        <input style="width: fit-content;" class="input is-small"
                                                            i18n-placeholder placeholder="Filtre date avant" type="date"
                                                            [(ngModel)]="filter_date_apres">

                                                    </div>
                                                </span>
                                                <span *ngIf="afficher_filtre" class="ligne">
                                                    <div style="gap: 6px;"
                                                        class="field is-small is-horizontal field-jecha">
                                                        <label for="groupe" class="label is-small" i18n>Au</label>
                                                        <input style="width: fit-content;" class="input is-small"
                                                            i18n-placeholder placeholder="Filtre date après" type="date"
                                                            [(ngModel)]="filter_date_avant">
                                                    </div>
                                                </span>
                                            </span>
                                        </th>
                                        <th><span class="th_filtre">
                                                <span class="ligne">
                                                    <span style="font-size: smaller;" i18n>Sexe</span><span
                                                        style="cursor: pointer;">
                                                        <i *ngIf="sort_sexe === 'NO'" (click)="Sort('ASC', 'sexe')"
                                                            class="fa-solid fa-sort"></i>
                                                        <i *ngIf="sort_sexe === 'ASC'" (click)="Sort('DESC', 'sexe')"
                                                            class="fa-solid fa-sort-up"></i>
                                                        <i *ngIf="sort_sexe === 'DESC'" (click)="Sort('ASC', 'sexe')"
                                                            class="fa-solid fa-sort-down"></i>
                                                    </span>
                                                </span>
                                                <span *ngIf="afficher_filtre" class="ligne">
                                                    <div class="select">
                                                        <select style="font-size:smaller;" [(ngModel)]="filter_sexe">
                                                            <option [ngValue]="null" i18n>Tous</option>
                                                            <option [ngValue]="0" i18n>Femme</option>
                                                            <option [ngValue]="1" i18n>Homme</option>
                                                        </select>
                                                    </div>
                                                </span>

                                            </span>
                                        </th>
                                        <th><span class="th_filtre">
                                                <span style="font-size: smaller;" i18n>Groupes</span>
                                                <span *ngIf="afficher_filtre" class="ligne">
                                                    <div class="select">
                                                        <select style="font-size:smaller;" [(ngModel)]="filter_groupe">
                                                            <option [ngValue]="null" i18n>Tous</option>
                                                            <ng-container *ngFor="let gr of liste_groupe">
                                                                <option [ngValue]="gr.id">{{gr.nom}}</option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </span>

                                            </span>
                                        </th>
                                        <th>Contact</th>
                                        <th>Inscrit</th>
                                        <th><span style="font-size: smaller;" i18n>Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let adherent of liste_adherents_VM | filterLibelleNom : filter_nom | filterInscriptionSaison : inscrits  | filterDDNAvant : filter_date_avant | filterDDNApres : filter_date_apres | filterSexe : filter_sexe">
                                        <td>
                                            {{adherent.Libelle}}
                                        </td>
                                        <td>
                                            {{ adherent.DDN | date: 'dd/MM/yyyy' }}
                                            ({{calculateAge(adherent.DDN)}}&nbsp;<span i18n>ans</span>)
                                        </td>
                                        <td>
                                            <i *ngIf="adherent.Sexe" class="fa-solid fa-mars has-text-info"></i>
                                            <i *ngIf="!adherent.Sexe" class="fa-solid fa-venus has-text-danger"></i>

                                        </td>

                                        <td>
                                            <div class="tags">
                                                <ng-container *ngFor="let gr of adherent.Groupes">
                                                    <span class="tag is-success">
                                                        {{gr.nom}}
                                                    </span>
                                                </ng-container>
                                            </div>
                                        </td>
                                        <td>
                                            <span *ngIf="adherent.ContactPrefereType=='EMAIL'"><i
                                                    class="fas fa-at"></i></span>
                                            <span *ngIf="adherent.ContactPrefereType=='PHONE'"><i
                                                    class="fas fa-phone"></i></span>
                                            <span *ngIf="adherent.ContactPrefereType=='INSTA'"><i
                                                    class="fab fa-instagram-square"></i></span>
                                            <span *ngIf="adherent.ContactPrefereType=='FACEBOOK'"><i
                                                    class="fab fa-facebook-square"></i></span>
                                            <span *ngIf="adherent.ContactPrefereType=='TWITTER'"><i
                                                    class="fab fa-twitter-square"></i></span>
                                            <span>&nbsp;{{adherent.ContactPrefere}}</span>
                                        </td>
                                        <td>
                                            <i *ngIf="!isRegistred(adherent)" class="fas fa-times "></i>
                                            <i *ngIf="isRegistred(adherent)" class="fas fa-check has-text-success"></i>
                                        </td>
                                        <td>
                                            <div class="buttons">
                                                <button i18n-title title="Supprimer"
                                                    *ngIf="(GlobalService.Menu$| async) === 'ADMIN'"
                                                    class="button is-danger is-rounded is-outlined" type="button"
                                                    (click)="Delete(adherent)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                                <button *ngIf="!isRegistred(adherent)" i18n-title title="Inscrire"
                                                    class="button is-info is-rounded is-outlined" type="button"
                                                    (click)="Register(adherent, active_saison.id, true)">
                                                    <i class="fas fa-signature"></i>
                                                </button>
                                                <button i18n-title title="Editer"
                                                    class="button is-info is-rounded is-outlined" type="button"
                                                    (click)="Read(adherent)">
                                                    <i class="fa-solid fa-binoculars"></i>
                                                </button>
                                                <button i18n-title title="Editer"
                                                    class="button is-info is-rounded is-outlined" type="button"
                                                    (click)="Edit(adherent)">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p *ngIf="!liste_adherents_VM || liste_adherents_VM.length ==0">Pas de séances
                                disponible</p>
                        </div>
                    </span>
                    <span class="mobile">
                        <ng-container *ngFor="let adherent of liste_adherents_VM">
                            <div class="box">
                                <article class="media">
                                    <div class="media-content">
                                        <span class="title"
                                            (click)="Edit(adherent)"><strong>{{adherent.Libelle}}</strong></span>
                                        <div>{{adherent.DDN | date: 'dd/MM/yyyy'
                                            }}&nbsp;{{calculateAge(adherent.DDN)}}



                                        </div>

                                    </div>
                                </article>
                            </div>
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="context == 'ECRITURE'">
        <div class="columns is-justify-content-center">
            <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
                <div *ngIf="thisAdherent" class="box">

                    <h2 *ngIf="thisAdherent.ID==0" class="title is-2" i18n>Créer un adhérent
                    </h2>
                    <h2 *ngIf="thisAdherent.ID>0" class="title is-2" i18n>Editer un adhérent</h2>
                    <div class="field">
                        <label class="label" i18n>Nom</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.libelle ? 'input' : 'input is-danger'" type="text"
                                id="nom_rider" name="nom_rider" i18n-placeholder placeholder="Nom"
                                [(ngModel)]="thisAdherent.Nom">

                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Prénom</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.libelle? 'input' : 'input is-danger'" type="text"
                                id="prenom_rider" name="prenom_rider" i18n-placeholder placeholder="Prénom"
                                [(ngModel)]="thisAdherent.Prenom">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Surnom</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.libelle? 'input' : 'input is-danger'" type="text"
                                id="prenom_rider" name="prenom_rider" i18n-placeholder placeholder="Prénom"
                                [(ngModel)]="thisAdherent.Surnom">
                        </div>
                    </div>
                    <p class="help is-danger" *ngIf="!thisAdherent.valid.libelle" i18n>L'ensemble Prénom / Nom /
                        Surnom doit contenir au moins 2 caractères
                    </p>
                    <div class="field">
                        <label class="label" i18n>Date de naissance</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.date_naissance ? 'input' : 'input is-danger'" type="date"
                                id="date_naissance" name="date_naissance" i18n-placeholder
                                placeholder="Date de naissance" [(ngModel)]="thisAdherent.DDN">
                            <p class="help is-danger" *ngIf="!thisAdherent.valid.date_naissance" i18n>La date de
                                naissance doit être
                                saisie</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Sexe :</label>
                        <div class="buttons has-addons is-centered">
                            <button type="button" style="font-size: small;"
                                [class]="thisAdherent.Sexe == true ? 'button is-link is-active' : 'button is-active'"
                                (click)="thisAdherent.Sexe == true ? thisAdherent.Sexe = false : thisAdherent.Sexe = true">
                                <span i18n>Homme</span></button>
                            <button type="button" style="font-size: small;"
                                [class]="thisAdherent.Sexe == false ? 'button is-link is-active' : 'button is-active'"
                                (click)="thisAdherent.Sexe == true ? thisAdherent.Sexe = false : thisAdherent.Sexe = true">
                                <span i18n>Femme</span></button>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Adresse :</label>
                        <app-address [valid_address]="valid_address" [Adresse]="thisAdherent.Adresse"
                            (validAdresseChange)="onValidAdresseChange($event)"
                            (AdresseChange)="onAdresseChange($event)"></app-address>
                    </div>
                    <p class="help is-danger" *ngIf="!valid_address" i18n>L'adresse doit être saisie (voie, code postal
                        et ville)</p>
                    <app-contact-item [valid_mail]="valid_mail" [valid_tel]="valid_tel" [Notes]="'Notes'"
                        [Titre]="'Contacts : '" [Contacts]="thisAdherent.Contacts"
                        (validMailChange)="onValidMailChange($event)" (validTelChange)="onValidTelChange($event)"
                        (validContactChange)="onValidContactChange($event)"></app-contact-item>
                    <p class="help is-danger" *ngIf="!valid_mail" i18n>Au moins un mail doit être saisi</p>
                    <p class="help is-danger" *ngIf="!valid_mail" i18n>Au moins un téléphone doit être saisi</p>

                    <app-contact-item [Notes]="'Relation'" [Titre]="'Contact à prévenir : '"
                        [Contacts]="thisAdherent.ContactsUrgence"
                        (validContactChange)="onValidContactUrgenceChange($event)">
                    </app-contact-item>
                    <div *ngIf="(GlobalService.Menu$| async) === 'ADMIN' || (GlobalService.Menu$| async) === 'PROF' "
                        class="field">
                        <label class="label" i18n for="place_maximum">Groupes :</label>
                        <app-groupe-detail [title]="titre_groupe" [Groupes]="thisAdherent.Groupes"
                            [liste_groupe]="liste_groupe"></app-groupe-detail>
                    </div>
                </div>
                <div *ngIf="thisAdherent" class="buttons">
                    <button class="button is-primary is-rounded is-outlined"
                        [disabled]="!thisAdherent.valid.control || !this.valid_address || !this.valid_mail || !this.valid_tel"
                        type="button" style="fill:hsl(171, 100%, 41%)" (click)="Save()">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                    <button (click)="ChargerAdherent()" class="button is-warning is-rounded is-outlined"
                        style="fill:#FFB70F">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </button>
                    <button *ngIf="thisAdherent.ID>0"
                        (click)="Retour('LECTURE')" class="button is-info is-rounded is-outlined">
                        <i class="fa-solid fa-binoculars"></i>
                    </button>
                    <button *ngIf="(GlobalService.Menu$| async) === 'ADMIN' || (GlobalService.Menu$| async) === 'PROF'"
                        (click)="Retour('LISTE')" class="button is-danger is-rounded is-outlined"
                        style="fill:hsl(348, 100%, 61%)">
                        <i class="fa-solid fa-backward-fast"></i>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="context == 'LECTURE'">
        <div class="columns is-justify-content-center">
            <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
                <div *ngIf="thisAdherent" class="box">
                    <h3 class="title is-3" i18n>{{thisAdherent.Libelle}}</h3>
                    <div class="field">
                        <label class="label" i18n>Date de naissance (Age)</label>
                        <div>{{thisAdherent.DDN | date: 'dd/MM/yyyy'
                            }}&nbsp;({{calculateAge(thisAdherent.DDN)}}&nbsp;<span i18n>ans</span>)
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Sexe</label>
                        <i *ngIf="thisAdherent.Sexe" class="fa-solid fa-mars has-text-info"></i>
                        <i *ngIf="!thisAdherent.Sexe" class="fa-solid fa-venus has-text-danger"></i>

                    </div>

                    <div class="field">
                        <label class="label" i18n>Groupes</label>
                        <div class="tags">
                            <ng-container *ngFor="let gr of thisAdherent.Groupes">
                                <span class="tag is-success">
                                    {{gr.nom}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Contacts</label>
                        <ng-container *ngFor="let cont of thisAdherent.Contacts">
                            <span *ngIf="cont.Type=='EMAIL'"><i class="fas fa-at"></i></span>
                            <span *ngIf="cont.Type=='PHONE'"><i class="fas fa-phone"></i></span>
                            <span *ngIf="cont.Type=='INSTA'"><i class="fab fa-instagram-square"></i></span>
                            <span *ngIf="cont.Type=='FACEBOOK'"><i class="fab fa-facebook-square"></i></span>
                            <span *ngIf="cont.Type=='TWITTER'"><i class="fab fa-twitter-square"></i></span>
                            <span>&nbsp;{{cont.Value}}</span>
                            <br>
                        </ng-container>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Contacts en cas d'urgence</label>
                        <ng-container *ngFor="let cont of thisAdherent.ContactsUrgence">
                            <span *ngIf="cont.Type"><i class="fas fa-at"></i></span>
                            <span *ngIf="cont.Type=='PHONE'"><i class="fas fa-phone"></i></span>
                            <span *ngIf="cont.Type=='INSTA'"><i class="fab fa-instagram-square"></i></span>
                            <span *ngIf="cont.Type=='FACEBOOK'"><i class="fab fa-facebook-square"></i></span>
                            <span *ngIf="cont.Type=='TWITTER'"><i class="fab fa-twitter-square"></i></span>
                            <span>&nbsp;{{cont.Value}} - {{cont.Notes}}</span>
                            <br>
                        </ng-container>
                    </div>
                    <div *ngIf="(GlobalService.Menu$| async) === 'ADMIN' || (GlobalService.Menu$| async) === 'PROF'" class="field">
                        <label class="label" i18n>Inscriptions</label>
                        <table *ngIf="thisAdherent.Adhesions">
                            <thead>
                                <th>Saison</th>
                                <th>Inscrit</th>
                                <th *ngIf="(GlobalService.Menu$| async) === 'ADMIN'"></th>
                            </thead>
                            <ng-container *ngFor="let ss of liste_saison">
                                <tr>
                                    <td>{{getSaison(ss.id)}}</td>
                                    <td>
                                        <i *ngIf="!isRegistredSaison(ss.id)" class="fas fa-times "></i>
                                        <i *ngIf="isRegistredSaison(ss.id)" class="fas fa-check has-text-success"></i>
                                    </td>
                                    <td *ngIf="(GlobalService.Menu$| async) === 'ADMIN'">
                                        <hover-button *ngIf="!isRegistredSaison(ss.id)"
                                            [nomclass]="'button  is-rounded is-primary is-outlined' "
                                            [nomicon]="'fas fa-signature'" [libelle]="libelle_inscription"
                                            (click)="Register(thisAdherent, ss.id, false)">
                                        </hover-button>
                                        <hover-button *ngIf="!isRegistredSaison(ss.id)"
                                            [nomclass]="'button  is-rounded is-primary is-outlined' "
                                            [nomicon]="'fas fa-receipt'" [libelle]="libelle_inscription_avec_paiement"
                                            (click)="Register(thisAdherent, ss.id, true)">
                                        </hover-button>
                                        <hover-button *ngIf="isRegistredSaison(ss.id)"
                                            [nomclass]="'button is-outlined is-rounded is-danger' " [remove]="true"
                                            [nomicon]="'fas fa-signature'" [libelle]="libelle_retirer_inscription"
                                            (click)="RemoveRegister(ss.id)">
                                        </hover-button>
                                        <hover-button *ngIf="isRegistredSaison(ss.id)"
                                            [nomclass]="'button  is-rounded is-info is-outlined' "
                                            [nomicon]="'fas fa-money-check-alt'" [libelle]="'Voir paiement'"
                                            (click)="VoirPaiement()">
                                        </hover-button>

                                    </td>
                                </tr>

                            </ng-container>

                        </table>

                    </div>
                    <div class="field">
                        <label class="label" i18n>Compte</label>

                    </div>
                </div>
                <div *ngIf="thisAdherent" class="buttons">
                    <button i18n-title title="Editer" class="button is-info is-rounded is-outlined" type="button"
                        (click)="Edit(thisAdherent)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button *ngIf="(GlobalService.Menu$| async) === 'ADMIN' || (GlobalService.Menu$| async) === 'PROF'"
                        (click)="Retour('LISTE')" class="button is-danger is-rounded is-outlined"
                        style="fill:hsl(348, 100%, 61%)">
                        <i class="fa-solid fa-backward-fast"></i>
                    </button>
                </div>
            </div>
        </div>

    </ng-container>
</div>