<div class="container">

    <ng-container *ngIf="context == 'LISTE'">
        <div class="columns">
            <div class="column">
                <button type="button" (click)="inscrits == null ? inscrits = active_saison.id : inscrits = null;"
                    [class]="inscrits == null ? 'button is-info is-rounded is-outlined' : 'button is-info is-rounded' ">
                    <i class="fa-solid fa-registered"></i>
                </button>
                <span class="fullscreen">
                    <button type="button" title="Filtrer" i18n-title (click)="afficher_filtre ? afficher_filtre = false : afficher_filtre = true;"
                        [class]="afficher_filtre ? 'button is-info is-rounded' : 'button is-info is-rounded  is-outlined' ">
                        <i class="fa-solid fa-filter"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title" i18n>Liste des adhérents</p>
                        <button type="button" (click)="Creer()" class="button is-primary is-rounded is-outlined"
                            style="align-self: center; ;fill:hsl(171, 100%, 41%)">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </header>
                    <span class="fullscreen">
                        <div class="card-content">
                            <table class="table" style="width: 100%;font-size:smaller"
                                *ngIf="liste_adherents_VM && liste_adherents_VM.length> 0">
                                <thead>
                                    <tr>
                                        <th><span class="th">
                                                <span class="ligne"> <span style="font-size: smaller;" i18n>Nom</span>
                                                <span style="cursor: pointer;">
                                                    <i *ngIf="sort_nom === 'NO'" (click)="Sort('ASC', 'nom')" class="fa-solid fa-sort"></i>
                                                    <i *ngIf="sort_nom === 'ASC'" (click)="Sort('DESC', 'nom')" class="fa-solid fa-sort-up"></i>
                                                    <i *ngIf="sort_nom === 'DESC'" (click)="Sort('ASC', 'nom')" class="fa-solid fa-sort-down"></i>
                                                 </span>
                                                      </span>
                                                <input *ngIf="afficher_filtre"
                                                    style="width: fit-content;font-size:smaller;" class="input is-small"
                                                    i18n-placeholder placeholder="Nom du cours" type="text"
                                                    [(ngModel)]="filter_nom">
                                            </span>
                                        </th>
                                        <th><span class="th">
                                                <span class="ligne">
                                                    <span style="font-size: smaller;" i18n>Date de naissance</span>
                                                    <span style="cursor: pointer;">
                                                        <i *ngIf="sort_date === 'NO'" (click)="Sort('ASC', 'date')" class="fa-solid fa-sort"></i>
                                                        <i *ngIf="sort_date === 'ASC'" (click)="Sort('DESC', 'date')" class="fa-solid fa-sort-up"></i>
                                                        <i *ngIf="sort_date === 'DESC'" (click)="Sort('ASC', 'date')" class="fa-solid fa-sort-down"></i>
                                                     </span></span>
                                                <span *ngIf="afficher_filtre" class="ligne">
                                                    <div style="gap: 6px;"
                                                        class="field is-small is-horizontal field-jecha">
                                                        <label for="groupe" class="label is-small">Après le</label>
                                                        <input style="width: fit-content;" class="input is-small"
                                                            i18n-placeholder placeholder="Filtre date avant" type="date"
                                                            [(ngModel)]="filter_date_avant">

                                                    </div>
                                                    <div style="gap: 6px;"
                                                        class="field is-small is-horizontal field-jecha">
                                                        <label for="groupe" class="label is-small">Avant le</label>
                                                        <input style="width: fit-content;" class="input is-small"
                                                            i18n-placeholder placeholder="Filtre date après" type="date"
                                                            [(ngModel)]="filter_date_apres">
                                                    </div>
                                                </span>
                                            </span>
                                        </th>
                                        <th><span class="th">
                                                <span class="ligne">
                                                    <span style="font-size: smaller;" i18n>Sexe</span><span
                                                        style="cursor: pointer;">
                                                        <i *ngIf="sort_sexe === 'NO'" (click)="Sort('ASC', 'sexe')" class="fa-solid fa-sort"></i>
                                                        <i *ngIf="sort_sexe === 'ASC'" (click)="Sort('DESC', 'sexe')" class="fa-solid fa-sort-up"></i>
                                                        <i *ngIf="sort_sexe === 'DESC'" (click)="Sort('ASC', 'sexe')" class="fa-solid fa-sort-down"></i>
                                                    </span>
                                                    <span *ngIf="afficher_filtre" class="ligne">
                                                        <div class="select">
                                                            <select style="font-size:smaller;"
                                                                [(ngModel)]="filter_sexe">
                                                                <option [ngValue]="null" i18n>Tous</option>
                                                                <option [ngValue]="0" i18n>Femme</option>
                                                                <option [ngValue]="1" i18n>Homme</option>
                                                            </select>
                                                        </div>
                                                    </span>
                                                </span>

                                            </span>
                                        </th>
                                        <th><span class="th">
                                                <span class="ligne">
                                                    <span style="font-size: smaller;" i18n>Groupes</span>
                                                    <span *ngIf="afficher_filtre" class="ligne">
                                                        <div class="select">
                                                            <select style="font-size:smaller;"
                                                                [(ngModel)]="filter_groupe">
                                                                <option [ngValue]="null" i18n>Tous</option>
                                                                <ng-container *ngFor="let gr of liste_groupe">
                                                                    <option [ngValue]="gr.id">{{gr.nom}}</option>
                                                                </ng-container>
                                                            </select>
                                                        </div>
                                                    </span>
                                                </span>

                                            </span>
                                        </th>

                                        <th><span style="font-size: smaller;" i18n>Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let adherent of liste_adherents_VM | filterLibelleNom : filter_nom | filterInscriptionSaison : inscrits  | filterDDNAvant : filter_date_avant | filterDDNApres : filter_date_apres | filterSexe : filter_sexe">
                                        <td>
                                            {{adherent.Libelle}}
                                        </td>
                                        <td>
                                            {{ adherent.DDN | date: 'dd/MM/yyyy' }} ({{calculateAge(adherent.DDN)}})
                                        </td>
                                        <td>
                                            <i *ngIf="adherent.Sexe" class="fa-solid fa-mars"></i>
                                            <i *ngIf="!adherent.Sexe" class="fa-solid fa-venus"></i>
                                            
                                        </td>

                                        <td>
                                            <div class="tags">
                                                <ng-container *ngFor="let gr of adherent.Groupes">
                                                    <span class="tag is-success">
                                                        {{gr.nom}}
                                                    </span>
                                                </ng-container>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="buttons">
                                                <button i18n-title title="Supprimer"
                                                    class="button is-danger is-rounded is-outlined" type="button"
                                                    (click)="Delete(adherent)" style="fill:hsl(348, 100%, 61%)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>

                                                <button i18n-title title="Editer"
                                                    class="button is-info is-rounded is-outlined" type="button"
                                                    style="fill: hsl(204, 86%, 53%)	;" (click)="Edit(adherent)">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p *ngIf="!liste_adherents_VM || liste_adherents_VM.length ==0">Pas de séances
                                disponible</p>
                        </div>
                    </span>
                    <span class="mobile">
                        <ng-container *ngFor="let adherent of liste_adherents_VM">
                            <div class="box">
                                <article class="media">
                                    <div class="media-content">
                                        <span class="title"
                                            (click)="Edit(adherent)"><strong>{{adherent.Libelle}}</strong></span>
                                        <div>{{adherent.DDN | date: 'dd/MM/yyyy'
                                            }}&nbsp;{{calculateAge(adherent.DDN)}}



                                        </div>

                                    </div>
                                </article>
                            </div>
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="context == 'ECRITURE'">
        <div class="columns is-justify-content-center">
            <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
                <div class="box">

                    <h2 *ngIf="thisAdherent.ID==0" class="title is-2" i18n>Créer un adhérent
                    </h2>
                    <h2 *ngIf="thisAdherent.ID>0" class="title is-2" i18n>Editer un adhérent</h2>
                    {{thisAdherent.Libelle}}
                    <div class="field">
                        <label class="label" i18n>Nom</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.libelle ? 'input' : 'input is-danger'" type="text"
                                id="nom_rider" name="nom_rider" i18n-placeholder placeholder="Nom"
                                [(ngModel)]="thisAdherent.Nom">
                            <p class="help is-danger" *ngIf="!thisAdherent.valid.libelle" i18n>L'ensemble Prénom / Nom / Surnom doit contenir au moins 2 caractères
                            </p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Prénom</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.libelle? 'input' : 'input is-danger'" type="text"
                                id="prenom_rider" name="prenom_rider" i18n-placeholder placeholder="Prénom"
                                [(ngModel)]="thisAdherent.Prenom">
                                <p class="help is-danger" *ngIf="!thisAdherent.valid.libelle" i18n>L'ensemble Prénom / Nom / Surnom doit contenir au moins 2 caractères
                                </p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Surnom</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.libelle? 'input' : 'input is-danger'" type="text"
                                id="prenom_rider" name="prenom_rider" i18n-placeholder placeholder="Prénom"
                                [(ngModel)]="thisAdherent.Surnom">
                                <p class="help is-danger" *ngIf="!thisAdherent.valid.libelle" i18n>L'ensemble Prénom / Nom / Surnom doit contenir au moins 2 caractères
                                </p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Date de naissance</label>
                        <div class="control ">
                            <input [class]="thisAdherent.valid.date_naissance ? 'input' : 'input is-danger'" type="date"
                                id="date_naissance" name="date_naissance" i18n-placeholder
                                placeholder="Date de naissance" [(ngModel)]="thisAdherent.DDN">
                            <p class="help is-danger" *ngIf="!thisAdherent.valid.date_naissance" i18n>La date de
                                naissance doit être
                                saisie</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Sexe :</label>
                        <div class="buttons has-addons is-centered">
                            <button type="button" style="font-size: small;"
                                [class]="thisAdherent.Sexe == true ? 'button is-link is-active' : 'button is-active'"
                                (click)="thisAdherent.Sexe == true ? thisAdherent.Sexe = false : thisAdherent.Sexe = true">
                                <span i18n>Homme</span></button>
                            <button type="button" style="font-size: small;"
                                [class]="thisAdherent.Sexe == false ? 'button is-link is-active' : 'button is-active'"
                                (click)="thisAdherent.Sexe == true ? thisAdherent.Sexe = false : thisAdherent.Sexe = true">
                                <span i18n>Femme</span></button>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Adresse :</label>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Contact :</label>
                    </div>
                    <div class="field">
                        <label class="label" i18n>Contact à prévenir :</label>

                    </div>
                </div>

                <div class="buttons">
                    <button class="button is-primary is-rounded is-outlined" [disabled]="!thisAdherent.valid.control"
                        type="button" style="fill:hsl(171, 100%, 41%)" (click)="Save()">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                    <button (click)="ChargerAdherent()" class="button is-warning is-rounded is-outlined"
                        style="fill:#FFB70F">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </button>
                    <button *ngIf="thisAdherent.ID>0 && (GlobalService.Menu$ | async) != 'ADHERENT'" (click)="Retour('LECTURE')" class="button is-info is-rounded is-outlined"
                       >
                       <i class="fa-solid fa-binoculars"></i>
                    </button>
                    <button (click)="Retour('LISTE')" class="button is-danger is-rounded is-outlined"
                        style="fill:hsl(348, 100%, 61%)">
                        <i class="fa-solid fa-backward-fast"></i>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="context == 'LECTURE'">


    </ng-container>
</div>