.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2px;
  align-items: flex-start;

}
td{
  padding: 0px;
}

.listofbox{
  font-size: small;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row
}
.columns.is-marginless {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
