 <div class="box is-light">
    <div class="is-flex is-justify-content-space-between is-align-items-center mb-3">
      <h3 class="subtitle is-6 has-text-primary has-text-weight-semibold">{{Titre}}</h3>
      <btn *ngIf="!thisContact" [type_button]="'CreerLight'" (click)="Add()"></btn>
        </div>

      <div class="mb-2">
    <p *ngIf="!rNbContactMax.key" class="is-small help is-danger">{{rNbContactMax.value}}</p>
    <p *ngIf="!rNbContactMin.key" class="is-small help is-danger">{{rNbContactMin.value}}</p>
    <p *ngIf="!rMail.key"         class="is-small help is-danger">{{rMail.value}}</p>
    <p *ngIf="!rTel.key"          class="is-small help is-danger">{{rTel.value}}</p>
  </div>
<div class="columns is-vcentered is-mobile is-multiline is-marginless">
  <div class="column is-full" *ngIf="thisContact">
    <table class="table is-fullwidth is-striped is-hoverable is-narrow">
      <thead>
        <tr>
          <th i18n>Type</th>
          <th i18n>Valeur</th>
          <th i18n>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="control">
              <div class="select is-small">
                <select [(ngModel)]="thisContact.Type" (blur)="autoSave()">
                  <option value="EMAIL" i18n>Email</option>
                  <option value="PHONE" i18n>Téléphone</option>
                  <option value="INSTAGRAM" i18n>Instagram</option>
                  <option value="FACEBOOK" i18n>Facebook</option>
                  <option value="TWITTER" i18n>Twitter</option>
                </select>
              </div>
            </div>
          </td>
          <td>
            <input class="input is-small" style="width:150px" title="valeur à renseigner"
                   [(ngModel)]="thisContact.Value" (blur)="autoSave()">
          </td>
          <td>
            <input maxlength="20" class="input is-small" title="Notes supplémentaires" style="width:100px"
                   [(ngModel)]="thisContact.Notes" (blur)="autoSave()">
          </td>
          <td>
            <btn [disabled]="!IsValid(thisContact)" [type_button]="'SauvegarderSmallLight'" (click)="Save()"></btn>
            <btn [type_button]="'AnnulerSmallLight'" (click)="DontSave()"></btn>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-container *ngFor="let cont of Contacts; let i = index; trackBy: trackByIndex">
    <div class="column is-full">
      <div class="box listofbox" style="font-size: small;">
        <div *ngIf="!thisContact" class="actions" style="margin-right: 2px;">
          
  <button [class]="cont.Pref ? 'button is-small is-primary is-light btn-compact is-outlined' : 'button is-small is-primary is-light btn-compact'" (click)="!cont.Pref ? NewPref(i) : ''" aria-label="Préférence">
    <span class="icon"><i class="fab fa-get-pocket"></i></span>
  </button>
          <btn [type_button]="'EditerSmallLight'" (click)="Edit(i)"></btn>
          <btn [type_button]="'SupprimerSmallLight'" (click)="Delete(i)"></btn>
        </div>

        <span *ngIf="cont.Type=='EMAIL'"><i class="fas fa-at"></i></span>
        <span *ngIf="cont.Type=='PHONE'"><i class="fas fa-phone"></i></span>
        <span *ngIf="cont.Type=='INSTAGRAM'"><i class="fab fa-instagram-square"></i></span>
        <span *ngIf="cont.Type=='FACEBOOK'"><i class="fab fa-facebook-square"></i></span>
        <span *ngIf="cont.Type=='TWITTER'"><i class="fab fa-twitter-square"></i></span>
        <span class="ml-1">{{cont.Value}}</span>
        <span class="ml-1">{{cont.Notes}}</span>
      </div>
    </div>
  </ng-container>
</div>

</div>