<div class="container">
  <ng-container *ngIf="loading">
    <progress class="progress is-large is-info" max="100">60%</progress>
    <p>Chargement en cours</p>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="columns is-justify-content-center">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
        <div class="box">
          <h3 class="title is-3" i18n>Connexion</h3>
          <h6 class="subtitle is-6">{{libelle_titre}}</h6>
          <div class="field">
            <p *ngIf="!selectedLogin" class="control has-icons-left has-icons-right">
              <input  [class]="VM.isLoginValid ? 'input' : 'input is-danger'"  (ngModelChange)="validateLogin()" (keypress)="onKeyPress($event)" 
  (input)="validateLogin()" [(ngModel)]="VM.Login" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span *ngIf="VM.isLoginValid" class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
            <p *ngIf="selectedLogin">{{VM.Login}} <btn [type_button]="'AnnulerSmallLight'" (click)="selectedLogin=false; VM.mdp_requis=false"></btn></p>
          </div>
          <div *ngIf="VM.mdp_requis" class="field">
          <h6 *ngIf="context == 'CREATE' && !VM.creer_compte" class="subtitle is-6" i18n>Ce compte est protégé par un mot de passe, merci de saisir le mot de passe projet pour créer un adhérent sur ce compte.</h6>
            <p class="control has-icons-left has-icons-right">
              <input *ngIf="VM.mdp_requis" [class]="VM.isPasswordValid ? 'input' : 'input is-danger'"   (ngModelChange)="validatePassword($event)" [(ngModel)]="VM.Password" (keypress)="onKeyPress($event)" type="password" placeholder="Password">

              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span *ngIf="VM.isPasswordValid" class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
            <p class="help is-danger" *ngIf="!VM.isPasswordValid" i18n>
  Le mot de passe doit contenir au moins 8 caractères et un nombre.
</p>
          </div>
          <ng-container *ngIf="projets">
            <ng-container *ngIf="projets.length>1">
              <div class="field">
                <label for="projet" class="label" i18n>Projet</label>
                <div class="select ">
                  <select id="projet" [(ngModel)]="projets_select" i18n-placeholder placeholder="Choisir le projet">
                    <!-- Options pour les professeurs -->
                    <option [ngValue]="null" selected i18n>Aucune sélection</option>
                    <ng-container *ngFor="let tt of projets">
                      <option [ngValue]="tt">{{tt.nom}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div class="columns">
            <div class="column">
              <div class="field" *ngIf="!projets">
<p class="control stack-3">
  <button
    *ngIf="(!store.isLoggedIn()) && !VM.creer_compte && !VM.mdp_requis"
    [disabled]="!VM.isValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="PreLogin() && !VM.creer_compte"
    i18n
  >
    Se connecter
  </button>

  <button
    *ngIf="(store.isLoggedIn()) && !VM.creer_compte && context == 'CREATE' && !VM.mdp_requis"
    [disabled]="!VM.isValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="PreLogin() && !VM.creer_compte"
    i18n
  >
    Selectionner ce compte
  </button>

  <button
    *ngIf="(store.isLoggedIn()) && !VM.creer_compte && context == 'CREATE' && VM.mdp_requis"
    [disabled]="!VM.isValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="SelectionnerCompteAdmin()"
    i18n
  >
    Selectionner ce compte en tant qu'admin
  </button>

  <button
    *ngIf="(!store.isLoggedIn()) && VM.creer_compte"
    [disabled]="!VM.isPasswordValid || !VM.isLoginValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="CreerCompte(true)"
    i18n
  >
    Créer un compte avec mot de passe
  </button>

  <button
    *ngIf="(!store.isLoggedIn()) && VM.creer_compte"
    [disabled]="!VM.isLoginValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="CreerCompte(false)"
    i18n
  >
    Créer un compte sans mot de passe
  </button>

  <button
    *ngIf="context == 'CREATE' && VM.creer_compte"
    [disabled]="!VM.isPasswordValid || !VM.isLoginValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="CreerCompte(true)"
    i18n
  >
    Créer un compte avec mot de passe
  </button>

  <button
    *ngIf="context == 'CREATE' && VM.creer_compte"
    [disabled]="!VM.isLoginValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="CreerCompte(false)"
    i18n
  >
    Créer un compte sans mot de passe
  </button>

  <button
    *ngIf="VM.mdp_requis && !store.isLoggedIn() && !VM.creer_compte"
    [disabled]="!VM.isValid"
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile"
    (click)="Login() && !VM.creer_compte"
    i18n
  >
    Valider le mot de passe
  </button>

  <!-- Action secondaire : lien moderne -->
  <button
    *ngIf="VM.isLoginValid && !VM.creer_compte && context != 'CREATE' && context != 'ESSAI'"
    type="button"
    class="btn-link"
    (click)="ReinitMDP()"
    i18n
  >
    Reinitialiser le mot de passe
  </button>
</p>

              </div>
              <div class="field" *ngIf="projets">
                <p class="control stack-3">
                  <button 
    class="button is-success is-light btn-mobile btn-elevated btn-lg btn-block-mobile" (click)="ConnectToProject()">
                    Se connecter au projet
                  </button>
                </p>
                <p class="control stack-3">
                  <button 
    class="button is-danger is-light btn-mobile btn-elevated btn-lg btn-block-mobile" (click)="LogOut()">
                    Se déconnecter
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
