<div class="container">
  <ng-container *ngIf="loading">
    <progress class="progress is-large is-info" max="100">60%</progress>
    <p>Chargement en cours</p>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="columns is-justify-content-center">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
        <div class="box">
          <h3 class="title is-3" i18n>Connexion</h3>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input [class]="VM.isLoginValid ? 'input' : 'input is-danger'"  (ngModelChange)="validateLogin()" (keypress)="onKeyPress($event)" 
  (input)="validateLogin()" [(ngModel)]="VM.Login" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span *ngIf="VM.isLoginValid" class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div *ngIf="VM.mdp_requis" class="field">
            <p class="control has-icons-left has-icons-right">
              <input *ngIf="VM.mdp_requis" [class]="VM.isPasswordValid ? 'input' : 'input is-danger'"   (ngModelChange)="validatePassword()" [(ngModel)]="VM.Password" type="password" placeholder="Password">

              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span *ngIf="VM.isPasswordValid" class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <ng-container *ngIf="projets">
            <ng-container *ngIf="projets.length>1">
              <div class="field">
                <label for="projet" class="label" i18n>Projet</label>
                <div class="select ">
                  <select id="projet" [(ngModel)]="projets_select" i18n-placeholder placeholder="Choisir le projet">
                    <!-- Options pour les professeurs -->
                    <option [ngValue]="null" selected i18n>Aucune sélection</option>
                    <ng-container *ngFor="let tt of projets">
                      <option [ngValue]="tt">{{tt.nom}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div class="columns">
            <div class="column">
              <div class="field" *ngIf="!projets">
                <p class="control" style="display: flex; flex-direction: column; gap: 2px;">
                 
                  {{(GlobalService.isLoggedIn$ | async)}}
                  <button *ngIf="(GlobalService.isLoggedIn$ | async) != true" [disabled]="!VM.isValid"  class="button is-success is-outlined is-rounded"
                    (click)="PreLogin()" i18n>
                    Se connecter
                  </button>
                  <button *ngIf="VM.mdp_requis && (GlobalService.isLoggedIn$ | async) != true" [disabled]="!VM.isValid" class="button is-success is-outlined is-rounded"
                    (click)="Login()" i18n>
                    Valider le mot de passe
                  </button>
                
                  <a *ngIf="VM.isLoginValid"  (click)="ReinitMDP()" i18n
                  >Reinitialiser le mot de passe</a>
                </p>
              </div>
              <div class="field" *ngIf="projets">
                <p class="control">
                  <button class="button is-primary is-outlined is-rounded" (click)="ConnectToProject()">
                    Se connecter au projet
                  </button>
                </p>
                <p class="control">
                  <button class="button is-danger is-outlined is-rounded" (click)="LogOut()">
                    Se déconnecter
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>
