<div class="container">
    <ng-container *ngIf="loading">
      <progress
        class="progress is-large is-info"
        style="margin-top: 60px"
        max="100"
      >
        60%
      </progress>
      <p>Chargement en cours</p>
    </ng-container>
    <ng-container *ngIf="!loading">
        <div class="columns"  *ngIf="!editCours" >
          <div class="column">
      <span class="fullscreen">
            <div class="card">
              <header class="card-header" style="align-items: center">
                <p
                  class="card-header-title"
                  *ngIf="
                    listeCours
                      | multifiltersCours : filters as filteredApplis
                  "
                >
                  <span i18n>Liste des cours</span>&nbsp;({{
                    filteredApplis.length
                  }})&nbsp;-&nbsp;<span i18n>Saison</span>&nbsp;{{
                    getActiveSaison()
                  }}
                </p>
               
              </header>
              <div class="card-content" #scrollableContent>
                <div class="content">
                  <table
                    class="table"
                    style="width: 100%; font-size: smaller"
                    *ngIf="listeCours && listeCours.length > 0"
                  >
                    <thead>
                      <tr>
                        <th>
                          <span
                            [ngClass]="
                              filters.filter_nom ? 'has-text-info' : ''
                            "
                            i18n
                            >Nom</span
                          >
                          <span style="cursor: pointer">
                            <i
                              *ngIf="sort_nom === 'NO'"
                              (click)="Sort('ASC', 'nom')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_nom === 'ASC'"
                              (click)="Sort('DESC', 'nom')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_nom === 'DESC'"
                              (click)="Sort('ASC', 'nom')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </th>
                        <th>
                          <span
                            [ngClass]="
                              filters.filter_jour ? 'has-text-info' : ''
                            "
                            i18n
                            >Jour</span
                          ><span style="cursor: pointer">
                            <i
                              *ngIf="sort_jour === 'NO'"
                              (click)="Sort('ASC', 'jour')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_jour === 'ASC'"
                              (click)="Sort('DESC', 'jour')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_jour === 'DESC'"
                              (click)="Sort('ASC', 'jour')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </th>
                        <th>Heure</th>
                        <th>Durée</th>
                        <th>
                          <span
                            [ngClass]="
                              filters.filter_prof ? 'has-text-info' : ''
                            "
                            i18n
                            >Responsable</span
                          >
                        </th>
                        <th>
                          <span
                            [ngClass]="
                              filters.filter_lieu ? 'has-text-info' : ''
                            "
                            i18n
                            >Lieu</span
                          ><span style="cursor: pointer">
                            <i
                              *ngIf="sort_lieu === 'NO'"
                              (click)="Sort('ASC', 'lieu')"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="sort_lieu === 'ASC'"
                              (click)="Sort('DESC', 'lieu')"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="sort_lieu === 'DESC'"
                              (click)="Sort('ASC', 'lieu')"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </th>
                        <th>
                          <span
                            [ngClass]="
                              filters.filter_groupe ? 'has-text-info' : ''
                            "
                            i18n
                            >Groupe</span
                          >
                        </th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let cours of listeCours
                            | multifiltersCours : filters
                        "
                      >
                        <td>
                          {{ cours.nom }}
                        </td>
                        <td>
                          <ng-container *ngIf="cours.jour_semaine == 'lundi'">
                            <span style="cursor: pointer" i18n>Lundi</span>
                          </ng-container>
                          <ng-container *ngIf="cours.jour_semaine == 'mardi'">
                            <span style="cursor: pointer" i18n>Mardi</span>
                          </ng-container>
                          <ng-container *ngIf="cours.jour_semaine == 'mercredi'">
                            <span style="cursor: pointer" i18n>Mercredi</span>
                          </ng-container>
                          <ng-container *ngIf="cours.jour_semaine == 'jeudi'">
                            <span style="cursor: pointer" i18n>Jeudi</span>
                          </ng-container>
                          <ng-container *ngIf="cours.jour_semaine == 'vendredi'">
                            <span style="cursor: pointer" i18n>Vendredi</span>
                          </ng-container>
                          <ng-container *ngIf="cours.jour_semaine == 'samedi'">
                            <span style="cursor: pointer" i18n>Samedi</span>
                          </ng-container>
                          <ng-container *ngIf="cours.jour_semaine == 'dimanche'">
                            <span style="cursor: pointer" i18n>Dimanche</span>
                          </ng-container>
                        </td>
                        <td>
                          {{ cours.heure }}
                        </td>
                        <td>
                          {{ cours.duree }}
                        </td>
                        <td>
                          {{ trouverProfesseur(cours.prof_principal_id) }}
                        </td>
                        <td>
                          {{ trouverLieu(cours.lieu_id) }}
                        </td>
                        <td>
                          <div class="tags is-small">
                            <ng-container *ngFor="let gr of cours.groupes">
                              <span class="tag is-success">
                                {{ gr.nom }}
                              </span>
                            </ng-container>
                          </div>
                        </td>
                        <td>
                          <div class="buttons" style="flex-wrap: nowrap">
                            <btn
                              i18n-title
                              title="Supprimer"
                              [type_button]="'SupprimerLight'"
                              (click)="Delete(cours)"
                            ></btn>

                            <btn
                              i18n-title
                              title="Editer"
                              [type_button]="'EditerLight'"
                              (click)="Edit(cours)"
                            ></btn>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button
                    class="scroll-to-top"
                    *ngIf="showScrollToTop"
                    (click)="scrollToTop()"
                    title="Revenir en haut"
                  >
                    ↑
                  </button>
                  <p *ngIf="!listeCours || listeCours.length == 0">
                    Pas de cours disponible
                  </p>
                </div>
              </div>
              <footer class="card-footer">
                <div class="columns">
                  <div class="column">
                    <div *ngIf="!afficher_filtre" class="buttons">
                      <btn [type_button]="'CreerSmall'" (click)="Create()"></btn>
                      <btn
                        [type_button]="'FiltrerSmall'"
                        (click)="
                          afficher_filtre
                            ? (afficher_filtre = false)
                            : (afficher_filtre = true)
                        "
                      ></btn>

                      <btn
                        [type_button]="'ExporterSmall'"
                        (click)="ExportExcel()"
                      ></btn>
                      <div class="field is-horizontal">
                        <div class="field-label is-normal is-two-quarter">
                          <label class="label" style="white-space: nowrap" i18n
                            >Saison affichée</label
                          >
                        </div>
                        <div class="field-body">
                          <div class="field is-narrow">
                            <div class="control">
                              <div class="select is-fullwidth">
                                <select
                                  [(ngModel)]="active_saison"
                                  (ngModelChange)="UpdateListeCours()"
                                >
                                  <ng-container
                                    *ngFor="let saison of liste_saison"
                                  >
                                    <option [ngValue]="saison">
                                      {{ saison.nom }}
                                    </option>
                                  </ng-container>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="buttons" *ngIf="afficher_filtre">
                      <btn
                        (click)="
                          afficher_filtre = false; selected_filter = null
                        "
                        [type_button]="'RetourLight'"
                      ></btn>
                      <div
                        class="field is-horizontal"
                        style="gap: 0.5rem; align-items: center"
                      >
                        <div class="field-label is-normal">
                          <label class="label" style="white-space: nowrap" i18n
                            >Sélection du filtre</label
                          >
                        </div>
                        <div class="field-body">
                          <div class="field is-narrow">
                            <div class="control">
                              <div
                                class="select is-fullwidth ; font-size: smaller"
                              >
                                <select [(ngModel)]="selected_filter">
                                  <option value="nom" i18n>Nom</option>
                                  <option value="jour" i18n>Jour</option>
                                  <option value="groupe" i18n>Groupe</option>
                                  <option value="prof" i18n>Professeur</option>
                                  <option value="lieu" i18n>Lieu</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          *ngIf="selected_filter"
                          class="field-label is-normal"
                        >
                          <label class="label" style="white-space: nowrap" i18n
                            >Valeur du filtre
                          </label>
                        </div>
                        <div class="field-body" *ngIf="selected_filter">
                          <div class="field is-narrow">
                            <div class="control">
                              <input
                                *ngIf="selected_filter == 'nom'"
                                style="width: fit-content; font-size: smaller"
                                class="input is-small"
                                i18n-placeholder
                                placeholder="Nom du cours"
                                type="text"
                                [(ngModel)]="filters.filter_nom"
                              />
                              <div
                                class="select"
                                *ngIf="selected_filter == 'jour'"
                              >
                                <select
                                  style="font-size: smaller"
                                  [(ngModel)]="filters.filter_jour"
                                >
                                  <ng-container
                                    *ngFor="let jr of liste_jour_semaine"
                                  >
                                    <ng-container *ngIf="jr == 'lundi'">
                                      <option [value]="jr" i18n>Lundi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'mardi'">
                                      <option [value]="jr" i18n>Mardi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'mercredi'">
                                      <option [value]="jr" i18n>
                                        Mercredi
                                      </option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'jeudi'">
                                      <option [value]="jr" i18n>Jeudi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'vendredi'">
                                      <option [value]="jr" i18n>
                                        Vendredi
                                      </option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'samedi'">
                                      <option [value]="jr" i18n>Samedi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'dimanche'">
                                      <option [value]="jr" i18n>
                                        Dimanche
                                      </option>
                                    </ng-container>
                                  </ng-container>
                                </select>
                              </div>
                              <div
                                class="select"
                                *ngIf="selected_filter == 'groupe'"
                              >
                                <select
                                  style="font-size: smaller"
                                  [(ngModel)]="filters.filter_groupe"
                                >
                                  <option [ngValue]="null" i18n>Tous</option>
                                  <ng-container
                                    *ngFor="let group of liste_groupe_filter"
                                  >
                                    <option [ngValue]="group.value">
                                      {{ group.value }}
                                    </option>
                                  </ng-container>
                                </select>
                              </div>
                              <div
                                class="select"
                                *ngIf="selected_filter == 'prof'"
                              >
                                <select
                                  style="font-size: smaller"
                                  [(ngModel)]="filters.filter_prof"
                                >
                                  <option [ngValue]="null" i18n>Tous</option>
                                  <ng-container
                                    *ngFor="let prof of liste_prof_filter"
                                  >
                                    <option [ngValue]="prof.value">
                                      {{ prof.value }}
                                    </option>
                                  </ng-container>
                                </select>
                              </div>
                              <div
                                class="select"
                                *ngIf="selected_filter == 'lieu'"
                              >
                                <select
                                  style="font-size: smaller"
                                  [(ngModel)]="filters.filter_lieu"
                                >
                                  <option [ngValue]="null" i18n>Tous</option>
                                  <ng-container
                                    *ngFor="let lieu of liste_lieu_filter"
                                  >
                                    <option [ngValue]="lieu.key">
                                      {{ lieu.value }}
                                    </option>
                                  </ng-container>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tags">
                          <span
                            *ngIf="filters.filter_nom"
                            class="tag is-success"
                          >
                            <span i18n>Nom : </span>
                            <span>{{ filters.filter_nom }}</span>
                            <button
                              class="delete"
                              (click)="filters.filter_nom = null"
                            ></button>
                          </span>

                          <span
                            *ngIf="filters.filter_lieu != null"
                            class="tag is-success"
                          >
                            <span i18n>Lieu : </span>
                            <span i18n>{{ trouverLieu(filters.filter_lieu) }}</span>

                            <button
                              class="delete"
                              (click)="filters.filter_lieu = null"
                            ></button>
                          </span>
                          <span
                            *ngIf="filters.filter_prof != null"
                            class="tag is-success"
                          >
                            <span i18n>Prof : </span>
                            <span i18n>{{ filters.filter_prof }}</span>

                            <button
                              class="delete"
                              (click)="filters.filter_prof = null"
                            ></button>
                          </span>
                          <span
                            *ngIf="filters.filter_groupe != null"
                            class="tag is-success"
                          >
                            <span i18n>Groupe : </span>
                            <span i18n>{{ filters.filter_groupe }}</span>
                            <button
                              class="delete"
                              (click)="filters.filter_groupe = null"
                            ></button>
                          </span>
                          <btn
                            [type_button]="'SupprimerLight'"
                            (click)="ReinitFiltre()"
                            *ngIf="
                              filters.filter_groupe ||
                              filters.filter_nom ||
                              filters.filter_lieu ||
                              filters.filter_prof ||
                              filters.filter_jour
                            "
                          >
                          </btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
      </span>
          </div>
        </div>

      <span class="mobile">
        <ng-container *ngIf="afficher_filtre">
          <nav class="navbar is-fixed-top">
            <btn
              [type_button]="'RetourMobile'"
              (click)="afficher_filtre = false; selected_filter = null"
            ></btn>
          </nav>
          <span class="container-box">
            <div class="field" style="gap: 0.5rem; align-items: center">
              <div class="field-label is-normal">
                <label class="label" style="white-space: nowrap" i18n
                  >Sélection du filtre</label
                >
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth ; font-size: smaller">
                      <select [(ngModel)]="selected_filter">
                        <option value="nom" i18n>Nom</option>
                        <option value="groupe" i18n>Groupe</option>
                        <option value="jour" i18n>Jour</option>
                        <option value="prof" i18n>Professeur</option>
                        <option value="lieu" i18n>Lieu</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="selected_filter" class="field-label is-normal">
                <label class="label" style="white-space: nowrap" i18n
                  >Valeur du filtre
                </label>
              </div>
              <div class="field-body" *ngIf="selected_filter">
                <div class="field is-narrow">
                  <div class="control">
                    <input
                      *ngIf="selected_filter == 'nom'"
                      style="width: fit-content; font-size: smaller"
                      class="input is-small"
                      i18n-placeholder
                      placeholder="Nom du cours"
                      type="text"
                      [(ngModel)]="filters.filter_nom"
                    />
                    <div class="select" *ngIf="selected_filter == 'jour'">
                      <select
                        style="font-size: smaller"
                        [(ngModel)]="filters.filter_jour"
                      >
                        <ng-container *ngFor="let jr of liste_jour_semaine">
                          <ng-container *ngIf="jr == 'lundi'">
                            <option [value]="jr" i18n>Lundi</option>
                          </ng-container>
                          <ng-container *ngIf="jr == 'mardi'">
                            <option [value]="jr" i18n>Mardi</option>
                          </ng-container>
                          <ng-container *ngIf="jr == 'mercredi'">
                            <option [value]="jr" i18n>Mercredi</option>
                          </ng-container>
                          <ng-container *ngIf="jr == 'jeudi'">
                            <option [value]="jr" i18n>Jeudi</option>
                          </ng-container>
                          <ng-container *ngIf="jr == 'vendredi'">
                            <option [value]="jr" i18n>Vendredi</option>
                          </ng-container>
                          <ng-container *ngIf="jr == 'samedi'">
                            <option [value]="jr" i18n>Samedi</option>
                          </ng-container>
                          <ng-container *ngIf="jr == 'dimanche'">
                            <option [value]="jr" i18n>Dimanche</option>
                          </ng-container>
                        </ng-container>
                      </select>
                    </div>
                    <div class="select" *ngIf="selected_filter == 'groupe'">
                      <select
                        style="font-size: smaller"
                        [(ngModel)]="filters.filter_groupe"
                      >
                        <option [ngValue]="null" i18n>Tous</option>
                        <ng-container *ngFor="let group of liste_groupe_filter">
                          <option [ngValue]="group.value">
                            {{ group.value }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                    <div class="select" *ngIf="selected_filter == 'prof'">
                      <select
                        style="font-size: smaller"
                        [(ngModel)]="filters.filter_prof"
                      >
                        <option [ngValue]="null" i18n>Tous</option>
                        <ng-container *ngFor="let prof of liste_prof_filter">
                          <option [ngValue]="prof.value">
                            {{ prof.value }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                    <div class="select" *ngIf="selected_filter == 'lieu'">
                      <select
                        style="font-size: smaller"
                        [(ngModel)]="filters.filter_lieu"
                      >
                        <option [ngValue]="null" i18n>Tous</option>
                        <ng-container *ngFor="let lieu of liste_lieu_filter">
                          <option [ngValue]="lieu.key">
                            {{ lieu.value }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tags">
                <span
                  *ngIf="filters.filter_nom"
                  class="tag is-large is-success"
                >
                  <span i18n>Nom : </span>
                  <span>{{ filters.filter_nom }}</span>
                  <button
                    class="delete"
                    (click)="filters.filter_nom = null"
                  ></button>
                </span>

                <span
                  *ngIf="filters.filter_lieu != null"
                  class="tag is-large is-success"
                >
                  <span i18n>Lieu : </span>
                  <span i18n>{{ trouverLieu(filters.filter_lieu) }}</span>

                  <button
                    class="delete"
                    (click)="filters.filter_lieu = null"
                  ></button>
                </span>
                <span
                  *ngIf="filters.filter_prof != null"
                  class="tag is-large is-success"
                >
                  <span i18n>Prof : </span>
                  <span i18n>{{ filters.filter_prof }}</span>

                  <button
                    class="delete"
                    (click)="filters.filter_prof = null"
                  ></button>
                </span>
                <span
                  *ngIf="filters.filter_groupe != null"
                  class="tag is-large is-success"
                >
                  <span i18n>Groupe : </span>
                  <span i18n>{{ filters.filter_groupe }}</span>
                  <button
                    class="delete"
                    (click)="filters.filter_groupe = null"
                  ></button>
                </span>
                <btn
                  [type_button]="'SupprimerMobile'"
                  (click)="ReinitFiltre()"
                  *ngIf="
                    filters.filter_groupe ||
                    filters.filter_nom ||
                    filters.filter_lieu ||
                    filters.filter_jour ||
                    filters.filter_prof
                  "
                >
                </btn>
              </div>
            </div>
          </span>
        </ng-container>
        <ng-container *ngIf="afficher_tri">
          <nav class="navbar is-fixed-top">
            <btn
              [type_button]="'RetourMobile'"
              (click)="afficher_tri = false"
            ></btn>
          </nav>
          <span class="container-box">
            <div class="field">
              <div class="field-label is-normal">
                <label class="label" style="white-space: nowrap" i18n
                  >Sélection du tri</label
                >
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth ; font-size: smaller">
                      <select [(ngModel)]="selected_sort">
                        <option value="nom" i18n>Nom</option>
                        <option value="date" i18n>Date</option>
                        <option value="cours" i18n>Cours / Evenement</option>
                        <option value="lieu" i18n>Lieu</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field-label is-normal" *ngIf="selected_sort">
                <label class="label" style="white-space: nowrap" i18n
                  >Sens du tri
                </label>
              </div>
              <div class="field-body" *ngIf="selected_sort">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth ; font-size: smaller">
                      <select
                        (ngModelChange)="Sort($event, selected_sort)"
                        [(ngModel)]="selected_sort_sens"
                      >
                        <option value="asc" i18n>Croissant</option>
                        <option value="desc" i18n>Décroissant</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </ng-container>
        <ng-container *ngIf="!afficher_tri && !afficher_filtre">
          <nav class="navbar is-fixed-top">
            <btn
              [type_button]="'FiltrerMobile'"
              (click)="afficher_filtre = true"
            ></btn>
            <btn
              [type_button]="'TrierMobile'"
              (click)="afficher_tri = true"
            ></btn>
            <btn
                  
                  [type_button]="'CreerMobile'"
                  (click)="Create()"
                ></btn>
          </nav>
          <ng-container
            *ngFor="let cours of listeCours | multifiltersCours : filters"
          >
            <div class="container-box">
              <article class="media">
                <div class="media-content">
                  <span class="title" (click)="Edit(cours)"
                    ><strong
                      >{{ cours.nom }}&nbsp;{{ cours.jour_semaine }}</strong
                    ></span
                  >
                  <div>
                    {{ cours.heure }} ({{ cours.duree }}
                    <span i18n>&nbsp;min</span>)
                    {{ trouverLieu(cours.lieu_id) }}
                  </div>
                </div>
              </article>
            </div>
          </ng-container>
        </ng-container>
      </span>
<div class="columns" *ngIf="editCours">
  <div class="column">
    <div class="card">
      <header class="card-header" style="align-items: center">
        <p class="card-header-title subtitle is-6">
          <span *ngIf="editCours.id < 1">
           <input [ngClass]="!rNom.key   ? 'input is-danger'   : 'input' " [(ngModel)]="editCours.nom" (ngModelChange)="autoSave()">
           <p *ngIf="!rNom.key" class="is-small help is-danger">{{rNom.value}}</p>
          </span>
          <span *ngIf="editCours.id > 0">
            <span i18n>Editer</span> : {{ editCours.nom }} 
          </span>
        </p>
      </header>
      
      <div class="scrollable-card-content columns is-multiline is-variable is-3 p-3">
        <!-- Bloc Infos personnelles -->

       <div class="column is-full-tablet is-half-desktop">
  <div class="is-flex is-align-items-center is-flex-wrap-wrap is-justify-content-space-between">

    <!-- Bloc Input ou Lecture -->
    <div class="is-flex-grow-1 mr-2">
      <ng-container *ngIf="edit_nom; else affichageNom">
        <input 
          class="input" 
          [ngClass]="{ 'is-danger': !rNom.key }" 
          [(ngModel)]="editCours.nom"
          (blur)="autoSave()"
       >
        <p *ngIf="!rNom.key" class="help is-danger is-small">{{ rNom.value }}</p>
      </ng-container>

      <ng-template #affichageNom>
        <p>{{ editCours.nom }}</p>
        <p *ngIf="!rNom.key" class="help is-danger is-small">{{ rNom.value }}</p>
      </ng-template>
    </div>

    <!-- Boutons -->
    <div class="is-flex is-align-items-center">
      <ng-container *ngIf="editCours.id > 0">
        <btn 
          *ngIf="!edit_nom" 
          class="mx-1"
          [type_button]="'EditerLight'" 
          (click)="edit_nom = true">
        </btn>

        <btn 
          *ngIf="edit_nom" 
          class="mx-1"
          [type_button]="'SauvegarderLight'" 
          [disabled]="!rNom.key" 
          (click)="edit_nom = false && autoSave()">
        </btn>

        <btn 
          *ngIf="edit_nom" 
          class="mx-1"
          [type_button]="'AnnulerLight'" 
          (click)="retour()">
        </btn>
      </ng-container>
    </div>

  </div>

 <datelieu [creneau]="true" [duree]="editCours.duree" [heure]="editCours.heure" [rdv]="editCours.rdv" [jour_semaine]="editCours.jour_semaine" [ID]="editCours.id" [lieu_id]="editCours.lieu_id" [Regles]="(GlobalService.getRegles().Cours_DateLieu)" (datelieuChange)="SaveDateLieu($event)" (valid)="valid_DateLieu($event)"></datelieu>
</div><div class="column is-full-tablet is-half-desktop"><caracteristique-seance [essai_possible]="false" [essai_possible]="editCours.essai_possible" [place_limite]="editCours.est_place_maximum" [place_limite_valeur]="editCours.place_maximum" [age_max]="editCours.est_limite_age_maximum" [age_min]="editCours.est_limite_age_minimum" [age_max_valeur]="editCours.age_maximum" [age_min_valeur]="editCours.age_minimum" [ID]="editCours.id"  [Regles]="(GlobalService.getRegles().Cours_Parametres)"  (valueChange)="SaveCaracteristique($event)" (valid)="valid_Caracteristique($event)"></caracteristique-seance>
</div>
<div class="column is-full-tablet is-half-desktop">
  <div class="box is-light">
  <div class="is-flex is-justify-content-space-between is-align-items-center mb-3">
    <h3 class="subtitle is-6 has-text-primary has-text-weight-semibold" i18n>Sélection des encadrants</h3>
       <ng-container *ngIf="editCours.id>0">
      <btn *ngIf="!edit_prof"
        [type_button]="'EditerLight'" 
        (click)="(edit_prof =true) && checkall()" 
      ></btn>
      <btn *ngIf="edit_prof" [disabled]="!rProf.key" (click)="autoSave()"
        [type_button]="'SauvegarderLight'">
      </btn> <btn *ngIf="edit_prof" (click)="edit_prof = !edit_prof"
        [type_button]="'AnnulerLight'">
      </btn>
      </ng-container>
</div>
<p *ngIf="!edit_prof"><strong i18n>Encadrant principal : </strong>{{ trouverProfesseur(editCours.prof_principal_id) }}</p>
<div class="field" *ngIf="edit_prof">
            <label class="label is-small" i18n>Encadrant principal</label>

            <div class="control">
              <div  [ngClass]="!rProf.key   ? 'select is-danger is-small'   : 'select is-small' ">
                <select [(ngModel)]="editCours.prof_principal_id" (ngModelChange)="checkall()">
                  <option *ngFor="let l of editCours.professeursCours" [ngValue]="l.id">{{ (l.prenom || '') + '\u00A0' + (l.nom || '') }}</option>
                </select>
              </div>
            <p *ngIf="!rProf.key" class="is-small help is-danger">{{rProf.value}}</p>
            </div>
</div>

<ng-container *ngIf="editCours.professeursCours.length > 0">
  <div class="tags">
    <ng-container *ngFor="let l of editCours.professeursCours">
      <span class="tag is-success">
        {{ (l.prenom || '') + '\u00A0' + (l.nom || '') }}
        <button *ngIf="edit_prof" class="delete is-small" (click)="RemoveProf(l)"></button>
      </span>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="editCours.professeursCours?.length === 0">
  <span i18n>Aucun encadrant sélectionné</span>
</ng-container>
<ng-container *ngIf="edit_prof">
    <h6 class="title is-6" i18n>Encadrants disponibles</h6>
    <ng-container *ngIf="liste_prof.length >0" >
        <div class="select">
            <select style="font-size: smaller;" id="professeurs" [(ngModel)]="current_prof_id">
                <ng-container *ngFor="let ni of liste_prof;let first = first	">
                    <option [value]="ni.person.id">{{ (ni.person.prenom || '') + '\u00A0' + (ni.person.nom || '') }}</option>
                </ng-container>
            </select>
        </div>
        <button type="button" [disabled]="!current_prof_id" (click)="AjouterProf()"
            class="button is-primary is-small is-rounded is-outlined"
            style="align-self: center; ;fill:hsl(171, 100%, 41%)">
            <svg width="20" height="20">
                <use xlink:href=".\assets\liste.svg#plus"></use>
            </svg>
        </button>
    </ng-container>
    <ng-container *ngIf="liste_prof.length == 0">
        <span i18n>Aucun encadrant disponible</span>
    </ng-container>
    </ng-container>
</div>
</div>


        <!-- Bloc Adresse -->
        <div class="column is-full-tablet is-half-desktop">
                                <app-groupe-detail
                        (groupesUpdated)="onGroupesUpdated($event)"
                        [id_source]="editCours.id"
                        [objet_source]="'cours'"
                        [edit]="true"
                      
                        [title]="titre_groupe"
                        [Groupes]="editCours.groupes"
                        [liste_groupe]="liste_groupe"
                      ></app-groupe-detail>
                        
        </div>
      </div>
      
      <div class="card-footer">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
             <div class="buttons" style="flex-wrap: nowrap">
            <btn
              [type_button]="'RetourSmall'"
              (click)="Retour()"
            ></btn>
            <btn *ngIf="editCours.id < 1"
            [disabled]="!is_valid"
              [type_button]="'SauvegarderSmall'"
              (click)="Save()"
            ></btn>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  </div>
    </ng-container>
</div>
