<div class="block" *ngIf="thisCompte && context != 'DEFINIR_MDP'">
  <ng-container *ngIf="thisCompte.id == 0">
    <ng-container *ngIf="!login_valide">
      <label class="label is-small">Login</label>
      <div class="field has-addons">
        <div class="control">
          <input
            type="email"
            [class]="
              IsEmail(thisCompte.login)
                ? 'input is-small'
                : 'input is-danger is-small'
            "
            [(ngModel)]="thisCompte.login"
          />
          <p
            class="help is-danger is-small"
            *ngIf="!IsEmail(thisCompte.login)"
            i18n
          >
            Le login doit être un email
          </p>
        </div>
        <div class="control">
          <button
            (click)="Valid()"
            [disabled]="!IsEmail(thisCompte.login)"
            type="button"
            class="button is-rounded is-primary is-outlined"
          >
            <i class="fas fa-user-check"></i>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="login_valide">
      <div style="display: flex; flex-direction: column; margin: 0.25em">
        <label class="label is-small" *ngIf="login_valide" i18n
          >Login sélectionné :
        </label>
        <span style="font-size: smaller">{{ login_valide }}</span>
        <label class="label is-small" i18n>Créer un compte</label>
        <button
          (click)="context = 'CREER_MDP'"
          type="button"
          style="gap: 0.25em"
          class="button is-small is-rounded is-primary is-outlined"
        >
          <i class="fas fa-lock"></i>
          <span i18n>Compte avec mot de passe</span>
        </button>
        <button
          style="gap: 0.25em; margin: 0.25em"
          (click)="Rattacher()"
          type="button"
          class="button is-small is-rounded is-primary is-outlined"
        >
          <i class="fas fa-key"></i>
          <span i18n>Compte avec clé Token</span>
        </button>
        <button
          style="gap: 0.25em; margin: 0.25em"
          (click)="login_valide = null"
          type="button"
          class="button is-small is-rounded is-danger is-outlined"
        >
          <i class="fas fa-times-circle"></i>
          <span i18n>Changer le login</span>
        </button>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="thisCompte.id > 0">
    <div style="display: flex; flex-direction: column; margin: 0.25em">
      <label class="label is-small" i18n>Login de l'adhérent : </label>
      <span style="font-size: smaller">{{ login }}</span>
      <span style="display: flex; flex-direction: row; margin: 0.25em">
        <label class="label is-small" i18n>Type Compte : </label>
        <i
          *ngIf="!thisCompte.est_password"
          title="Avec Clé Token"
          class="fas fa-key"
        ></i>
        <i
          *ngIf="thisCompte.est_password"
          title="Avec mot de passe"
          class="fas fa-lock"
        ></i>
      </span>
      <ng-container
        class="block"
        *ngIf="(GlobalService.Menu$ | async) != 'ADHERENT'"
      >
        <span style="display: flex; flex-direction: row; margin: 0.25em">
          <label class="label is-small" i18n>Compte actif : </label>
          <i
            *ngIf="thisCompte.actif"
            style="color: #00d1b2"
            class="fas fa-check-circle"
          ></i>
          <i
            *ngIf="!thisCompte.actif"
            style="color: #ff6685"
            class="fas fa-times-circle"
          ></i>
        </span>
        <span style="display: flex; flex-direction: row; margin: 0.25em">
          <label class="label is-small" i18n>Mail actif :</label>

          <i
            *ngIf="thisCompte.mail_actif"
            style="color: #00d1b2"
            class="fas fa-check-circle"
          ></i>
          <i
            *ngIf="!thisCompte.mail_actif"
            style="color: #ff6685"
            class="fas fa-times-circle"
          ></i>
        </span>
      </ng-container>

      <button
        type="button"
        class="button is-small is-rounded is-primary is-outlined"
        *ngIf="!thisCompte.est_password && context == 'VUE'"
        (click)="CopierToken()"
      >
        <i class="fas fa-key"></i>Copier la clé Token
      </button>
      <button
        type="button"
        style="gap: 0.25em; margin: 0.25em"
        class="button is-small is-rounded is-primary is-outlined"
        *ngIf="!thisCompte.est_password && context == 'VUE'"
        (click)="RenvoiToken()"
      >
        <i class="fas fa-key"></i>Renvoyer les clés de connexion
      </button>
      <button
        type="button"
        style="gap: 0.25em; margin: 0.25em"
        class="button is-small is-rounded is-primary is-outlined"
        *ngIf="!thisCompte.est_password && context == 'VUE'"
        (click)="context = 'DEFINIR_MDP'"
      >
        <i class="fas fa-lock"></i>Définir un mot de passe
      </button>
      <button
        type="button"
        style="gap: 0.25em; margin: 0.25em"
        class="button is-small is-rounded is-primary is-outlined"
        *ngIf="thisCompte.est_password && context == 'VUE'"
        (click)="context = 'DEFINIR_MDP'"
      >
        <i class="fas fa-lock"></i>Modifier le mot de passe
      </button>
      <button
        type="button"
        class="button is-small is-rounded is-primary is-outlined"
        *ngIf="context == 'RATTACHER_TOKEN'"
        (click)="Rattacher()"
      >
        <i class="fas fa-link"></i>Rattacher l'adhérent au compte
      </button>
    </div>
  </ng-container>
</div>
<app-reinit-mdp
  class="imbrique"
  [context]="'CREER'"
  *ngIf="context == 'CREER_MDP'"
  (CreerMDP)="CreerMDP($event)"
  [Login]="thisCompte.login"
  [Token]="'Gulfed2606'"
>
</app-reinit-mdp>
<app-reinit-mdp
  class="imbrique"
  [context]="'DEFINE'"
  *ngIf="context == 'DEFINIR_MDP'"
  [Login]="thisCompte.login"
  [Token]="'Gulfed2606'"
>
</app-reinit-mdp>

<app-reinit-mdp
  class="imbrique"
  [context]="'CONFIRM'"
  (rattacher)="Rattacher()"
  (demanderRattachement)="DemanderRattachement()"
  *ngIf="context == 'RATTACHER_MDP'"
  [Login]="thisCompte.login"
  [Token]="'Gulfed2606'"
>
</app-reinit-mdp>
