<section class="box editor-box" *ngIf="items.length">
  <div class="editor-box-title-row">
    <div>
      <h3 class="subtitle is-6 has-text-primary mb-0" i18n>Informations complémentaires</h3>
      <p class="help mb-0" i18n>Ces champs sont configurés par le club et s’affichent automatiquement.</p>
    </div>
  </div>

  <div class="editor-fields editor-fields--two">
    <div class="field" *ngFor="let item of items">
      <label class="label">{{ item.label }}</label>
      <ng-container [ngSwitch]="getFieldKind(item.fieldType)">
        <input *ngSwitchCase="'number'" class="input" type="number" [(ngModel)]="item.value" />
        <input *ngSwitchCase="'date'" class="input" type="date" [(ngModel)]="item.value" />
        <input *ngSwitchCase="'email'" class="input" type="email" [(ngModel)]="item.value" />
        <input *ngSwitchCase="'phone'" class="input" type="tel" [(ngModel)]="item.value" />
        <input *ngSwitchCase="'url'" class="input" type="url" [(ngModel)]="item.value" />
        <label *ngSwitchCase="'boolean'" class="checkbox" i18n>
          <input type="checkbox" [(ngModel)]="item.boolValue" /> Oui
        </label>
        <textarea *ngSwitchCase="'textarea'" class="textarea" rows="3" [(ngModel)]="item.value"></textarea>
        <div *ngSwitchCase="'select'" class="select is-fullwidth">
          <select [(ngModel)]="item.value">
            <option value="" i18n>Non renseigné</option>
            <option *ngFor="let option of item.options" [value]="option">{{ option }}</option>
          </select>
        </div>
        <input *ngSwitchDefault class="input" type="text" [(ngModel)]="item.value" />
      </ng-container>
    </div>
  </div>
</section>

<section class="box editor-box" *ngIf="showMedicalSection">
  <div class="editor-box-title-row">
    <div>
      <h3 class="subtitle is-6 has-text-primary mb-0" i18n>Situation médicale</h3>
      <p class="help mb-0" i18n>QS Sport et certificats sont conservés avec leur fichier justificatif.</p>
    </div>
  </div>
  <app-medical-proof-editor
    [personId]="objectId"
    [seasonId]="activeSeasonId"
    [licenceType]="'LOISIR'"
    [showHistory]="true"
  ></app-medical-proof-editor>
</section>

<section class="box editor-box" *ngIf="showMedicalSection && appStore.isAdmin()">
  <h3 class="subtitle is-6 has-text-primary mb-2" i18n>Souscription administrateur</h3>
  <p class="help mb-3" i18n>Crée un dossier pour le compte de cette personne, puis valide manuellement le paiement reçu.</p>
  <a
    class="button is-warning is-light"
    [routerLink]="['/souscription']"
    [queryParams]="{ adminPersonId: objectId }"
    i18n
  >
    Créer une souscription pour cette personne
  </a>
</section>
