<span class="mobile">
  <ng-container *ngIf="afficher_filtre">
    <nav class="navbar is-fixed-top">
      <btn [type_button]="'RetourMobile'" (click)="toggleAfficherFiltre.emit(false)"></btn>
    </nav>

    <span class="container-box">
      <div class="field" style="gap: 0.5rem; align-items: center">
        <div class="field-label is-normal">
          <label class="label" style="white-space: nowrap" i18n>Sélection du filtre</label>
        </div>

        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth ; font-size: smaller">
                <select [ngModel]="selected_filter" (ngModelChange)="selectedFilterChange.emit($event)">
                  <option value="nom" i18n>Nom</option>
                  <option value="date" i18n>Date de naissance</option>
                  <option value="groupe" i18n>Groupe</option>
                  <option value="sexe" i18n>Sexe</option>
                  <option value="inscrit" i18n>Inscrit</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selected_filter" class="field-label is-normal">
          <label class="label" style="white-space: nowrap" i18n>Valeur du filtre</label>
        </div>

        <div class="field-body" *ngIf="selected_filter">
          <div class="field is-narrow">
            <div class="control">
              <input
                *ngIf="selected_filter == 'nom'"
                style="width: fit-content; font-size: smaller"
                class="input is-small"
                i18n-placeholder
                placeholder="Nom du cours"
                type="text"
                [(ngModel)]="filters.filter_nom" />

              <div class="select" *ngIf="selected_filter == 'sexe'">
                <select style="font-size: smaller" [(ngModel)]="filters.filter_sexe">
                  <option [ngValue]="null" i18n>Tous</option>
                  <option [ngValue]="false" i18n>Femme</option>
                  <option [ngValue]="true" i18n>Homme</option>
                </select>
              </div>

              <div class="select" *ngIf="selected_filter == 'groupe'">
                <select style="font-size: smaller" [(ngModel)]="filters.filter_groupe">
                  <option [ngValue]="null" i18n>Tous</option>
                  <ng-container *ngFor="let group of liste_groupe_filter">
                    <option [ngValue]="group.nom">{{ group.nom }}</option>
                  </ng-container>
                </select>
              </div>

              <div class="select" *ngIf="selected_filter == 'inscrit'">
                <select style="font-size: smaller" [(ngModel)]="filters.filter_inscrit">
                  <option [ngValue]="null" i18n>Tous</option>
                  <option [ngValue]="false" i18n>Non</option>
                  <option [ngValue]="true" i18n>Oui</option>
                </select>
              </div>

              <span *ngIf="selected_filter == 'date'" class="ligne">
                <div style="gap: 6px" class="field is-small is-horizontal field-jecha">
                  <label class="label is-small" i18n>Du</label>
                  <input style="width: fit-content" class="input is-small" type="date" [(ngModel)]="filters.filter_date_apres" />
                </div>
              </span>

              <span *ngIf="selected_filter == 'date'" class="ligne">
                <div style="gap: 6px" class="field is-small is-horizontal field-jecha">
                  <label class="label is-small" i18n>Au</label>
                  <input style="width: fit-content" class="input is-small" type="date" [(ngModel)]="filters.filter_date_avant" />
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="tags">
          <span *ngIf="filters.filter_nom" class="tag is-large is-success">
            <span i18n>Nom : </span>
            <span>{{ filters.filter_nom }}</span>
            <button class="delete" (click)="filters.filter_nom = null"></button>
          </span>

          <span *ngIf="filters.filter_inscrit != null" class="tag is-large is-success">
            <span i18n>Inscrits : </span>
            <span *ngIf="filters.filter_inscrit == true" i18n>Oui</span>
            <span *ngIf="filters.filter_inscrit == false" i18n>Non</span>
            <button class="delete" (click)="filters.filter_inscrit = null"></button>
          </span>

          <span *ngIf="filters.filter_date_avant || filters.filter_date_apres" class="tag is-large is-success">
            <span i18n>Date de naissance : </span>
            <span *ngIf="filters.filter_date_avant">&nbsp;>&nbsp;{{ filters.filter_date_avant }}</span>
            <span *ngIf="filters.filter_date_apres">&nbsp;<&nbsp;{{ filters.filter_date_apres }}</span>
            <button class="delete" (click)="filters.filter_date_avant = null; filters.filter_date_apres = null"></button>
          </span>

          <span *ngIf="filters.filter_sexe != null" class="tag is-large is-success">
            <span i18n>Sexe : </span>
            <span *ngIf="filters.filter_sexe == true" i18n>Homme</span>
            <span *ngIf="filters.filter_sexe == false" i18n>Femme</span>
            <button class="delete" (click)="filters.filter_sexe = null"></button>
          </span>

          <span *ngIf="filters.filter_groupe != null" class="tag is-large is-success">
            <span i18n>Groupe : </span>
            <span>{{ filters.filter_groupe }}</span>
            <button class="delete" (click)="filters.filter_groupe = null"></button>
          </span>

          <btn
            [type_button]="'SupprimerMobile'"
            (click)="clearAllFilters.emit()"
            *ngIf="filters.filter_date_apres || filters.filter_date_avant || filters.filter_groupe || filters.filter_inscrit || filters.filter_nom || filters.filter_sexe">
          </btn>
        </div>
      </div>
    </span>
  </ng-container>

  <ng-container *ngIf="afficher_tri">
    <nav class="navbar is-fixed-top">
      <btn [type_button]="'RetourMobile'" (click)="toggleAfficherTri.emit(false)"></btn>
    </nav>

    <span class="container-box">
      <div class="field">
        <div class="field-label is-normal">
          <label class="label" style="white-space: nowrap" i18n>Sélection du tri</label>
        </div>

        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth ; font-size: smaller">
                <select [ngModel]="selected_sort" (ngModelChange)="selectedSortChange.emit($event)">
                  <option value="nom" i18n>Nom</option>
                  <option value="date" i18n>Date de naissance</option>
                  <option value="sexe" i18n>Sexe</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="field-label is-normal" *ngIf="selected_sort">
          <label class="label" style="white-space: nowrap" i18n>Sens du tri</label>
        </div>

        <div class="field-body" *ngIf="selected_sort">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth ; font-size: smaller">
                <select
                  [ngModel]="selected_sort_sens"
                  (ngModelChange)="selectedSortSensChange.emit($event); sortChange.emit({ sens: $event, champ: selected_sort })">
                  <option value="ASC" i18n>Croissant</option>
                  <option value="DESC" i18n>Décroissant</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </ng-container>

  <ng-container *ngIf="!afficher_tri && !afficher_filtre">
    <nav class="navbar is-fixed-top">
      <btn [type_button]="'FiltrerMobile'" (click)="toggleAfficherFiltre.emit(true)"></btn>
      <btn [type_button]="'TrierMobile'" (click)="toggleAfficherTri.emit(true)"></btn>
      <btn *ngIf="store.mode() === 'ADMIN'" [type_button]="'CreerMobile'" (click)="createAdherent.emit()"></btn>
    </nav>

    <div class="container-box">
      <ng-container *ngFor="let adherent of filteredListe">
        <article class="media adherent-item" [class.dense]="denseMode">
          <figure class="media-left">
            <p class="image">
              <img
                class="is-rounded avatar"
                [src]="adherent?.photo || defaultAvatar"
                [alt]="'Photo de ' + (adherent?.libelle || adherent?.nom || '')"
                (error)="onImgError($event)">
            </p>
          </figure>

          <div class="media-content">
            <p class="title is-6 mb-1 is-truncated">
              <a class="item-mobile-name" (click)="readOne.emit(adherent)">{{ adherent.libelle }}</a>
            </p>
            <p class="subtitle is-7 has-text-grey">
              {{ adherent.date_naissance | date:'dd/MM/yyyy' }} · {{ calculateAge(adherent.date_naissance) }} ans
            </p>
            <p class="tags">
              <ng-container *ngFor="let gr of currentActiveInscriptionGroupe(adherent)">
                <span class="tag is-success">{{ gr.nom }}</span>
              </ng-container>
            </p>
          </div>
        </article>
      </ng-container>
    </div>
  </ng-container>
</span>