<div class="columns page-fill">
  <div class="column">
    <div class="card card--scroller">
      <header class="card-header" style="align-items: center">
        <span class="fullscreen">
          <p class="card-header-title">
            <span *ngIf="thisAdherent.id < 1" i18n>Nouvel adhérent</span>
            <span *ngIf="thisAdherent.id > 0">
              <span i18n>Editer</span> : {{ thisAdherent.prenom }} {{ thisAdherent.nom }}
            </span>
          </p>
        </span>

        <span class="mobile">
          <div class="buttons">
            <btn [type_button]="'RetourMobile'" (click)="retour.emit()"></btn>

            <btn
              *ngIf="store.isLoggedIn() && store.isProf() && !isInscriptionActive && thisAdherent.id > 0"
              [type_button]="'InscrireMobile'"
              (click)="inscrire.emit()">
            </btn>

            <btn
              *ngIf="thisAdherent.id < 1"
              [disabled]="!canSaveNew"
              [type_button]="'SauvegarderMobile'"
              (click)="save.emit()">
            </btn>

            <btn
              *ngIf="store.isLoggedIn() && store.isProf() && !isInscriptionActive && thisAdherent.id > 0 && !thisAdherent.archive"
              [type_button]="'ArchiverMobile'"
              (click)="archiver.emit()">
            </btn>

            <btn
              *ngIf="store.isLoggedIn() && store.isProf() && !isInscriptionActive && thisAdherent.id > 0 && thisAdherent.archive"
              [type_button]="'DesarchiverMobile'"
              (click)="desarchiver.emit()">
            </btn>
          </div>
        </span>
      </header>

      <div class="card-content scrollable-card-content columns is-multiline is-variable is-3 p-3">
        <div class="column is-full-tablet is-half-desktop">
          <infoperso
            *ngIf="context != 'ESSAI'; else infoPersoEssai"
            [photoBase64]="photoAdherent"
            (photoSelected)="photoSelected.emit($event)"
            [thisAdherent]="thisAdherent"
            [Regles]="GlobalService.getRegles().InfoPerso_Adherent"
            (InfoPersoChange)="infoPersoChange.emit()"
            (valid)="validAdherent.emit($event)">
          </infoperso>

          <ng-template #infoPersoEssai>
            <infoperso
              [photoBase64]="photoAdherent"
              (photoSelected)="photoSelected.emit($event)"
              [thisAdherent]="thisAdherent"
              [Regles]="GlobalService.getRegles().InfoPerso_Essai"
              (InfoPersoChange)="infoPersoChange.emit()"
              (valid)="validAdherent.emit($event)">
            </infoperso>
          </ng-template>
        </div>

        <div class="column is-full-tablet is-half-desktop">
          <app-address
            *ngIf="context != 'ESSAI'; else adresseEssai"
            [id]="thisAdherent.id"
            [thisAdresse]="thisAdherent.adresse"
            [Regles]="GlobalService.getRegles().Adresse_Adherent"
            (InfoAdresseChange)="adresseChange.emit($event)"
            (valid)="validAdresse.emit($event)">
          </app-address>

          <ng-template #adresseEssai>
            <app-address
              [id]="thisAdherent.id"
              [thisAdresse]="thisAdherent.adresse"
              [Regles]="GlobalService.getRegles().Adresse_Essai"
              (InfoAdresseChange)="adresseChange.emit($event)"
              (valid)="validAdresse.emit($event)">
            </app-address>
          </ng-template>
        </div>

        <div class="column is-full-tablet is-half-desktop">
          <app-contact-item
            [Contacts]="thisAdherent.contact"
            [Regles]="GlobalService.getRegles().Contact_Adherent"
            [Titre]="titre_contact"
            (ContactChange)="contactChange.emit()"
            (valid)="validContact.emit($event)">
          </app-contact-item>
        </div>

        <div class="column is-full-tablet is-half-desktop">
          <app-contact-item
            [Contacts]="thisAdherent.contact_prevenir"
            [Regles]="GlobalService.getRegles().Contact_Pref_Adherent"
            [Titre]="titre_contact_prevenir"
            (ContactChange)="contactUrgenceChange.emit()"
            (valid)="validContactUrgence.emit($event)">
          </app-contact-item>
        </div>

        <ng-container *ngIf="store.isProf(); else noProf">
          <div class="column is-full-tablet is-half-desktop">
            <app-groupe-detail
              [edit]="true"
              [id_source]="thisAdherent.id"
              [objet_source]="'rider'"
              [Groupes]="currentActiveGroupes"
              [liste_groupe]="liste_groupe"
              [groupe_dispo]="currentInactiveGroupes">
            </app-groupe-detail>
          </div>
        </ng-container>

        <ng-template #noProf>
          <div class="column is-full-tablet is-half-desktop">
            <button class="button is-small is-info is-light btn-mobile btn-elevated" (click)="toggleEditMonGroupe.emit()">
              <span *ngIf="editmongroupe" i18n>Terminé</span>
              <span *ngIf="!editmongroupe" i18n>Je modifie mes groupes</span>
            </button>

            <app-groupe-detail
              [edit]="editmongroupe"
              [id_source]="thisAdherent.id"
              [objet_source]="'rider'"
              [Groupes]="currentActiveGroupes"
              [liste_groupe]="liste_groupe"
              [groupe_dispo]="currentInactiveGroupes">
            </app-groupe-detail>
          </div>
        </ng-template>
      </div>

      <footer class="card-footer">
        <span class="fullscreen">
          <div class="columns">
            <div class="column">
              <div class="buttons">
                <btn [type_button]="'RetourSmall'" (click)="retour.emit()"></btn>

                <btn
                  *ngIf="store.isLoggedIn() && store.isProf() && !isInscriptionActive && thisAdherent.id > 0"
                  [type_button]="'InscrireSmall'"
                  (click)="inscrire.emit()">
                </btn>

                <btn
                  *ngIf="store.isLoggedIn() && store.isProf() && !isInscriptionActive && thisAdherent.id > 0  && !thisAdherent.archive"
                  [type_button]="'ArchiverSmall'"
                  (click)="archiver.emit()">
                </btn>

                <btn
                  *ngIf="store.isLoggedIn() && store.isProf() && !isInscriptionActive && thisAdherent.id > 0  && thisAdherent.archive"
                  [type_button]="'DesarchiverSmall'"
                  (click)="desarchiver.emit()">
                </btn>

                <btn
                  *ngIf="thisAdherent.id < 1"
                  [disabled]="!canSaveNew"
                  [type_button]="'SauvegarderSmall'"
                  (click)="save.emit()">
                </btn>
              </div>
            </div>
          </div>
        </span>
      </footer>
    </div>
  </div>
</div>