<ng-container *ngIf="ListePersonne && ListePersonne.length > 0; else pasPersonne">
  <div>
    <label class="label" i18n>Sélection de la personne</label>
    <div class="select">
      <select [ngModel]="personne" (ngModelChange)="onPersonneChange($event)">
        <option [ngValue]="null" i18n>— Sélectionner —</option>
        <option *ngFor="let p of ListePersonne" [ngValue]="p">
          {{ p.prenom }} {{ p.nom }} {{ p.date_naissance | date:'dd/MM/yyyy' }}
        </option>
      </select>
    </div>

    <p class="help is-danger" *ngIf="!personne" i18n>La sélection d'une personne est obligatoire.</p>
  </div>

  <btn [type_button]="'RetourSmall'" (click)="retour.emit()" i18n></btn>
  <button class="button is-small is-info is-light btn-mobile btn-elevated" (click)="createPersonne.emit()" i18n>
    Créer une personne pour ce compte
  </button>
  <button *ngIf="personne" class="button is-small is-info is-light btn-mobile btn-elevated" (click)="selectPersonne.emit()" i18n>
    Sélectionner la personne
  </button>
</ng-container>

<ng-template #pasPersonne>
  <app-creer-compte (creer)="createCompte.emit($event)"></app-creer-compte>
  <btn [type_button]="'RetourSmall'" (click)="retour.emit()" i18n></btn>
</ng-template>