<div class="container adherent-page">
  <ng-container *ngIf="loading">
    <progress class="progress is-large is-info" style="margin-top: 60px" max="100">60%</progress>
    <p>Chargement en cours</p>
  </ng-container>

  <ng-container *ngIf="!loading">
    <app-adherent-account-selector
      *ngIf="select_account; else mainContent"
      [ListePersonne]="ListePersonne"
      [personne]="personne"
      (personneChange)="personne = $event"
      (retour)="retourListePersonne()"
      (createPersonne)="CreatePersonneCompte()"
      (selectPersonne)="SelectPersonne()"
      (createCompte)="Create($event)">
    </app-adherent-account-selector>

    <ng-template #mainContent>
      <ng-container *ngIf="!thisAdherent; else detailBlock">
        <app-adherent-list-desktop
          class="fullscreen"
          [Liste]="Liste"
          [filteredListe]="getFilteredListe()"
          [filters]="filters"
          [active_saison]="active_saison"
          [liste_saison]="liste_saison"
          [liste_groupe_filter]="liste_groupe_filter"
          [selectedIds]="selectedIds"
          [bulkWorking]="bulkWorking"
          [bulkLabel]="bulkLabel"
          [hasSelection]="hasSelection"
          [showScrollToTop]="showScrollToTop"
          [store]="store"
          [refreshing]="refreshing"
          [needsReload]="needsReload"
          [defaultAvatar]="defaultAvatar"
          [sort_nom]="sort_nom"
          [sort_date]="sort_date"
          [sort_sexe]="sort_sexe"
          [afficher_filtre]="afficher_filtre"
          [selected_filter]="selected_filter"
          [scrollableContent]="scrollableContent"
          [getActiveSaisonLabel]="getActiveSaison()"
          (reloadRequested)="needsReload = false; UpdateListeAdherents({ apply: true })"
          (toggleSelection)="toggleSelection($event.id, $event.checked)"
          (toggleSelectAll)="toggleSelectAll($event)"
          (deleteOne)="Delete($event)"
          (readOne)="Read($event)"
          (sortChange)="Sort($event.sens, $event.champ)"
          (filterEditStart)="startEditFilter($event)"
          (filterEditEnd)="endEditFilter($event)"
          (filterEditCancel)="cancelEditFilter($event)"
          (filterChange)="onFilterChange($event.key, $event.value)"
          (clearFilter)="clearFilter($event)"
          (clearAllFilters)="ReinitFiltre()"
          (toggleAfficherFiltre)="afficher_filtre = !afficher_filtre"
          (selectedFilterChange)="selected_filter = $event"
          (activeSaisonChange)="active_saison = $event; UpdateListeAdherents()"
          (createAdherent)="select_account = true"
          (exportExcel)="ExportExcel()"
          (gotoImport)="GotoImport()"
          (bulkDelete)="supprimerListe()"
          (bulkCopy)="copierListe()"
          (bulkClear)="clearSelection()"
          (scrollTop)="scrollToTop()">
        </app-adherent-list-desktop>

        <app-adherent-list-mobile
          class="mobile"
          [Liste]="Liste"
          [filteredListe]="getFilteredListe()"
          [filters]="filters"
          [active_saison]="active_saison"
          [liste_groupe_filter]="liste_groupe_filter"
          [selected_filter]="selected_filter"
          [selected_sort]="selected_sort"
          [selected_sort_sens]="selected_sort_sens"
          [afficher_filtre]="afficher_filtre"
          [afficher_tri]="afficher_tri"
          [denseMode]="denseMode"
          [defaultAvatar]="defaultAvatar"
          [store]="store"
          (readOne)="Read($event)"
          (createAdherent)="select_account = true"
          (toggleAfficherFiltre)="afficher_filtre = $event"
          (toggleAfficherTri)="afficher_tri = $event"
          (selectedFilterChange)="selected_filter = $event"
          (selectedSortChange)="selected_sort = $event"
          (selectedSortSensChange)="selected_sort_sens = $event"
          (sortChange)="Sort($event.sens, $event.champ)"
          (clearAllFilters)="ReinitFiltre()">
        </app-adherent-list-mobile>
      </ng-container>

      <ng-template #detailBlock>
        <app-adherent-detail
          [thisAdherent]="thisAdherent!"
          [context]="context"
          [photoAdherent]="photoAdherent"
          [store]="store"
          [GlobalService]="GlobalService"
          [liste_groupe]="liste_groupe"
          [editmongroupe]="editmongroupe"
          [titre_contact]="titre_contact"
          [titre_contact_prevenir]="titre_contact_prevenir"
          [adherentValide]="adherentValide"
          [AdresseValide]="AdresseValide"
          [ContactValide]="ContactValide"
          [ContactUrgenceValide]="ContactUrgenceValide"
          [currentActiveGroupes]="CurrentActiveInscriptionGroupe(thisAdherent!)"
          [currentInactiveGroupes]="CurrentInactiveInscriptionGroupe(thisAdherent!)"
          [isInscriptionActive]="isInscrtitionActive(thisAdherent!, store.saison_active_id())"
          (retour)="Retour()"
          (save)="Save()"
          (inscrire)="Inscrire()"
          (archiver)="Archiver(true)"
          (desarchiver)="Archiver(false)"
          (toggleEditMonGroupe)="editmongroupe = !editmongroupe"
          (photoSelected)="onPhotoSelectedFromChild($event)"
          (infoPersoChange)="PreSave()"
          (adresseChange)="SaveAdresse($event)"
          (contactChange)="PreSave()"
          (contactUrgenceChange)="PreSave()"
          (validAdherent)="valid_adherent($event)"
          (validAdresse)="valid_adresse($event)"
          (validContact)="valid_contact($event)"
          (validContactUrgence)="valid_contact_urgence($event)">
        </app-adherent-detail>
      </ng-template>
    </ng-template>
  </ng-container>
</div>