.panel {
    --bulma-panel-heading-padding: 0.5em 0.75em; /* Seulement pour ce conteneur */
  }
  
.ligne{
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.nom_personne{
    font-size: smaller;
    font-weight: bold;
    text-transform: uppercase;    
    min-width: auto;  /* Permet à l'input de s'adapter au contenu */
    max-width: 150px; /* Limite la largeur maximale à 170px */
    display: inline-block;      /* S'ajuste en fonction du contenu */
    word-wrap: break-word;      /* Permet le retour à la ligne si nécessaire */
    white-space: normal;        /* Empêche le texte de rester sur une seule ligne */
}
.partie1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    align-content: center;
}