    <div class="box is-light">
    <div class="is-flex is-justify-content-space-between is-align-items-center mb-3">
      <h3 class="subtitle is-6 has-text-primary has-text-weight-semibold" i18n>Informations personnelles</h3>
      <ng-container *ngIf="thisAdherent.id >0">
      <btn *ngIf="!edit"
        [type_button]="'EditerLight'" 
        (click)="edit = !edit" 
      ></btn>
      <btn *ngIf="edit" [disabled]="!estValid" (click)="Save()"
        [type_button]="'SauvegarderLight'">
      </btn> <btn *ngIf="edit" (click)="Cancel()"
        [type_button]="'AnnulerLight'">
      </btn>
      </ng-container>
      
    </div>

    <div class="columns is-vcentered">

      <!-- Photo -->
      <div class="column is-4" *ngIf="thisAdherent.id >0">
  <figure class="image is-128x128 is-square">
    <img
      class="is-rounded"
      [src]="photoBase64 ?? '../../assets/photo_H.png'"
      alt="Photo de profil"
      style="object-fit: cover; height: 100%;"
    />
  </figure>

  <input
    type="file"
    accept="image/*"
    #photoInput
    class="is-hidden"
    (change)="onPhotoSelected($event)"
  />

  <label class="button is-small is-info is-light btn-mobile btn-elevated mt-2" i18n (click)="photoInput.click()">Changer la photo</label>
</div>


      <!-- Infos -->
      <p *ngIf="rLibelle.key" class="is-small help is-danger">{{rLibelle.value}}</p>
      <div class="column is-8">
        <div *ngIf="edit; else readPerso" class="p-2">
            <p *ngIf="!rLibelle.key" class="is-small help is-danger">{{rLibelle.value}}</p>
          <div class="field mb-2">
            <label class="label is-small" i18n>Nom</label>
            <div class="control">
              <input
              [ngClass]="!rNom.key   ? 'input is-danger is-small'   : 'input is-small' " type="text" [(ngModel)]="thisAdherent.nom"  (ngModelChange)="validerTout()">
            </div>
            <p *ngIf="!rNom.key" class="is-small help is-danger">{{rNom.value}}</p>
          </div>

          <div class="field mb-2">
            <label class="label is-small" i18n>Prénom</label>
            <div class="control">
              <input    [ngClass]="!rPrenom.key
                              ? 'input is-danger is-small'
                              : 'input is-small'" type="text" [(ngModel)]="thisAdherent.prenom"  (ngModelChange)="validerTout()">
            </div>
            <p *ngIf="!rPrenom.key" class="is-small help is-danger">{{rPrenom.value}}</p>
          </div>

<div class="field mb-2">
 <label class="label is-small" i18n>Date</label>
            <div class="control">
              <input
              [ngClass]="!rDateNaissance.key   ? 'input is-danger is-small'   : 'input is-small' " type="date" [(ngModel)]="thisAdherent.date_naissance"  (ngModelChange)="validerTout()">
            </div>
            <p *ngIf="!rDateNaissance.key" class="is-small help is-danger">{{rDateNaissance.value}}</p>
</div>


          <div class="field mb-2">
            <label class="label is-small" i18n>Sexe</label>
            <div class="control">
              <div class="select is-small">
                <select [(ngModel)]="thisAdherent.sexe">
                  <option [ngValue]="true" i18n>Masculin</option>
                  <option [ngValue]="false" i18n>Féminin</option>
                </select>
              </div>
            </div>
          </div>

 <div class="field mb-2">
            <label class="label is-small" i18n>Surnom</label>
            <div class="control">
              <input    [ngClass]="!rSurnom.key
                              ? 'input is-danger is-small'
                              : 'input is-small'" type="text" [(ngModel)]="thisAdherent.surnom"  (ngModelChange)="validerTout()">
            </div>
            <p *ngIf="!rSurnom.key" class="is-small help is-danger">{{rSurnom.value}}</p>
          </div>
        </div>
        <ng-template #readPerso>
          <p><strong i18n>Nom&nbsp;:&nbsp;</strong>{{ thisAdherent.nom }}</p>
          <p><strong i18n>Prénom&nbsp;:&nbsp;</strong>{{ thisAdherent.prenom }}</p>
          <p><strong i18n>Date de naissance&nbsp;:&nbsp;</strong>{{ thisAdherent.date_naissance | date:'dd/MM/yyyy' }}</p>
          <p >
            <strong i18n>Sexe :</strong>&nbsp;
            <i *ngIf="thisAdherent.sexe" class="fa-solid fa-mars has-text-info"></i>
            <i *ngIf="!thisAdherent.sexe" class="fa-solid fa-venus has-text-danger"></i>
          </p>
          <p *ngIf="thisAdherent.surnom"><strong i18n>Surnom&nbsp;:&nbsp;</strong>{{ thisAdherent.surnom }}</p>
        </ng-template>
      </div>

    </div>
  </div>
