<div class="container">
    <div class="columns is-justify-content-center">
        <div class="column is-10-tablet is-8-desktop is-6-widescreen is-6-fullh">
            <ng-container *ngIf="!essai"><h4 class="title is-4">{{ seanceText }}</h4>
                <span style="display: flex; flex-direction: row;justify-content: space-between;">
                <hover-button [nomclass]="'button is-info is-rounded is-outlined'" (click)="ChangeSemaine(false)"
                [libelle]="'Semaine précédente'" [nomicon]="'fas fa-chevron-circle-left'"></hover-button> 
                <hover-button [nomclass]="'button is-info is-rounded is-outlined'" (click)="ChangeSemaine(true)"
                [libelle]="'Semaine suivante'" [nomicon]="'fas fa-chevron-circle-right'"></hover-button></span>
                <br/>
                <ng-container *ngFor="let day of days; let i = index">
                    <h4 *ngIf="getSeancesForDay(i + 1).length > 0" class="subtitle is-4">{{ day }}</h4>

                    <ng-container *ngFor="let seance of getSeancesForDay(i + 1)">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <h5 class="title is-5"><strong>{{seance.libelle}}&nbsp;{{ seance.date_seance |
                                            date: 'dd/MM/yyyy' }}</strong></h5>
                                    <div class="ligneinfo">
                                        <ng-container *ngIf="seance.TypeSeance==='ENTRAINEMENT'">

                                            <span i18n>Cours</span>
                                        </ng-container>
                                        <ng-container *ngIf="seance.TypeSeance==='MATCH'">
                                            <span i18n>Match</span>
                                        </ng-container>
                                        <ng-container *ngIf="seance.TypeSeance==='EVENEMENT'">
                                            <span i18n>Evénement</span>
                                        </ng-container>
                                        <ng-container *ngIf="seance.TypeSeance==='SORTIE'">
                                            <span i18n>Sortie</span>
                                        </ng-container>
                                        - {{seance.heure_debut}} <span>({{seance.duree_seance}} <span i18n>&nbsp;min</span>)</span>
                                        {{seance.Lieu}}
                                        <ng-container *ngIf="seance.Statut == 'prévue'">
                                            <span class="tag is-info is-large is-rounded">
                                            <svg width="20" style="fill:blue" height="20">
                                                <use xlink:href=".\assets\liste.svg#prevu"></use>
                                            </svg>
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="seance.Statut == 'réalisée'">
                                            <span class="tag is-primary is-large is-rounded">
                                            <svg width="20" style="fill:hsl(171, 100%, 41%)" height="20">
                                                <use xlink:href=".\assets\liste.svg#termine"></use>
                                            </svg>
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="seance.Statut == 'annulée'">
                                            
                                            <span class="tag is-danger is-large is-rounded">
                                            <svg width="20" style="fill:hsl(348, 100%, 61%)" height="20">
                                                <use xlink:href=".\assets\liste.svg#annuler"></use>
                                            </svg>
                                            </span>
                                        </ng-container>
                                        
                                    </div>
                                    <div *ngIf="seance.EssaiPossible" class="ligneinfo">
                                        <button type="button" 
                                            class="button is-rounded is-primary is-outlined" (click)="Essayer(seance)"
                                            i18n>
                                            Essayer
                                        </button>
                                    </div>
                                    <div *ngIf="seance.EstAgeMinimum || seance.EstAgeMaximum" class="ligneinfo">
                                        <span *ngIf="seance.EstAgeMinimum"><span i18n>Age minimum : </span>{{seance.AgeMinimum}}<span i18n> ans</span></span>
                                        <span *ngIf="seance.EstAgeMaximum"><span i18n>Age maximum : </span>{{seance.AgeMaximum}}<span i18n> ans</span></span>
                                    </div>

                                </div>
                            </article>
                        </div>
                    </ng-container>

                </ng-container>

            </ng-container>
            <ng-container *ngIf="essai">
                <div *ngIf="thisSeance" class="box">
                    <article class="media">
                        <div class="media-content">
                            <h5 class="title is-5"><strong>{{thisSeance.libelle}}&nbsp;{{ thisSeance.date_seance |
                                date: 'dd/MM/yyyy' }}</strong></h5>
                        <div class="ligneinfo">
                            <ng-container *ngIf="thisSeance.type_seance==='ENTRAINEMENT'">

                                <span i18n>Cours</span>
                            </ng-container>
                            <ng-container *ngIf="thisSeance.type_seance==='MATCH'">
                                <span i18n>Match</span>
                            </ng-container>
                            <ng-container *ngIf="thisSeance.type_seance==='EVENEMENT'">
                                <span i18n>Evénement</span>
                            </ng-container>
                            <ng-container *ngIf="thisSeance.type_seance==='SORTIE'">
                                <span i18n>Sortie</span>
                            </ng-container>
                            - {{thisSeance.heure_debut}} <span>({{thisSeance.duree_seance}} <span i18n>&nbsp;min</span>)</span>
                            {{thisSeance.lieu_nom}}
                            <ng-container *ngIf="thisSeance.statut == 'prévue'">
                                <span class="tag is-info is-large is-rounded">
                                <svg width="20" style="fill:blue" height="20">
                                    <use xlink:href=".\assets\liste.svg#prevu"></use>
                                </svg>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="thisSeance.statut == 'réalisée'">
                                <span class="tag is-primary is-large is-rounded">
                                <svg width="20" style="fill:hsl(171, 100%, 41%)" height="20">
                                    <use xlink:href=".\assets\liste.svg#termine"></use>
                                </svg>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="thisSeance.statut == 'annulée'">
                                
                                <span class="tag is-danger is-large is-rounded">
                                <svg width="20" style="fill:hsl(348, 100%, 61%)" height="20">
                                    <use xlink:href=".\assets\liste.svg#annuler"></use>
                                </svg>
                                </span>
                            </ng-container>
                           
                        </div>
                        <div *ngIf="thisSeance.est_limite_age_minimum || thisSeance.est_limite_age_maximum" class="ligneinfo">
                            <span *ngIf="thisSeance.est_limite_age_minimum"><span i18n>Age minimum : </span>{{thisSeance.age_minimum}}<span i18n> ans</span></span>
                            <span *ngIf="thisSeance.est_limite_age_maximum"><span i18n>Age maximum : </span>{{thisSeance.age_maximum}}<span i18n> ans</span></span>
                        </div>

                        </div>
                    </article>
                </div>
                <div *ngIf="thisEssai" class="box">
<infoperso [thisAdherent]="thisEssai" [Regles]="(GlobalServices.getRegles().InfoPerso_Essai)" ></infoperso>
</div>
                    <div class="field">
                        <label class="label" i18n>Adresse :</label>
                        <app-address ></app-address>
                    </div>
                    <p class="help is-danger" *ngIf="!valid_address" i18n>L'adresse doit être saisie (voie, code postal
                        et ville)</p>
                    <app-contact-item  [Notes]="'Notes'"
                        [Titre]="'Contacts : '" [Contacts]="thisEssai.contact" ></app-contact-item>
                    <p class="help is-danger" *ngIf="!valid_mail" i18n>Au moins un mail doit être saisi</p>
                    <p class="help is-danger" *ngIf="!valid_tel" i18n>Au moins un téléphone doit être saisi</p>

                    <app-contact-item [Notes]="'Relation'" [Titre]="'Contact à prévenir : '"
                        [Contacts]="thisEssai.contact_prevenir"
                        >
                    </app-contact-item>

                <hover-button [nomclass]="'button  is-rounded is-primary is-outlined' "
                    [disabled]="!this.valid_address || !this.valid_mail || !this.valid_tel"
                    [nomicon]="'fas fa-check'" [libelle]="'Confirmer'" (click)="Confirmer()">
                </hover-button>
                <hover-button [nomclass]="'button  is-rounded is-danger is-outlined' " [nomicon]="'fa-solid fa-backward-fast'"
                    [libelle]="'Retour'" (click)="Retour()">
                </hover-button>
            </ng-container>
        </div>
    </div>
</div>