<div class="personne-selector">
  <div class="field has-addons mb-0">
    <div class="control is-expanded has-icons-left" [class.is-loading]="loading">
      <input
        class="input is-small"
        type="text"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [ngModel]="searchText"
        (ngModelChange)="onSearchChange($event)"
        (focus)="opened = true"
      />

      <span class="icon is-small is-left">
        <i class="fa-solid fa-user-magnifying-glass"></i>
      </span>
    </div>

    <div class="control" *ngIf="personneId">
      <button
        type="button"
        class="button is-light is-small"
        [disabled]="disabled"
        (click)="clear()"
        title="Vider"
       i18n-title>
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

  <div class="selector-dropdown" *ngIf="opened && results.length > 0">
    <button
      type="button"
      class="selector-item"
      *ngFor="let personne of results"
      (click)="select(personne)"
    >
      <span class="selector-main">
        {{ getLabel(personne) }}
      </span>


      <span class="selector-id">
        #{{ personne.id }}
      </span>
    </button>
  </div>

  <p class="help" *ngIf="opened && !loading && searchText.trim().length >= minLength && results.length === 0" i18n>
    Aucun résultat.
  </p>

  <p class="help" *ngIf="personneId" i18n>
    Personne sélectionnée : #{{ personneId }}
  </p>
</div>