<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card" style="width: 100%;">
                <header class="card-header">
                    <p class="card-header-title" i18n>
                        Ajouter un adhérent au groupe
                    </p>
                    <button (click)="afficher_menu_admin ? afficher_menu_admin = false : afficher_menu_admin= true"
                        class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <svg *ngIf="!afficher_menu_admin" width="20" height="20">
                                <use xlink:href=".\assets\liste.svg#chevron-up" style="fill:blue"></use>
                            </svg>
                            <svg *ngIf="afficher_menu_admin" width="20" height="20">
                                <use xlink:href=".\assets\liste.svg#chevron-down" style="fill:blue"></use>
                            </svg>
                        </span>
                    </button>
                </header>
                <div class="card-content" *ngIf="afficher_menu_admin">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <h3 i18n>Sélectionner l'adhérent</h3>
                                <div class="field ">
                                    <label for="nom" class="label">Filtrer sur le nom</label>
                                    <input style="width: fit-content;font-size:smaller;" class="input" i18n-placeholder
                                        placeholder="Adhérent" type="text" [(ngModel)]="filter_libelle">
                                </div>
                                <div class="field">
                                    <label for="seasons" class="label"></label>
                                    <div class="select">
                                        <select id="seasons" [(ngModel)]="adherent_to" i18n-placeholder
                                            placeholder="Choisir un adhérent">
                                            <!-- Options pour les professeurs -->
                                            <ng-container
                                                *ngFor="let adh of liste_adherent | filterLibelleNom : filter_libelle ">
                                                <option [value]="adh.ID">{{adh.Libelle}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 i18n>Sélectionner le groupe</h3>

                                <div class="field">
                                    <label for="groupes" class="label"></label>
                                    <div class="select">
                                        <select id="groupes" [(ngModel)]="groupe_to" i18n-placeholder
                                            placeholder="Choisir un adhérent">
                                            <!-- Options pour les professeurs -->
                                            <ng-container *ngFor="let gr of liste_groupe ">
                                                <option [value]="gr.id">{{gr.nom}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <button class="button is-rounded is-primary is-outlined" (click)="AddToGroupe()"
                                    style="align-self: center; ;fill:hsl(171, 100%, 41%)">
                                    <svg width="20" height="20">
                                        <use xlink:href=".\assets\liste.svg#plus"></use>
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="columns">
        <div class="column">
            <ng-container *ngFor="let groupe of liste_groupe">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title" i18n>{{groupe.nom}}</p>
                    </header>
                    <div class="card-content">
                        <div class="tags is-small">
                            <ng-container *ngFor="let rider of liste_adherent">
                                <ng-container *ngIf="isGroupe(groupe.id, rider)">
                                    <button (click)="AddOrRemove(groupe, rider, false)"
                                        class="button is-small is-rounded tag is-success is-outlined" style="fill:hsl(348, 100%, 61%); gap: 5px;">
                                        {{rider.prenom}} {{rider.nom}}
                                        <svg width="20"  height="20">
                                            <use xlink:href=".\assets\liste.svg#rounded_remove">
                                            </use>
                                        </svg>
                                    </button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>