    <div class="box is-light">
    <div class="is-flex is-justify-content-space-between is-align-items-center mb-3">
      <h3 class="subtitle is-6 has-text-primary has-text-weight-semibold" i18n>Adresse</h3>
      <btn *ngIf="!edit"
        [type_button]="'EditerLight'" 
        (click)="edit = !edit" 
      ></btn>
      <btn *ngIf="edit" [disabled]="valid_adresse" (click)="Save()"
        [type_button]="'SauvegarderLight'">
      </btn> <btn *ngIf="edit" (click)="Cancel()"
        [type_button]="'AnnulerLight'">
      </btn>
    </div>

    <div *ngIf="edit; else readAdresse">
              <div class="field">
                <label class="label" i18n>Rue</label>
                <div class="control">
                  <input (ngModelChange)="CheckAdresse()"
                    [ngClass]="!valid_adresse && thisAdresse.Street.length <2 ? 'input is-danger is-small' :'input is-small' "
                    type="text"
                    [(ngModel)]="thisAdresse.Street"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label" i18n>Code postal</label>
                <div class="control">
                  <input (ngModelChange)="CheckAdresse()"
                     [ngClass]="!valid_adresse && thisAdresse.PostCode.toString().length < 5 ? 'input is-danger is-small' :'input is-small' "
                    type="text"
                    [(ngModel)]="thisAdresse.PostCode"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label" i18n>Ville</label>
                <div class="control">
                  <input (ngModelChange)="CheckAdresse()"
                   [ngClass]="!valid_adresse && thisAdresse.City.length <2 ? 'input is-danger is-small' :'input is-small' "
                    type="text"
                    [(ngModel)]="thisAdresse.City"
                  />
                </div>
              </div>
            </div>

            <ng-template #readAdresse>
              <p><strong i18n>Rue</strong> : {{ thisAdresse.Street }}</p>
              <p><strong i18n>Code postal</strong> : {{ thisAdresse.PostCode }}</p>
              <p><strong i18n>Ville</strong> : {{ thisAdresse.City }}</p>
            </ng-template>

</div>