
<div class="container" *ngIf="FluxFinanciers && context == 'FLUXFIN'"></div>
<div class="container" *ngIf="editFluxFlinancier && context == 'EDIT_FLUXFIN'">
  <div class="columns is-justify-content-center">
    <div class="column is-12-tablet is-8-widescreen is-6-fullh">
      <div *ngIf="editFluxFlinancier" class="box">
        <h2 *ngIf="editFluxFlinancier.id < 1" class="title is-2" i18n>
          Créer un flux
        </h2>
        <h2 *ngIf="editFluxFlinancier.id > 0" class="title is-2" i18n>
          Editer un flux
        </h2>

        <div class="columns" style="align-items: flex-end">
          <div class="column is-4">
            <div class="field">
              <label class="label" i18n>Libellé</label>
              <p class="control has-icons-right">
                <input
                  class="input"
                  type="text"
                  placeholder="Libellé"
                  [(ngModel)]="editFluxFlinancier.libelle"
                />
              </p>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label" i18n>Montant</label>
              <p class="control " style="display: flex
              ;
                  align-items: center;
                  gap: 2px;">
                <input  
                  class="input"
                  type="number"
                  placeholder="Montant"
                  [(ngModel)]="editFluxFlinancier.montant"
                />
              </p>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label class="label" i18n>Date</label>
              <div class="control">
                <input
                  [class]="
                    editFluxFlinancier.date ? 'input' : 'input is-danger'
                  "
                  type="date"
                  id="date_naissance"
                  name="date_naissance"
                  i18n-placeholder
                  placeholder="Date comptanle"
                  [(ngModel)]="editFluxFlinancier.date"
                />
                <p class="help is-danger" *ngIf="!editFluxFlinancier.date" i18n>
                  La date doit être saisie
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4">
            <div class="field">
              <label class="label" i18n>Destinataire</label>
              <input
                class="input"
                list="destinataires"
                id="destinataire"
                [ngModel]="editFluxFlinancier.destinataire"
                (ngModelChange)="onInputChange($event)"
              />
              <datalist id="destinataires">
                <ng-container *ngFor="let option of Destinataire">
                  <option [value]="option">{{option.value}}</option>
                  <!-- Affiche le texte formaté -->
                </ng-container>
              </datalist>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label class="label" i18n>Statut paiement</label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="editFluxFlinancier.statut">
                    <option value="0"><span i18n>Non exécuté</span></option>
                    <option value="1"><span i18n>Exécuté</span></option>
                    <option value="-1"><span i18n>Annulé</span></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="editFluxFlinancier.id == 0" class="column is-4">
            <div class="field">
              <label class="label" i18n>Nombre de paiement</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  min="1"
                  max="36"
                  placeholder="Nombre de paiement"
                  [(ngModel)]="editFluxFlinancier.nb_paiement"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" i18n>Info</label>
              <p class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Info"
                  [(ngModel)]="editFluxFlinancier.info"
                />
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label" i18n>Document</label>
              <ul *ngIf="editFluxFlinancier.Documents.length > 0">
                <ng-container *ngFor="let doc of editFluxFlinancier.Documents">
                  <li>
                    <a href="">{{ doc.titre }}</a>
                  </li>
                </ng-container>
              </ul>
              <a (click)="AjouterDoc()" i18n>Ajouter un document</a>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label" i18n>Classe comptable</label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="editFluxFlinancier.classe_comptable">
                    <ng-container *ngFor="let cc of ClassesComptable">
                      <option [value]="cc.numero">{{ cc.libelle }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="field"
        *ngIf="editFluxFlinancier.id !=  0"
      >
        <div class="card">
          <header class="card-header">
            <p class="card-header-title" i18n>Stock associé</p>
            <button
              type="button"
              (click)="Ajouter_Stock()"
              class="button is-primary is-rounded is-outlined"
              style="align-self: center; fill: hsl(171, 100%, 41%)"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </header>
          <span class="fullscreen">
            <div class="card-content">
              <table
                class="table"
                style="width: 100%; font-size: smaller"
                *ngIf="
                  editFluxFlinancier.liste_stock &&
                  editFluxFlinancier.liste_stock.length > 0
                "
              >
                <thead>
                  <tr>
                    <th>
                      <span style="font-size: smaller" i18n>Quantité</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Date d'achat</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Valeur</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Catégorie</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n
                        >Lieu de stockage</span
                      >
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Libellé</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cpt of editFluxFlinancier.liste_stock">
                    <td>
                      <input
                        class="input is-small"
                        type="number"
                        min="0"
                        i18n-placeholder
                        placeholder="Quantité"
                        [(ngModel)]="cpt.qte"
                      />
                    </td>
                    <td>
                      <div class="control">
                        <input
                          class="input is-small"
                          type="date"
                          id="date_naissance"
                          name="date_naissance"
                          i18n-placeholder
                          placeholder="Date comptanle"
                          [(ngModel)]="cpt.date_achat"
                        />
                      </div>
                    </td>
                    <td>
                      <input
                        class="input is-small"
                        type="number"
                        min="0"
                        placeholder="Solde"
                        [(ngModel)]="cpt.valeur_achat"
                      />
                    </td>
                    <td>
                      <div class="control">
                        <div class="select is-small">
                          <select id="cours" [(ngModel)]="cpt.type_stock">
                            <option value="0" i18n>Autre</option>
                            <ng-container *ngFor="let st of TypeStock">
                                <option [value]="st.id">{{st.libelle}}&nbsp;({{st.categorie}}) </option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input
                        class="input is-small"
                        list="lieux"
                        id="lieu"
                        (ngModelChange)="onInputChangeListStock($event,cpt)"
                        [(ngModel)]="cpt.lieu_stockage"
                      />
                      <datalist id="lieux">
                        <option
                          *ngFor="let option of Liste_Lieu"
                          [value]="formatDestinataire(option)"
                        ></option>
                      </datalist>
                    </td>
                    <td>
                      <input
                        class="input is-small"
                        type="text"
                        i18n-placeholder
                        placeholder="Libellé"
                        [(ngModel)]="cpt.libelle"
                      />
                    </td>
                    <td>
                      <div class="buttons">
                        <button
                          i18n-title
                          title="Supprimer"
                          class="button is-smallis-danger is-rounded is-outlined"
                          type="button"
                          (click)="Delete_stock(cpt)"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>
        </div>
      </div>
      <div
        class="field"
        *ngIf="editFluxFlinancier.id !=  0"
      >
        <div class="card">
          <header class="card-header">
            <p class="card-header-title" i18n>Paiements</p>
            <button
              type="button"
              (click)="AjouterPaiement_ff()"
              class="button is-primary is-rounded is-outlined"
              style="align-self: center; fill: hsl(171, 100%, 41%)"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </header>
          <span class="fullscreen">
            <div class="card-content">
              <table
                class="table"
                style="width: 100%; font-size: smaller"
                *ngIf="
                  editFluxFlinancier.liste_operation &&
                  editFluxFlinancier.liste_operation.length > 0
                "
              >
                <thead>
                  <tr>
                    <th>
                      <span style="font-size: smaller" i18n
                        >Date de transaction</span
                      >
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Montant</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n
                        >Compte bancaire</span
                      >
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Destinataire</span>
                    </th>
                    <th><span style="font-size: smaller" i18n>Mode</span></th>
                    <th>
                      <span style="font-size: smaller" i18n>Statut</span>
                    </th>
                    <th>
                      <span style="font-size: smaller" i18n>Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cpt of editFluxFlinancier.liste_operation">
                    <td>
                      <input
                        class="input is-small"
                        type="date"
                        id="date_operation"
                        name="date_operation"
                        i18n-placeholder
                        placeholder="Date opération"
                        [(ngModel)]="cpt.date_operation"
                      />
                    </td>
                    <td>
                      <input
                        class="input is-small"
                        type="number"
                        min="0"
                        placeholder="Solde"
                        [(ngModel)]="cpt.solde"
                      />
                    </td>
                    <td>
                      <div class="control">
                        <div class="select is-small">
                          <select [(ngModel)]="cpt.compte_bancaire_id">
                            <ng-container *ngFor="let cpt of Comptes">
                              <option [ngValue]="cpt.id">
                                {{ cpt.nom }}
                              </option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input
                        class="input is-small"
                        list="destinataires"
                        id="destinataire"
                        [ngModel]="cpt.destinataire"
                        (ngModelChange)="onInputChangeList($event, cpt)"
                      />
                      <datalist id="destinataires">
                        <ng-container *ngFor="let option of Destinataire">
                          <option [value]="formatDestinataire(option)"></option>
                          <!-- Affiche le texte formaté -->
                        </ng-container>
                      </datalist>
                    </td>
                    <td>
                      <div class="field">
                        <div class="control">
                          <div class="select is-small">
                            <select [(ngModel)]="cpt.mode">
                              <option value="0">
                                <span i18n>Espèces</span>
                              </option>
                              <option value="1">
                                <span i18n>Carte bancaire</span>
                              </option>
                              <option value="2">
                                <span i18n>Virement</span>
                              </option>
                              <option value="3">
                                <span i18n>Chèque</span>
                              </option>
                              <option value="4">
                                <span i18n>Prélèvement</span>
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="field">
                        <div class="control">
                          <div class="select is-small">
                            <select [(ngModel)]="cpt.paiement_execute">
                              <option value="false">
                                <span i18n>Non exécuté</span>
                              </option>
                              <option value="true">
                                <span i18n>Exécuté</span>
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="buttons">
                        <button
                          i18n-title
                          title="Supprimer"
                          class="button is-small is-danger is-rounded is-outlined"
                          type="button"
                          (click)="Remove_liste(cpt)"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>
        </div>
      </div>

      <div
        class="buttons"
      >
      <button         *ngIf="
      editFluxFlinancier.id ==0"
          class="button is-primary is-rounded is-outlined"
          type="button"
          style="fill: hsl(171, 100%, 41%)"
          [disabled]="isOKCreate()"
          (click)="AppliquerPaiement()"
        i18n>Appliquer
        </button>
        <button *ngIf="editFluxFlinancier.liste_operation.length > 0"
          class="button is-primary is-rounded is-outlined"
          type="button"
          style="fill: hsl(171, 100%, 41%)"
          [disabled]="isValid()"
          (click)="Save_ff()"
        i18n> Sauvegarder
          <i class="fa-solid fa-floppy-disk"></i>
        </button>
        <button 
          class="button is-danger is-rounded is-outlined"
          type="button"
          style="fill: hsl(171, 100%, 41%)"
          (click)="Retour_menu()"
        i18n>Retour
          <i class="fa-solid fa-backward-fast"></i>
        </button>
      </div>

    </div>
  </div>
</div>
<div class="container" *ngIf="FluxFinanciers && context == 'COMPTA'">
  <button
    (click)="context = 'LISTE'"
    class="button is-outlined is-rounded is-primary"
    type="button"
  >
    <span i18n>Vue liste</span>
  </button>
  <ng-container *ngFor="let cl of ClassesComptable">
    <ng-container *ngIf="IsCC(cl)">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{ cl.numero }} - {{ cl.libelle }}</p>
          <button (click)="Ajouter(cl.numero)" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa-solid fa-plus"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <table
            class="table"
            style="width: 100%; font-size: smaller"
            *ngIf="FluxFinanciers && FluxFinanciers.length > 0"
          >
            <thead>
              <tr>
                <th>
                  <span class="th_filtre">
                    <span class="ligne">
                      <span style="font-size: smaller" i18n
                        >Date comptable</span
                      >
                      <span style="cursor: pointer">
                        <i
                          *ngIf="sort_date_ff === 'NO'"
                          (click)="Sort_ff('ASC', 'date')"
                          class="fa-solid fa-sort"
                        ></i>
                        <i
                          *ngIf="sort_date_ff === 'ASC'"
                          (click)="Sort_ff('DESC', 'date')"
                          class="fa-solid fa-sort-up"
                        ></i>
                        <i
                          *ngIf="sort_date_ff === 'DESC'"
                          (click)="Sort_ff('ASC', 'date')"
                          class="fa-solid fa-sort-down"
                        ></i> </span
                    ></span>
                  </span>
                </th>
                <th>
                  <span class="th_filtre">
                    <span class="ligne">
                      <span style="font-size: smaller" i18n>Montant</span>
                      <span style="cursor: pointer">
                        <i
                          *ngIf="sort_montant_ff === 'NO'"
                          (click)="Sort_ff('ASC', 'montant')"
                          class="fa-solid fa-sort"
                        ></i>
                        <i
                          *ngIf="sort_montant_ff === 'ASC'"
                          (click)="Sort_ff('DESC', 'montant')"
                          class="fa-solid fa-sort-up"
                        ></i>
                        <i
                          *ngIf="sort_montant_ff === 'DESC'"
                          (click)="Sort_ff('ASC', 'montant')"
                          class="fa-solid fa-sort-down"
                        ></i> </span
                    ></span>
                  </span>
                </th>
                <th>
                  <span class="th_filtre">
                    <span class="ligne">
                      <span style="font-size: smaller" i18n>R / D</span
                      ><span style="cursor: pointer">
                        <i
                          *ngIf="sort_sens_ff === 'NO'"
                          (click)="Sort_ff('ASC', 'sens')"
                          class="fa-solid fa-sort"
                        ></i>
                        <i
                          *ngIf="sort_sens_ff === 'ASC'"
                          (click)="Sort_ff('DESC', 'sens')"
                          class="fa-solid fa-sort-up"
                        ></i>
                        <i
                          *ngIf="sort_sens_ff === 'DESC'"
                          (click)="Sort_ff('ASC', 'sens')"
                          class="fa-solid fa-sort-down"
                        ></i>
                      </span>
                    </span>
                  </span>
                </th>
                <th>
                  <span class="th_filtre">
                    <span class="ligne">
                      <span style="font-size: smaller" i18n>Libellé</span>
                      <span style="cursor: pointer">
                        <i
                          *ngIf="sort_libelle_ff === 'NO'"
                          (click)="Sort_ff('ASC', 'libelle_ff')"
                          class="fa-solid fa-sort"
                        ></i>
                        <i
                          *ngIf="sort_libelle_ff === 'ASC'"
                          (click)="Sort_ff('DESC', 'libelle_ff')"
                          class="fa-solid fa-sort-up"
                        ></i>
                        <i
                          *ngIf="sort_libelle_ff === 'DESC'"
                          (click)="Sort_ff('ASC', 'libelle_ff')"
                          class="fa-solid fa-sort-down"
                        ></i>
                      </span>
                    </span>
                  </span>
                </th>
                <th>
                  <span style="font-size: smaller" i18n>Destinataire</span>
                </th>
                <th>
                  <span style="font-size: smaller" i18n>Statut</span>
                </th>
                <th><span style="font-size: smaller" i18n>Action</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cpt of FFByClass(cl.numero)">
                <td>
                  {{ cpt.date | date : "dd/MM/yyyy" }}
                </td>
                <td>
                  {{ cpt.montant }}
                </td>
                <td>
                  <i
                    *ngIf="cpt.montant>0"
                    style="color: green"
                    class="fas fa-plus-square"
                  ></i>
                  <i
                    *ngIf="cpt.montant <= 0"
                    style="color: red"
                    class="fas fa-minus-square"
                  ></i>
                </td>
                <td>
                  {{ cpt.libelle }}
                </td>
                <td>
                  {{ cpt.destinataire.value }}
                </td>
                <td>
                  <span *ngIf="cpt.statut == 0" i18n>Non exécuté</span>
                  <span *ngIf="cpt.statut == 1" i18n>Exécuté</span>
                  <span *ngIf="cpt.statut == -1" i18n>Annulé</span>
                </td>
                <td>
                  <div class="buttons">
                    <button
                      i18n-title
                      title="Supprimer"
                      class="button is-danger is-rounded is-outlined"
                      type="button"
                      (click)="Delete_ff(cpt)"
                    >
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <button
                      *ngIf="cpt.statut != 1"
                      i18n-title
                      title="Payer maintenant"
                      class="button is-info is-rounded is-outlined"
                      type="button"
                      (click)="Payer_ff(cpt)"
                    >
                      <i class="fas fa-coins"></i>
                    </button>
                    <button
                      i18n-title
                      title="Editer"
                      class="button is-info is-rounded is-outlined"
                      type="button"
                      (click)="Read_ff(cpt)"
                    >
                      <i class="fa-solid fa-binoculars"></i>
                    </button>
                    <button
                      i18n-title
                      title="Editer"
                      class="button is-info is-rounded is-outlined"
                      type="button"
                      (click)="Edit_ff(cpt.id)"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="container" *ngIf="FluxFinanciers && context == 'LISTE'">
  <button
    (click)="context = 'COMPTA'"
    class="button is-outlined is-rounded is-primary"
    type="button"
  >
    <span i18n>Vue comptable</span>
  </button>
  <button
  (click)="Ajouter()"
  class="button is-outlined is-rounded is-primary"
  type="button"
>
  <span i18n>Ajouter</span>
  
              <i class="fa-solid fa-plus"></i>
</button>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Liste des transactions annuelles</p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <div class="card-content">
      <table
        class="table"
        style="width: 100%; font-size: smaller"
        *ngIf="FluxFinanciers && FluxFinanciers.length > 0"
      >
        <thead>
          <tr>
            <th>
              <span class="th_filtre">
                <span class="ligne">
                  <span style="font-size: smaller" i18n>Date comptable</span>
                  <span style="cursor: pointer">
                    <i
                      *ngIf="sort_date_ff === 'NO'"
                      (click)="Sort_ff('ASC', 'date')"
                      class="fa-solid fa-sort"
                    ></i>
                    <i
                      *ngIf="sort_date_ff === 'ASC'"
                      (click)="Sort_ff('DESC', 'date')"
                      class="fa-solid fa-sort-up"
                    ></i>
                    <i
                      *ngIf="sort_date_ff === 'DESC'"
                      (click)="Sort_ff('ASC', 'date')"
                      class="fa-solid fa-sort-down"
                    ></i> </span
                ></span>
              </span>
            </th>
            <th>
              <span class="th_filtre">
                <span class="ligne">
                  <span style="font-size: smaller" i18n>Montant</span>
                  <span style="cursor: pointer">
                    <i
                      *ngIf="sort_montant_ff === 'NO'"
                      (click)="Sort_ff('ASC', 'montant')"
                      class="fa-solid fa-sort"
                    ></i>
                    <i
                      *ngIf="sort_montant_ff === 'ASC'"
                      (click)="Sort_ff('DESC', 'montant')"
                      class="fa-solid fa-sort-up"
                    ></i>
                    <i
                      *ngIf="sort_montant_ff === 'DESC'"
                      (click)="Sort_ff('ASC', 'montant')"
                      class="fa-solid fa-sort-down"
                    ></i> </span
                ></span>
              </span>
            </th>
            <th>
              <span class="th_filtre">
                <span class="ligne">
                  <span style="font-size: smaller" i18n>R / D</span
                  ><span style="cursor: pointer">
                    <i
                      *ngIf="sort_sens_ff === 'NO'"
                      (click)="Sort_ff('ASC', 'sens')"
                      class="fa-solid fa-sort"
                    ></i>
                    <i
                      *ngIf="sort_sens_ff === 'ASC'"
                      (click)="Sort_ff('DESC', 'sens')"
                      class="fa-solid fa-sort-up"
                    ></i>
                    <i
                      *ngIf="sort_sens_ff === 'DESC'"
                      (click)="Sort_ff('ASC', 'sens')"
                      class="fa-solid fa-sort-down"
                    ></i>
                  </span>
                </span>
              </span>
            </th>
            <th>
              <span class="th_filtre">
                <span class="ligne">
                  <span style="font-size: smaller" i18n>Libellé</span>
                  <span style="cursor: pointer">
                    <i
                      *ngIf="sort_libelle_ff === 'NO'"
                      (click)="Sort_ff('ASC', 'libelle_ff')"
                      class="fa-solid fa-sort"
                    ></i>
                    <i
                      *ngIf="sort_libelle_ff === 'ASC'"
                      (click)="Sort_ff('DESC', 'libelle_ff')"
                      class="fa-solid fa-sort-up"
                    ></i>
                    <i
                      *ngIf="sort_libelle_ff === 'DESC'"
                      (click)="Sort_ff('ASC', 'libelle_ff')"
                      class="fa-solid fa-sort-down"
                    ></i>
                  </span>
                </span>
              </span>
            </th>
            <th>
              <span style="font-size: smaller" i18n>Destinataire</span>
            </th>
            <th>
              <span style="font-size: smaller" i18n>Statut</span>
            </th>
            <th><span style="font-size: smaller" i18n>Action</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cpt of this.FluxFinanciers">
            <td>
              {{ cpt.date | date : "dd/MM/yyyy" }}
            </td>
            <td>
              {{ cpt.montant }}
            </td>
            <td>
              <i
                *ngIf="cpt.montant >0"
                style="color: green"
                class="fas fa-plus-square"
              ></i>
              <i
                *ngIf="cpt.montant <= 0"
                style="color: red"
                class="fas fa-minus-square"
              ></i>
            </td>
            <td>
              {{ cpt.libelle }}
            </td>
            <td>
              {{ cpt.destinataire.value }}
            </td>
            <td>
              <span *ngIf="cpt.statut == 0" i18n>Non exécuté</span>
              <span *ngIf="cpt.statut == 1" i18n>Exécuté</span>
              <span *ngIf="cpt.statut == -1" i18n>Annulé</span>
            </td>
            <td>
              <div class="buttons">
                <button
                  i18n-title
                  title="Supprimer"
                  class="button is-danger is-rounded is-outlined"
                  type="button"
                  (click)="Delete_ff(cpt)"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
                <button
                  *ngIf="cpt.statut != 1"
                  i18n-title
                  title="Payer maintenant"
                  class="button is-info is-rounded is-outlined"
                  type="button"
                  (click)="Payer_ff(cpt)"
                >
                  <i class="fas fa-coins"></i>
                </button>
                <button
                  i18n-title
                  title="Editer"
                  class="button is-info is-rounded is-outlined"
                  type="button"
                  (click)="Read_ff(cpt)"
                >
                  <i class="fa-solid fa-binoculars"></i>
                </button>
                <button
                  i18n-title
                  title="Editer"
                  class="button is-info is-rounded is-outlined"
                  type="button"
                  (click)="Edit_ff(cpt.id)"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
