<div class="container">
  <ng-container *ngIf="loading">
    <progress
      class="progress is-large is-info"
      style="margin-top: 60px"
      max="100"
    >
      60%
    </progress>
    <p>Chargement en cours</p>
  </ng-container>
  <ng-container *ngIf="!loading">
    <br />
       <ng-container *ngIf="Riders">
        <div class="columns is-multiline is-mobile is-centered">
          <div
            class="column is-2-desktop is-3-tablet is-6-mobile"
            *ngFor="let personne of Riders"
          >
            <div
              (click)="AfficherProfil(personne)"
              class="card has-text-centered p-2 modern-card"
              [ngClass]="{
                'is-primary-border': personne.profil === 'ADH',
                'is-info-border': personne.profil === 'PROF'
              }"
            >
              <div class="photo-wrapper mb-2">
                <figure class="image is-80x80">
                  <img
                    class="is-rounded"
                    [src]="personne.Photo ?? '../../assets/photo_H.png'"
                    [alt]="'Photo de ' + personne.Nom"
                  />
                </figure>
              </div>
              <p class="is-size-7 has-text-weight-bold">
                {{ personne.Nom }} {{ personne.Prenom }}
              </p>
              <p
                class="is-size-7"
                [ngClass]="{
                  'has-text-primary': personne.profil === 'ADH',
                  'has-text-info': personne.profil === 'PROF'
                }"
              >
                {{ getLibelleProfil(personne.profil) }}
              </p>
        
              <div *ngIf="personne.profil === 'ADH'" class="notification is-light is-small mt-2 px-2 py-1">
                <span class="has-text-success mr-2">
                  <span class="icon has-text-success">
                    <i class="fas fa-thumbs-up has-text-success"></i>
                  </span>
                  <span>{{ nbSeanceInscrit(personne.InscriptionSeances | multifiltersMenu : personne.filters).OK }}</span> 
                </span>
                <span class="has-text-danger mr-2">
                  <span class="icon has-text-danger">
                    <i class="fas fa-thumbs-down has-text-danger"></i>
                  </span>
                  <span>{{ nbSeanceInscrit(personne.InscriptionSeances| multifiltersMenu : personne.filters).KO }}</span> 
                </span>
                <span class="has-text-info mr-2">
                  <span class="icon has-text-info">
                    <i class="fas fa-question has-text-info"></i>
                  </span>
                  <span>{{ nbSeanceInscrit(personne.InscriptionSeances| multifiltersMenu : personne.filters).aucun }}</span> 
                </span>
              </div>
            </div>
          </div>
        </div> 
        <div class="columns is-multiline is-mobile is-centered">
      <ng-container *ngFor="let rider of Riders">
        <ng-container *ngIf="rider.afficher">
          <div
          class="card"
          [ngClass]="{
            'border-primary': rider.profil === 'ADH',
            'border-info': rider.profil === 'PROF'
          }"
        >
          <header
            class="card-header"
            [ngClass]="{
              'has-background-primary has-text-white': rider.profil === 'ADH',
              'has-background-info has-text-white': rider.profil === 'PROF'
            }"
          >
            <p class="card-header-title">
              {{ rider.Libelle }} 
            </p>
            <button
              i18n-title
              title="Éditer"
              class="button is-small is-outlined m-1"
              type="button"
              (click)="Voir(rider.ID)"
            >
            <i class="fa-solid fa-user-pen"></i>
            </button>
          </header>
       
            <div class="card-content" #scrollableContent>
              <table class="table" style="width: 100%; font-size: small">
                <thead>
                  <tr>
                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              rider.filters.filter_nom ? 'has-text-info' : ''
                            "
                            i18n
                            >Nom</span
                          >
                          <span style="cursor: pointer">
                            <i
                              *ngIf="rider.sort_nom === 'NO'"
                              (click)="Sort('ASC', 'nom',rider)"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="rider.sort_nom === 'ASC'"
                              (click)="Sort('DESC', 'nom',rider)"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="rider.sort_nom === 'DESC'"
                              (click)="Sort('ASC', 'nom',rider)"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </span>
                      </span>
                    </th>
                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              rider.filters.filter_date_apres ||
                              rider.filters.filter_date_avant
                                ? 'has-text-info'
                                : ''
                            "
                            i18n
                            >Date Heure (durée)</span
                          >
                          <span style="cursor: pointer">
                            <i
                              *ngIf="rider.sort_date === 'NO'"
                              (click)="Sort('ASC', 'date',rider)"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="rider.sort_date === 'ASC'"
                              (click)="Sort('DESC', 'date',rider)"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="rider.sort_date === 'DESC'"
                              (click)="Sort('ASC', 'date',rider)"
                              class="fa-solid fa-sort-down"
                            ></i> </span
                        ></span>
                      </span>
                    </th>                  
                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              rider.filters.filter_prof ? 'has-text-info' : ''
                            "
                            i18n
                            >Professeurs</span
                          >
                        </span>
                      </span>
                    </th>

                    <th>
                      <span>
                        <span class="ligne">
                          <span
                            [ngClass]="
                              rider.filters.filter_lieu ? 'has-text-info' : ''
                            "
                            i18n
                            >Lieu</span
                          >
                          <span style="cursor: pointer">
                            <i
                              *ngIf="rider.sort_lieu === 'NO'"
                              (click)="Sort('ASC', 'lieu',rider)"
                              class="fa-solid fa-sort"
                            ></i>
                            <i
                              *ngIf="rider.sort_lieu === 'ASC'"
                              (click)="Sort('DESC', 'lieu',rider)"
                              class="fa-solid fa-sort-up"
                            ></i>
                            <i
                              *ngIf="rider.sort_lieu === 'DESC'"
                              (click)="Sort('ASC', 'lieu',rider)"
                              class="fa-solid fa-sort-down"
                            ></i>
                          </span>
                        </span>
                      </span>
                    </th>
                    <th>
                      <span>
                        <span
                          [ngClass]="
                            rider.filters.filter_statut ? 'has-text-info' : ''
                          "
                          i18n
                          >Statut</span
                        >
                      </span>
                    </th>
                    <th>
                      <span  i18n>Présence</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="
                  let seance of rider.InscriptionSeances | multifiltersMenu : rider.filters" >                  
                    <td>
                      <ng-container
                        *ngIf="
                          seance.typeSeance === 'ENTRAINEMENT'
                        "
                      >
                      <span i18n>Cours</span>                     
                      </ng-container>
                      <ng-container
                        *ngIf="seance.typeSeance === 'MATCH'"
                      >
                        <span i18n>Match</span>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          seance.typeSeance === 'EVENEMENT'
                        "
                      >
                        <span i18n>Evénement</span>
                      </ng-container>
                      <ng-container
                        *ngIf="seance.typeSeance === 'SORTIE'"
                      >
                        <span i18n>Sortie</span>
                      </ng-container>
                      &nbsp;:&nbsp;{{ seance.nom }}
                    </td>
                    <td>
                      {{
                        seance.date | date : "dd/MM/yyyy"
                      }} 
                      {{ seance.heureDebut }} - {{ seance.heureFin }} ({{ seance.duree | dureeHHMM }})
                    </td>
                    <td>
                      <div class="tags is-small"  style="max-width: 300px">
                        <ng-container
                          *ngFor="let gr of seance.professeur"
                        >
                          <span class="tag is-success" [title]="gr.prenom + ' ' + gr.nom">
                            <ng-container *ngIf="gr.surnom && gr.surnom.length>0">
                                {{ gr.surnom }}
                            </ng-container>
                            <ng-container *ngIf="!gr.surnom || gr.surnom.length == 0">
                                {{ gr.prenom }}&nbsp;{{gr.nom}}
                            </ng-container>
                           
                          </span>
                        </ng-container>
                      </div>
                    </td>
                   <td>
  <span 
    [title]="getadresse(seance.lieuId)"
    (click)="copierDansPressePapier(getadresse(seance.lieuId))"
    style="cursor: pointer;"
  >
    {{ seance.lieu }}
  </span>
</td>


                    <td>
                      <ng-container
                        *ngIf="seance.statut == 'prévue'"
                      >
                            <span class="fa-stack fa-lg" i18n-title title="Séance prévue" >
                              <i
                                class="fas fa-stack-2x fa-calendar-check has-text-info"
                              ></i>
                            </span>
                      </ng-container>
                      <ng-container
                        *ngIf="seance.statut == 'réalisée'"
                      >
                          <span class="icon has-text-success" i18n-title title="Séance réalisée" >
                            <i class="fa-solid fa-flag-checkered"></i>
                          </span>
                      </ng-container>
                      <ng-container
                        *ngIf="seance.statut == 'annulée'"
                      >
                          <span class="icon has-text-danger"  i18n-title title="Séance annulée">
                            <i class="fa-solid fa-ban"></i>
                          </span>
                               </ng-container>
                    </td>
                    <td>
                      <btn *ngIf="rider.profil == 'PROF'"
                      [type_button]="'VoirLight'"
                      (click)="VoirMaSeance(seance)">
                    </btn>
                      <ng-container
                        *ngIf="seance.statut == 'prévue' && rider.profil == 'ADH'"
                      >                       
                      
                          <span
                            (click)="
                               MAJInscription(rider.Libelle,rider.ID,seance, null)
                            "
                            *ngIf="
                              seance.statutInscription ==
                              'présent'
                            "
                            class="icon is-large"
                          >
                            <span class="fa-stack fa-lg">
                              <i
                                class="fas fa-stack-2x fa-thumbs-up has-text-success"
                              ></i>
                            </span>
                          </span>
                          <span
                            (click)="
                               MAJInscription(rider.Libelle,rider.ID,seance, true)
                            "
                            *ngIf="
                              seance.statutInscription ==
                                'absent' ||
                              seance.statutInscription ==
                                'convoqué' ||
                              seance.statutInscription ==
                                null
                            "
                            style="cursor: pointer"
                            class="icon is-large"
                          >
                            <span class="fa-stack fa-lg">
                              <i
                                class="far fa-stack-2x fa-thumbs-up has-text-success"
                              ></i>
                            </span>
                          </span>
                          <span
                            (click)="
                               MAJInscription(rider.Libelle,rider.ID,seance, null)
                            "
                            *ngIf="
                              seance.statutInscription ==
                              'absent'
                            "
                            class="icon is-large"
                          >
                            <span class="fa-stack fa-lg">
                              <i
                                class="fas fa-stack-2x fa-thumbs-down has-text-danger"
                              ></i>
                            </span>
                          </span>
                          <span
                            (click)="
                               MAJInscription(rider.Libelle,rider.ID,seance, false)
                            "
                            *ngIf="
                              seance.statutInscription ==
                                'présent' ||
                              seance.statutInscription ==
                                'convoqué' ||
                              seance.statutInscription ==
                                null
                            "
                            style="cursor: pointer"
                            class="icon is-large"
                          >
                            <span class="fa-stack fa-lg">
                              <i
                                class="far fa-stack-2x fa-thumbs-down has-text-danger"
                              ></i>
                            </span>
                          </span>
                          
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            <p *ngIf="!rider.InscriptionSeances || rider.InscriptionSeances.length == 0">
              Pas de séances disponible
            </p>
            <button
              class="scroll-to-top"
              *ngIf="showScrollToTop"
              (click)="scrollToTop()"
              title="Revenir en haut"
            >
              ↑
            </button>
          </div>
          <footer class="card-footer">
            <div class="columns">
              <div class="column">
              <btn *ngIf="!rider.afficher_filtre" [type_button]="'FiltrerSmall'" (click)="rider.afficher_filtre = true"></btn>
              <div class="buttons" *ngIf="rider.afficher_filtre">
                <btn
                  (click)="
                    rider.afficher_filtre = false; rider.selected_filter = null
                  "
                  [type_button]="'RetourLight'"
                ></btn>
                <div
                  class="field is-horizontal"
                  style="gap: 0.5rem; align-items: center"
                >
                  <div class="field-label is-normal">
                    <label class="label" style="white-space: nowrap;font-size: smaller;" i18n
                      >Sélection du filtre</label
                    >
                  </div>
                  <div class="field-body">
                    <div class="field is-narrow">
                      <div class="control">
                        <div
                          class="select is-fullwidth ; font-size: smaller"
                        >
                          <select 
                          style="font-size: smaller" [(ngModel)]="rider.selected_filter">
                            <option value="nom" i18n>Nom</option>
                            <option value="date" i18n>Date</option>
                            <option value="statut" i18n>Statut</option>
                            <option value="prof" i18n>Professeur</option>
                            <option value="lieu" i18n>Lieu</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="rider.selected_filter"
                    class="field-label is-normal"
                  >
                    <label class="label" style="white-space: nowrap" i18n
                      >Valeur du filtre
                    </label>
                  </div>
                  <div class="field-body" *ngIf="rider.selected_filter">
                    <div class="field is-narrow">
                      <div class="control">
                        <input
                          *ngIf="rider.selected_filter == 'nom'"
                          style="width: fit-content; font-size: smaller"
                          class="input is-small"
                          i18n-placeholder
                          placeholder="Nom du cours"
                          type="text"
                          [(ngModel)]="rider.filters.filter_nom"
                        />
                        <div
                          class="select"
                          *ngIf="rider.selected_filter == 'statut'"
                        >
                          <select
                            style="font-size: smaller"
                            [(ngModel)]="rider.filters.filter_statut"
                          >
                            <option [ngValue]="null" i18n>Tous</option>
                            <option [ngValue]="'prévue'" i18n>
                              Prévue
                            </option>
                            <option [ngValue]="'réalisée'" i18n>
                              Réalisée
                            </option>
                            <option [ngValue]="'annulée'" i18n>
                              Annulée
                            </option>
                          </select>
                        </div>
                        <div
                          class="select"
                          *ngIf="rider.selected_filter == 'prof'"
                        >
                          <select
                            style="font-size: smaller"
                            [(ngModel)]="rider.filters.filter_prof"
                          >
                            <option [ngValue]="null" i18n>Tous</option>
                            <ng-container
                              *ngFor="let prof of liste_prof_filter"
                            >
                              <option [ngValue]="prof.value">
                                {{ prof.value }}
                              </option>
                            </ng-container>
                          </select>
                        </div>
                        <div
                          class="select"
                          *ngIf="rider.selected_filter == 'lieu'"
                        >
                          <select
                            style="font-size: smaller"
                            [(ngModel)]="rider.filters.filter_lieu"
                          >
                            <option [ngValue]="null" i18n>Tous</option>
                            <ng-container
                              *ngFor="let lieu of liste_lieu_filter"
                            >
                              <option [ngValue]="lieu">
                                {{ lieu }}
                              </option>
                            </ng-container>
                          </select>
                        </div>
                        <span
                          *ngIf="rider.selected_filter == 'date'"
                          class="ligne"
                        >
                          <div
                            style="gap: 6px"
                            class="field is-small is-horizontal field-jecha"
                          >
                            <label
                              for="groupe"
                              class="label is-small"
                              i18n
                              >Du</label
                            >
                            <input
                              style="width: fit-content"
                              class="input is-small"
                              i18n-placeholder
                              placeholder="Filtre date avant"
                              type="date"
                              [(ngModel)]="rider.filters.filter_date_apres"
                            />
                          </div>
                        </span>
                        <span
                          *ngIf="rider.selected_filter == 'date'"
                          class="ligne"
                        >
                          <div
                            style="gap: 6px"
                            class="field is-small is-horizontal field-jecha"
                          >
                            <label
                              for="groupe"
                              class="label is-small"
                              i18n
                              >Au</label
                            >
                            <input
                              style="width: fit-content"
                              class="input is-small"
                              i18n-placeholder
                              placeholder="Filtre date après"
                              type="date"
                              [(ngModel)]="rider.filters.filter_date_avant"
                            />
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tags">
                    <span
                      *ngIf="rider.filters.filter_nom"
                      class="tag is-success"
                    >
                      <span i18n>Nom : </span>
                      <span>{{ rider.filters.filter_nom }}</span>
                      <button
                        class="delete"
                        (click)="rider.filters.filter_nom = null"
                      ></button>
                    </span>

                    <span
                      *ngIf="rider.filters.filter_statut != null"
                      class="tag is-success"
                    >
                      <span i18n>Statut : </span>
                      <span *ngIf="rider.filters.filter_statut == 'prévue'" i18n
                        >Prévue</span
                      >
                      <span
                        *ngIf="rider.filters.filter_statut == 'réalisée'"
                        i18n
                        >Réalisée</span
                      >
                      <span
                        *ngIf="rider.filters.filter_statut == 'annulée'"
                        i18n
                        >Annulée</span
                      >
                      <button
                        class="delete"
                        (click)="rider.filters.filter_statut = null"
                      ></button>
                    </span>

                    <span
                      *ngIf="
                        rider.filters.filter_date_avant ||
                        rider.filters.filter_date_apres
                      "
                      class="tag is-success"
                    >
                      <span i18n>Date : </span>
                      <span *ngIf="rider.filters.filter_date_avant"
                        >&nbsp;>&nbsp;{{
                          rider.filters.filter_date_avant | date : "dd/MM/yyyy"
                        }}</span
                      >
                      <span *ngIf="rider.filters.filter_date_apres"
                        >&nbsp;<&nbsp;{{
                          rider.filters.filter_date_apres | date : "dd/MM/yyyy"
                        }}</span
                      >
                      <button
                        class="delete"
                        (click)="
                          rider.filters.filter_date_avant = null;
                          rider.filters.filter_date_apres = null
                        "
                      ></button>
                    </span>

                    <span
                      *ngIf="rider.filters.filter_lieu != null"
                      class="tag is-success"
                    >
                      <span i18n>Lieu : </span>
                      <span i18n>{{ rider.filters.filter_lieu }}</span>

                      <button
                        class="delete"
                        (click)="rider.filters.filter_lieu = null"
                      ></button>
                    </span>
                    <span
                      *ngIf="rider.filters.filter_prof != null"
                      class="tag is-success"
                    >
                      <span i18n>Prof : </span>
                      <span i18n>{{ rider.filters.filter_prof }}</span>

                      <button
                        class="delete"
                        (click)="rider.filters.filter_prof = null"
                      ></button>
                    </span>
                    <btn
                      [type_button]="'SupprimerLight'"
                      (click)="ReinitFiltre(rider)"
                      *ngIf="
                        rider.filters.filter_date_apres ||
                        rider.filters.filter_date_avant ||
                        rider.filters.filter_groupe ||
                        rider.filters.filter_statut ||
                        rider.filters.filter_nom ||
                        rider.filters.filter_lieu ||
                        rider.filters.filter_prof
                      "
                    >
                    </btn>
                  </div>
                </div>
              </div>
             
           
        </div>
        </div>
        </footer>
        </div>
    </ng-container>   
  </ng-container>
  </div>
  </ng-container>
  </ng-container>
</div>
