.th{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    flex-wrap: nowrap;
}
.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.menuligne{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
}
.th_filtre{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    flex-wrap: nowrap;
}
.modern-card {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
  }

  p {
    margin-bottom: 0.25rem;
  }

  .notification {
    font-size: 0.75rem;
    border-radius: 8px;
  }
}

.photo-wrapper {
  display: flex;
  justify-content: center;
}


  .is-primary-border {
    border: 2px solid var(--bulma-primary, #00d1b2);
    transition: all 0.2s;
  }
  .is-primary-border:hover {
    box-shadow: 0 0 10px var(--bulma-primary, #00d1b2);
  }
  
  .is-info-border {
    border: 2px solid var(--bulma-info, #209cee);
    transition: all 0.2s;
  }
  .is-info-border:hover {
    box-shadow: 0 0 10px var(--bulma-info, #209cee);
  }
  
  .container {
    height: calc(100vh - 52px);
  }
  .card{
    max-height: calc(99vh - 300px);
    width: 100%;
  }
  
@media screen and (max-width: 767px) {
.flls{
    display: none;
}
}

