<div class="container">
      <ng-container *ngIf="loading">
        <progress
          class="progress is-large is-info"
          style="margin-top: 60px"
          max="100"
        >
          60%
        </progress>
        <p>Chargement en cours</p>
      </ng-container>
      <ng-container *ngIf="!loading">
        <ng-container *ngIf="!editLieu; else lieuDetail">
          <div class="columns page-fill" *ngIf="lieux">
            <div class="column">
              <div class="card card--scroller">
                <header class="card-header" style="align-items: center">
          <p class="card-header-title" i18n>Liste des lieux</p>
       
        </header>
        <div class="card-content" #scrollableContent>
                  <div class="content">
            <table class="table" style="width: 100%;font-size:smaller" *ngIf="lieux && lieux.length> 0">
              <thead>
                <tr>
                  <th><span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller;" i18n>Nom</span>
                        <span style="cursor: pointer;">
                          <i *ngIf="sort_nom === 'NO'" (click)="Sort('ASC', 'nom')" class="fa-solid fa-sort"></i>
                          <i *ngIf="sort_nom === 'ASC'" (click)="Sort('DESC', 'nom')" class="fa-solid fa-sort-up"></i>
                          <i *ngIf="sort_nom === 'DESC'" (click)="Sort('ASC', 'nom')" class="fa-solid fa-sort-down"></i>
                        </span>
                      </span>

                    </span>
                  </th>
                  <th><span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller;" i18n>Adresse</span>
                      </span>
                    </span>
                  </th>
                  <th><span style="font-size: smaller;" i18n>Action</span></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let lieu of lieux; trackBy: trackById">
                  <td>
                    {{lieu.nom}}
                  </td>
                  <td>
                    {{lieu.adresse.Street}}&nbsp;{{lieu.adresse.PostCode}}&nbsp;{{lieu.adresse.City}}                       
                  </td>
               
 <td>
                          <div class="buttons" style="flex-wrap: nowrap">
                            <btn
                              i18n-title
                              title="Supprimer"
                              [type_button]="'SupprimerLight'"
                              (click)="Delete(lieu)"
                            ></btn>

                            <btn
                              i18n-title
                              title="Editer"
                              [type_button]="'EditerLight'"
                              (click)="Edit(lieu)"
                            ></btn>
                          </div>
                        </td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!lieux || lieux.length ==0">Pas de lieu disponible</p>
          </div>
        </div>
     <footer class="card-footer">
                  <div class="columns">
                    <div class="column">
                      <div *ngIf="!afficher_filtre" class="buttons">
                        <btn
                          [type_button]="'CreerSmall'"
                          (click)="Creer()"
                        ></btn>
                        <btn
                          [type_button]="'FiltrerSmall'"
                          (click)="
                            afficher_filtre
                              ? (afficher_filtre = false)
                              : (afficher_filtre = true)
                          "
                        ></btn>
                        <btn
                          [type_button]="'ExporterSmall'"
                          (click)="ExportExcel()"
                        ></btn>
                      </div>
  
                      <div class="buttons" *ngIf="afficher_filtre">
                        <btn
                         (click)="afficher_filtre = false; filter_nom = null; FiltrerListeLieu()"
                          [type_button]="'RetourLight'"
                        ></btn>
                        
                        <div
                          class="field is-horizontal"
                          style="gap: 0.5rem; align-items: center"
                        >
                          <div class="field-label is-normal">
                            <label class="label" style="white-space: nowrap" i18n
                              >Filtrer par nom - valeur du filtre :
                            </label>
                            <div class="field is-narrow">
                              <div class="control">
                                <input
                                  style="width: fit-content; font-size: smaller"
                                  class="input is-small"
                                  i18n-placeholder
                                  placeholder="Nom du cours"
                                  type="text"
                                  (ngModelChange)="Filter($event)"
                                  [(ngModel)]="filter_nom"
                                />
                                </div>
                            </div>
                          </div>
                          <div class="tags">
                            <span
                              *ngIf="filter_nom"
                              class="tag is-success"
                            >
                              <span i18n>Nom : </span>
                              <span>{{ filter_nom }}</span>
                              <button
                                class="delete"
                                (click)="filter_nom = null; FiltrerListeLieu()"
                              ></button>
                            </span>
  
                           
                            <btn
 [type_button]="'SupprimerLight'"
  (click)="filter_nom = null; FiltrerListeLieu()"
  *ngIf="filter_nom">
                              
                            >
                            </btn>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>  
            </div>
          </div>
</ng-container>
<ng-template #lieuDetail>
  <div class="columns page-fill">
    <div class="column">
      <div class="card card--scroller">
        <!-- Header -->
        <header class="card-header" style="align-items:center">
  
          <h2 *ngIf="editLieu.id==0" class="title is-2" i18n>Créer un lieu</h2>
          <h2 *ngIf="editLieu.id>0" class="title is-2" i18n>Editer un lieu</h2>
               
          </header>     
                <!-- Content -->
        <div class="scrollable-card-content columns is-multiline is-variable is-3 p-3">

          <!-- Colonne gauche : champs Professor (entity exacte) -->
          <div class="column is-full-tablet is-half-desktop">
            <div class="box is-light">
              <h3 class="subtitle is-6 has-text-primary has-text-weight-semibold" i18n>Informations administratives</h3>  
            <div class="field">
              <label class="label" i18n>Nom</label>
              <input [class]="editLieu.nom.length>4 ? 'input' : 'input is-danger'" type="text" id="nom_rider"
                name="nom_rider" i18n-placeholder placeholder="Nom" [(ngModel)]="editLieu.nom" required>
              <p class="help is-danger" *ngIf="editLieu.nom.length <5" i18n>Le nom du lieu doit au moins faire 5
                caractères
              </p>
            </div>
            </div>
          </div>
            <div class="column is-full-tablet is-half-desktop">
                    <app-address
                                 [id]="editLieu.id"
                                 [thisAdresse]="editLieu.adresse"
                                 [Regles]="(GlobalService.getRegleLieuAdresse())"
                                 (InfoAdresseChange)="SaveAdresse($event)"
                                 (valid)="valid_adresse($event)"></app-address>                    
                  </div>
  </div>
       <footer class="card-footer">
          <div class="columns is-mobile is-centered">
            <div class="column is-half">
              <div class="buttons" style="flex-wrap:nowrap">
              <div class="buttons" style="flex-wrap:nowrap">
                <btn [type_button]="'RetourSmall'"  (click)="Retour()"></btn>
                <btn [type_button]="'SauvegarderSmall'" [disabled]="(editLieu.nom.length < 5 || !valid_address)" (click)="Save()" i18n>Sauvegarder</btn>          
          </div>
      </div>
    </div>
  </div>
       </footer>
      </div>
      </div>
      </div>
</ng-template>