<div class="container" *ngIf="Operations && context == 'LISTE'">
  <div class="columns" style="margin-top: 0.5rem">
    <div class="column menuligne">
      <hover-button
        [nomclass]="
          afficher_filtre
            ? 'button is-info is-rounded'
            : 'button is-info is-rounded  is-outlined'
        "
        [nomicon]="'fa-solid fa-filter'"
        [libelle]="'Afficher le filtre'"
        (click)="
          afficher_filtre ? (afficher_filtre = false) : (afficher_filtre = true)
        "
      >
      </hover-button>
      <button
        *ngIf="afficher_filtre"
        (click)="ReinitFiltre()"
        class="button is-danger is-rounded is-outlined"
      >
        <span class="icon is-large">
          <span class="fa-stack fa-lg">
            <i class="fas fa-filter fa-stack-1x"></i>
            <i class="fas fa-slash fa-stack-1x has-text-danger"></i>
          </span>
        </span>
      </button>
      <hover-button
        [nomclass]="'button  is-rounded is-primary is-outlined'"
        [nomicon]="'fas fa-file-excel'"
        [libelle]="'Exporter vers Excel'"
        (click)="ExporterExcel()"
      >
      </hover-button>
      <hover-button
        [nomclass]="'button  is-rounded is-primary is-outlined'"
        [nomicon]="'fas fa-coins'"
        [libelle]="'Exécuter les dépenses prévues'"
        (click)="PrevueToExecute()"
      >
      </hover-button>
    </div>
  </div>

  <div class="field">
    <label class="label">Choisir le compte</label>
    <div class="control">
      <div class="select">
        <select [(ngModel)]="filter_compte">
          <option value="0">Tous</option>
          <ng-container *ngFor="let cpt of Comptes">
            <option [ngValue]="cpt.id">{{ cpt.nom }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title" i18n>
            Liste des recettes et des dépenses ({{ Operations.length }})
          </p>
        </header>
        <span class="fullscreen">
          <div class="card-content">
            <table
              class="table"
              style="width: 100%; font-size: smaller"
              *ngIf="Operations && Operations.length > 0"
            >
              <thead>
                <tr>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n
                          >Date d'operation</span
                        >
                        <span style="cursor: pointer">
                          <i
                            *ngIf="sort_date === 'NO'"
                            (click)="Sort('ASC', 'date')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_date === 'ASC'"
                            (click)="Sort('DESC', 'date')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_date === 'DESC'"
                            (click)="Sort('ASC', 'date')"
                            class="fa-solid fa-sort-down"
                          ></i> </span
                      ></span>
                      <span *ngIf="afficher_filtre" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >Du</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date avant"
                            type="date"
                            [(ngModel)]="filter_date_debut"
                          />
                        </div>
                      </span>
                      <span *ngIf="afficher_filtre" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >Au</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date après"
                            type="date"
                            [(ngModel)]="filter_date_fin"
                          />
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n>Montant</span>
                        <span style="cursor: pointer">
                          <i
                            *ngIf="sort_montant === 'NO'"
                            (click)="Sort('ASC', 'montant')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_montant === 'ASC'"
                            (click)="Sort('DESC', 'montant')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_montant === 'DESC'"
                            (click)="Sort('ASC', 'montant')"
                            class="fa-solid fa-sort-down"
                          ></i> </span
                      ></span>
                      <span *ngIf="afficher_filtre" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >Entre</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date avant"
                            type="number"
                            [(ngModel)]="filter_montant_min"
                          />
                        </div>
                      </span>
                      <span *ngIf="afficher_filtre" class="ligne">
                        <div
                          style="gap: 6px"
                          class="field is-small is-horizontal field-jecha"
                        >
                          <label for="groupe" class="label is-small" i18n
                            >et</label
                          >
                          <input
                            style="width: fit-content"
                            class="input is-small"
                            i18n-placeholder
                            placeholder="Filtre date après"
                            type="number"
                            [(ngModel)]="filter_montant_max"
                          />
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n>R / D</span
                        ><span style="cursor: pointer">
                          <i
                            *ngIf="sort_sens === 'NO'"
                            (click)="Sort('ASC', 'sens')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_sens === 'ASC'"
                            (click)="Sort('DESC', 'sens')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_sens === 'DESC'"
                            (click)="Sort('ASC', 'sens')"
                            class="fa-solid fa-sort-down"
                          ></i>
                        </span>
                      </span>
                      <span *ngIf="afficher_filtre" class="ligne">
                        <div class="select">
                          <select
                            style="font-size: smaller"
                            [(ngModel)]="filter_sens_operation"
                          >
                            <option [ngValue]="null" i18n>Tous</option>
                            <option [ngValue]="0" i18n>Dépenses</option>
                            <option [ngValue]="1" i18n>Recettes</option>
                          </select>
                        </div>
                      </span>
                    </span>
                  </th>
                  <th>
                    <span class="th_filtre">
                      <span class="ligne">
                        <span style="font-size: smaller" i18n>Libellé</span>
                        <span style="cursor: pointer">
                          <i
                            *ngIf="sort_libelle === 'NO'"
                            (click)="Sort('ASC', 'libelle')"
                            class="fa-solid fa-sort"
                          ></i>
                          <i
                            *ngIf="sort_libelle === 'ASC'"
                            (click)="Sort('DESC', 'libelle')"
                            class="fa-solid fa-sort-up"
                          ></i>
                          <i
                            *ngIf="sort_libelle === 'DESC'"
                            (click)="Sort('ASC', 'libelle')"
                            class="fa-solid fa-sort-down"
                          ></i>
                        </span>
                      </span>
                      <input
                        *ngIf="afficher_filtre"
                        style="width: fit-content; font-size: smaller"
                        class="input is-small"
                        i18n-placeholder
                        placeholder="Nom du cours"
                        type="text"
                        [(ngModel)]="filter_libelle"
                      />
                    </span>
                  </th>
                  <th *ngIf="filter_compte == 0">
                    <span style="font-size: smaller" i18n>Compte bancaire</span>
                  </th>
                  <th>
                    <span style="font-size: smaller" i18n>Destinataire</span>
                  </th>
                  <th>
                    <span style="font-size: smaller" i18n>Mode</span>
                  </th>
                  <th>
                    <span style="font-size: smaller" i18n>Statut</span>
                  </th>
                  <th><span style="font-size: smaller" i18n>Action</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cpt of Operations">
                  <td>
                    {{ cpt.Date | date : "dd/MM/yyyy" }}
                  </td>
                  <td>
                    {{ cpt.Solde }}
                  </td>
                  <td>
                    <i
                      *ngIf="cpt.IsRecette"
                      style="color: green"
                      class="fas fa-plus-square"
                    ></i>
                    <i
                      *ngIf="!cpt.IsRecette"
                      style="color: red"
                      class="fas fa-minus-square"
                    ></i>
                  </td>
                  <td>
                    <a (click)="GotoFF(cpt.FluxFinancierID)">{{
                      cpt.Libelle
                    }}</a>
                  </td>
                  <td *ngIf="filter_compte == 0">
                    <a
                      (click)="
                        filter_compte = getCompte(cpt.CompteBancaireID).id
                      "
                    >
                      {{ getCompte(cpt.CompteBancaireID).nom }}</a
                    >
                  </td>
                  <td>
                    {{ cpt.DestinataireLibelle }}
                  </td>
                  <td>
                    <span *ngIf="cpt.ModePaiement == 0">Espèces</span>
                    <span *ngIf="cpt.ModePaiement == 1">Carte bancaire</span>
                    <span *ngIf="cpt.ModePaiement == 2">Virement</span>
                    <span *ngIf="cpt.ModePaiement == 3">Chèque</span>
                    <span *ngIf="cpt.ModePaiement == 4">Prélèvement</span>
                  </td>
                  <td>
                    <span *ngIf="cpt.StatutPaiement == 0" i18n
                      >Non exécuté</span
                    >
                    <span *ngIf="cpt.StatutPaiement == 1" i18n>Exécuté</span>
                    <span *ngIf="cpt.StatutPaiement == -1" i18n>Annulé</span>
                  </td>
                  <td>
                    <div class="buttons">
                      <button
                        *ngIf="cpt.StatutPaiement != 1"
                        i18n-title
                        title="Payer maintenant"
                        class="button is-info is-rounded is-outlined"
                        type="button"
                        (click)="Payer(cpt)"
                      >
                        <i class="fas fa-coins"></i>
                      </button>
                      <button
                        i18n-title
                        title="Editer"
                        class="button is-info is-rounded is-outlined"
                        type="button"
                        (click)="Edit(cpt)"
                      >
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!Operations || Operations.length == 0" i18n>
              Pas de operations disponible.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="editOperations && context == 'EDIT'">
  <div class="columns is-justify-content-center">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
      <div *ngIf="editOperations" class="box">
        <h2 class="title is-2" i18n>Editer une operation</h2>
        <div class="field">
          <label class="label" i18n>Montant</label>
          <p class="control"><i
            *ngIf="editOperations.IsRecette"
            style="color: green"
            class="fas fa-plus-square"
          ></i>
          <i
            *ngIf="!editOperations.IsRecette"
            style="color: red"
            class="fas fa-minus-square"
          ></i>
            <label>{{ editOperations.Solde }}</label>
            <span class="icon is-small is-right">
              <i class="fas fa-euro-sign"></i>
            </span>
            
          </p>
        </div>
        <div class="field">
          <label class="label" i18n>Date de operation</label>
          <div class="control">
            <input
              [class]="editOperations.Date ? 'input' : 'input is-danger'"
              type="date"
              id="date_operation"
              name="date_operation"
              i18n-placeholder
              placeholder="Date d'opération"
              [(ngModel)]="editOperations.Date"
            />
            <p class="help is-danger" *ngIf="!editOperations.Date" i18n>
              La date doit être saisie
            </p>
          </div>
        </div>
        <div class="field">
          <label class="label" i18n>Info</label>
          <p class="control">
            <input
              class="input"
              type="text"
              placeholder="Info"
              [(ngModel)]="editOperations.Info"
            />
          </p>
        </div>
        <div class="field">
          <label class="label" i18n>Compte bancaire</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="editOperations.CompteBancaireID">
                <option value="0">Tous</option>
                <ng-container *ngFor="let cpt of Comptes">
                  <option [ngValue]="cpt.id">{{ cpt.nom }}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" i18n>Destinataire</label>
          <input
            class="input"
            list="destinataires"
            id="destinataire"
            [ngModel]="editOperations.DestinataireLibelle"
            (ngModelChange)="onInputChange($event)"
          />
          <datalist id="destinataires">
            <ng-container *ngFor="let option of Destinataire">
              <option [value]="formatDestinataire(option)"></option>
              <!-- Affiche le texte formaté -->
            </ng-container>
          </datalist>
        </div>
        <div class="field">
          <label class="label" i18n>Statut paiement</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="editOperations.StatutPaiement">
                <option value="0"><span i18n>Non exécuté</span></option>
                <option value="1"><span i18n>Exécuté</span></option>
                <option value="-1"><span i18n>Annulé</span></option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" i18n>Mode de paiement</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="editOperations.ModePaiement">
                <option value="0"><span i18n>Espèces</span></option>
                <option value="1"><span i18n>Carte bancaire</span></option>
                <option value="2"><span i18n>Virement</span></option>
                <option value="3"><span i18n>Chèque</span></option>
                <option value="4"><span i18n>Prélèvement</span></option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" i18n>Flux Financier</label>
          <p class="control">
            <a (click)="GotoFF(editOperations.FluxFinancierID)">{{
                editOperations.Libelle
              }}</a>
          </p>
        </div>
        <p>
          Montant total comptabilisé :
          {{ getFFMontant(editOperations.FluxFinancierID) }}
        </p>
        <div *ngIf="editOperations" class="buttons">
          <button
            class="button is-primary is-rounded is-outlined"
            type="button"
            style="fill: hsl(171, 100%, 41%)"
            (click)="Save()"
          >
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
          <button (click)="Retour()" class="button is-danger is-rounded is-outlined" style="fill:hsl(348, 100%, 61%)">
            <i class="fa-solid fa-backward-fast"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
