/* You can add global styles to this file, and also import other style files */
.mobile{
    display: none;
}
.fullscreen{
    display: block;
}
@media screen and (max-width: 767px) {
    .mobile{
        display: block;
    }
}