/* You can add global styles to this file, and also import other style files */
.mobile{
    display: none;
}
.fullscreen{
    display: contents;
}
@media screen and (max-width: 767px) {
    .mobile{
        display: contents;
    }
    .fullscreen{
        display: none;
    }
    .title {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        font-size: smaller;
        text-align: start;
    }
}
.footer {
    background-color: white; /* Exemple de couleur de fond */
    padding: 10px;
    border-top: 1px solid #ddd; /* Ligne de séparation */
    position: sticky;
    bottom: 0;
    z-index: 100; /* S'assure que le footer est au-dessus d'autres éléments */
  }