/* You can add global styles to this file, and also import other style files */
.mobile {
    display: none;
}
.tablet {
    display: none;
}

.fullscreen {
    display: contents;
}
@media screen and (min-width: 500px) {
    .tablet {
        display: contents;
    }
}

@media screen and (max-width: 767px) {
    .mobile {
        display: contents;
    }
    .box{
        padding: 0.25rem;
    }
    .panel-block{
        padding: 0.25rem;
    }
    .panel-heading{
        padding: 0.25rem;
    }

    .fullscreen {
        display: none;
    }

    .title {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        font-size: smaller;
        text-align: start;
    }
    .container-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 50px;
        margin-top: 60px;
      }
}
/* Rendre la card adaptative */
.card {
    display: flex;
    flex-direction: column;
    max-height: calc(99vh - 60px); /* Soustraire la hauteur de la navbar */
    border: 1px solid #ddd;
    overflow: hidden; /* Coupe tout débordement */
  }
  
  /* Permet de scroller uniquement le contenu */
  .card-content {
    flex: 1;
    overflow-y: auto; /* Active le défilement vertical */
  }

  .card-footer{
    padding: 10px;
  }
  

.card-footer select,
.card-footer input,
.card-footer label,
.card-footer span,
.card-footer .btn,
.card-footer .buttons {
    font-size: smaller;
    /* Appliquer aux inputs, sélecteurs, boutons, etc. */
}

.card-footer .field-label{
    align-content: center;
}
.card-footer .field-body {
margin-right: 0.5rem;
}

.scroll-to-top {
    position: absolute; /* Par rapport au conteneur */
    bottom: 60px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  
  .scroll-to-top:hover {
    opacity: 1; /* Pleine opacité au survol */
    transform: scale(1.1); /* Légère augmentation de la taille */
  }

  .footer{
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
  }

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: rgba(0, 0, 0, 0.8);
        /* Noir avec 80% d'opacité */
        border-top: 1px solid #444;
    }
}