<div class="container">
    <div class="columns" *ngIf="!editMode">
        <div class="column">
            <div class="card" style="width: 100%;">
                <header class="card-header">
                    <p class="card-header-title" i18n>
                        Filtres
                    </p>
                    <button (click)="afficher_menu_admin ? afficher_menu_admin = false : afficher_menu_admin= true"
                        class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <svg *ngIf="!afficher_menu_admin" width="20" height="20">
                                <use xlink:href=".\assets\liste.svg#chevron-up" style="fill:blue"></use>
                            </svg>
                            <svg *ngIf="afficher_menu_admin" width="20" height="20">
                                <use xlink:href=".\assets\liste.svg#chevron-down" style="fill:blue"></use>
                            </svg>
                        </span>
                    </button>
                </header>
                <div class="card-content" *ngIf="afficher_menu_admin">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <div class="field field-jecha">
                                    <label for="seasons" class="label">Changer la saison</label>
                                    <div class="select">
                                        <select id="seasons" [(ngModel)]="season_id" i18n-placeholder
                                            placeholder="Choisir la saison">
                                            <!-- Options pour les professeurs -->
                                            <ng-container *ngFor="let season of seasons">
                                                <option [value]="season.key">{{season.value}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>



                                <button type="button" class="button is-outlined is-rounded is-primary"
                                    (click)="Filtrer()" i18n>Afficher la saison</button>
                                <button type="button" class="button is-outlined is-rounded is-danger"
                                    (click)="FiltrerBack()" i18n>Afficher la saison en cours</button>
                            </div>

                            <div class="column">
                                <div style="gap: 6px;" class="field is-horizontal field-jecha">
                                    <label for="nom" class="label">Nom</label>
                                    <input style="width: fit-content;font-size:smaller;" class="input" i18n-placeholder
                                        placeholder="Nom du cours" type="text" [(ngModel)]="filter_nom">
                                </div>
                                <div style="gap: 6px;" class="field is-horizontal field-jecha">
                                    <label for="prof" class="label">Professeur</label>
                                    <div class="select">
                                        <select style="font-size:smaller;" [(ngModel)]="filter_prof">
                                            <option [value]="0" i18n>Tous</option>
                                            <ng-container *ngFor="let pr of liste_prof_filter">
                                                <option [value]="pr.key" i18n>{{pr.value}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div style="gap: 6px;" class="field is-horizontal  field-jecha">
                                    <label for="lieu" class="label">Lieu</label>
                                    <div class="select">
                                        <select style="font-size:smaller;" [(ngModel)]="filter_lieu">
                                            <option [value]="0" i18n>Tous</option>
                                            <ng-container *ngFor="let li of liste_lieu_filter">
                                                <option [value]="li.key">{{li.value}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div style="gap: 6px;" class="field is-horizontal  field-jecha">
                                    <label for="lieu" class="label">Groupe</label>
                                    <div class="select">
                                        <select style="font-size:smaller;" [(ngModel)]="filter_groupe">
                                            <option [value]="0" i18n>Tous</option>
                                            <ng-container *ngFor="let gr of liste_groupe_filter">
                                                <option [value]="gr.id" i18n>{{gr.nom}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div style="gap: 6px;" class="field is-horizontal field-jecha">
                                    <label for="groupe" class="label">Jour</label>
                                    <div class="select">
                                        <select style="font-size:smaller;" [(ngModel)]="filter_jour">
                                            <ng-container *ngFor="let jr of liste_jour_semaine">
                                                <ng-container *ngIf="jr == 'lundi'">
                                                    <option [value]="jr" i18n>Lundi</option>
                                                </ng-container>
                                                <ng-container *ngIf="jr == 'mardi'">
                                                    <option [value]="jr" i18n>Mardi</option>
                                                </ng-container>
                                                <ng-container *ngIf="jr == 'mercredi'">
                                                    <option [value]="jr" i18n>Mercredi</option>
                                                </ng-container>
                                                <ng-container *ngIf="jr == 'jeudi'">
                                                    <option [value]="jr" i18n>Jeudi</option>
                                                </ng-container>
                                                <ng-container *ngIf="jr == 'vendredi'">
                                                    <option [value]="jr" i18n>Vendredi</option>
                                                </ng-container>
                                                <ng-container *ngIf="jr == 'samedi'">
                                                    <option [value]="jr" i18n>Samedi</option>
                                                </ng-container>
                                                <ng-container *ngIf="jr == 'dimanche'">
                                                    <option [value]="jr" i18n>Dimanche</option>
                                                </ng-container>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="button is-outlined is-rounded is-primary"
                                    (click)="ReinitFiltre()" i18n>Reinitialiser les filtres</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!editMode" class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" i18n>Liste des cours</p>
                    <button type="button" (click)="Create()" class="button is-primary is-rounded is-outlined"
                        style="align-self: center; ;fill:hsl(171, 100%, 41%)">
                        <svg width="20" height="20">
                            <use xlink:href=".\assets\liste.svg#plus"></use>
                        </svg>
                    </button>
                </header>
                <div class="card-content">
                    <table class="table" style="width: 100%;" *ngIf="listeCours_VM && listeCours_VM.length> 0">
                        <thead>
                            <tr>
                                <th>Nom
                                    <span style="cursor: pointer;">
                                        <svg class="svg" *ngIf="sort_nom === 'NO'" (click)="Sort('ASC', 'nom')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#doublemenu" style="fill:black"></use>
                                        </svg>
                                        <svg class="svg" *ngIf="sort_nom === 'ASC'" (click)="Sort('DESC', 'nom')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#menuhaut" style="fill:black"></use>
                                        </svg>
                                        <svg class="svg" *ngIf="sort_nom === 'DESC'" (click)="Sort('ASC', 'nom')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#menubas" style="fill:black"></use>
                                        </svg>
                                    </span>
                                </th>
                                <th>Jour<span style="cursor: pointer;">
                                        <svg class="svg" *ngIf="sort_jour === 'NO'" (click)="Sort('ASC', 'jour')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#doublemenu" style="fill:black"></use>
                                        </svg>
                                        <svg class="svg" *ngIf="sort_jour === 'ASC'" (click)="Sort('DESC', 'jour')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#menuhaut" style="fill:black"></use>
                                        </svg>
                                        <svg class="svg" *ngIf="sort_jour === 'DESC'" (click)="Sort('ASC', 'jour')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#menubas" style="fill:black"></use>
                                        </svg>
                                    </span></th>
                                <th>Heure</th>
                                <th>Durée </th>
                                <th>Responsable</th>
                                <th>Lieu<span style="cursor: pointer;">
                                        <svg class="svg" *ngIf="sort_lieu === 'NO'" (click)="Sort('ASC', 'lieu')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#doublemenu" style="fill:black"></use>
                                        </svg>
                                        <svg class="svg" *ngIf="sort_lieu === 'ASC'" (click)="Sort('DESC', 'lieu')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#menuhaut" style="fill:black"></use>
                                        </svg>
                                        <svg class="svg" *ngIf="sort_lieu === 'DESC'" (click)="Sort('ASC', 'lieu')"
                                            width="12" height="12">
                                            <use xlink:href=".\assets\liste.svg#menubas" style="fill:black"></use>
                                        </svg>
                                    </span></th>
                                <th>Groupe</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cours of listeCours_VM | filterName : filter_nom | filterJour : filter_jour | filterGroupe : filter_groupe | filterLieu : filter_lieu | filterProf : filter_prof"
                                style="cursor: pointer;">
                                <td>
                                    <div (click)="cours.editing = true" *ngIf="!cours.editing">
                                        <span style="cursor: pointer;">{{cours.Nom}}</span>
                                    </div>
                                    <div *ngIf="cours.editing">
                                        <input style="width: fit-content;font-size:smaller;"
                                            [class]="cours.valid.nom ? 'input' : 'input is-danger'" i18n-placeholder
                                            placeholder="Nom du cours" type="text" [(ngModel)]="cours.Nom">
                                        <p *ngIf="!cours.valid.nom" class="help is-danger" style="font-size:smaller;"
                                            i18n>Le nom doit faire
                                            au moins 3
                                            caractères</p>

                                    </div>
                                </td>
                                <td>
                                    <div (click)="cours.editing = true" *ngIf="!cours.editing">
                                        <ng-container *ngIf="cours.JourSemaine == 'lundi'">
                                            <span style="cursor: pointer;" i18n>Lundi</span>
                                        </ng-container> <ng-container *ngIf="cours.JourSemaine == 'mardi'">
                                            <span style="cursor: pointer;" i18n>Mardi</span>
                                        </ng-container> <ng-container *ngIf="cours.JourSemaine == 'mercredi'">
                                            <span style="cursor: pointer;" i18n>Mercredi</span>
                                        </ng-container> <ng-container *ngIf="cours.JourSemaine == 'jeudi'">
                                            <span style="cursor: pointer;" i18n>Jeudi</span>
                                        </ng-container> <ng-container *ngIf="cours.JourSemaine == 'vendredi'">
                                            <span style="cursor: pointer;" i18n>Vendredi</span>
                                        </ng-container> <ng-container *ngIf="cours.JourSemaine == 'samedi'">
                                            <span style="cursor: pointer;" i18n>Samedi</span>
                                        </ng-container> <ng-container *ngIf="cours.JourSemaine == 'dimanche'">
                                            <span style="cursor: pointer;" i18n>Dimanche</span>
                                        </ng-container>
                                    </div>
                                    <div *ngIf="cours.editing">
                                        <div class="select">
                                            <select style="font-size:smaller;" [(ngModel)]="cours.JourSemaine">
                                                <ng-container *ngFor="let jr of liste_jour_semaine">
                                                    <ng-container *ngIf="jr == 'lundi'">
                                                        <option [value]="jr" i18n>Lundi</option>
                                                    </ng-container>
                                                    <ng-container *ngIf="jr == 'mardi'">
                                                        <option [value]="jr" i18n>Mardi</option>
                                                    </ng-container>
                                                    <ng-container *ngIf="jr == 'mercredi'">
                                                        <option [value]="jr" i18n>Mercredi</option>
                                                    </ng-container>
                                                    <ng-container *ngIf="jr == 'jeudi'">
                                                        <option [value]="jr" i18n>Jeudi</option>
                                                    </ng-container>
                                                    <ng-container *ngIf="jr == 'vendredi'">
                                                        <option [value]="jr" i18n>Vendredi</option>
                                                    </ng-container>
                                                    <ng-container *ngIf="jr == 'samedi'">
                                                        <option [value]="jr" i18n>Samedi</option>
                                                    </ng-container>
                                                    <ng-container *ngIf="jr == 'dimanche'">
                                                        <option [value]="jr" i18n>Dimanche</option>
                                                    </ng-container>
                                                </ng-container>
                                            </select>
                                        </div>
                                        <p *ngIf="!cours.valid.nom" style="font-size:smaller;" class="help is-danger"
                                            i18n>Le nom doit faire
                                            au moins 3
                                            caractères</p>

                                    </div>
                                </td>
                                <td>
                                    {{cours.Heure}}

                                </td>
                                <td>
                                    {{cours.Duree}}

                                </td>
                                <td>
                                    {{trouverProfesseur(cours.ProfPrincipalId)}}

                                </td>
                                <td>
                                        {{trouverLieu(cours.LieuId)}}
                                </td>
                                <td>
                                    
                                        <div class="tags is-small">
                                            <ng-container *ngFor="let gr of cours.Groupes">
                                                <span class="tag is-success">
                                                    {{gr.nom}}
                                                </span>
                                            </ng-container>
                                        </div>
                                    
                                </td>
                                <td>
                                   
                                    <div class="buttons">
                                        <button i18n-title title="Supprimer"
                                            class="button is-danger is-rounded is-outlined" type="button"
                                            (click)="Delete(cours)" style="fill:hsl(348, 100%, 61%)">
                                            <svg width="20" height="20">
                                                <use xlink:href=".\assets\liste.svg#delete"></use>
                                            </svg>
                                        </button>

                                        <button i18n-title title="Editer" class="button is-info is-rounded is-outlined"
                                            type="button" style="fill: hsl(204, 86%, 53%)	;"
                                            (click)="Edit(cours)">
                                            <svg width="20" height="20">
                                                <use xlink:href=".\assets\liste.svg#edit"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="!listeCours_VM || listeCours_VM.length ==0">Pas de cours disponible</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="editMode" class="columns">
        <div class="column">
            <div class="tabs" style="margin-bottom: 3px;">
                <div class="tabs is-left" style="margin-bottom: 0;">
                    <ul>
                        <li><button *ngIf="editCours.valid.control" (click)="Save(editCours)"
                                class="button is-primary is-rounded is-outlined" type="button">
                                <span i18n *ngIf="editCours.ID>0">Sauvegarder les modifications</span>
                                <span i18n *ngIf="editCours.ID<1">Créer le cours</span>
                            </button></li>
                        <li><button (click)="Retour()" class="button is-danger is-rounded is-outlined" type="button">
                                <span i18n>Retour à la liste</span>
                            </button></li>
                        <li><button *ngIf="editCours.ID>0" (click)="Refresh()"
                                class="button is-danger is-rounded is-outlined" type="button">
                                <span i18n>Rafraichir</span>
                            </button></li>
                    </ul>
                </div>
            </div>


            <div class="panel is-primary">
                <p *ngIf="editCours.ID==0" class="panel-heading" i18n>Créer un cours</p>
                <p *ngIf="editCours.ID>0" class="panel-heading" i18n>Editer un cours</p>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" for="nom_cours" i18n>Nom du cours</label>
                        <input [class]="editCours.valid.nom ? 'input' : 'input is-danger'" id="nom_cours" type="text"
                            [(ngModel)]="editCours.Nom" i18n-placeholder placeholder="Nom du cours">
                        <p class="help is-danger" *ngIf="!editCours.valid.nom" i18n>Le nom doit faire au moins 2
                            caractères</p>
                    </div>
                </div>

                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" for="jour_semaine" i18n>Jour de la semaine :</label>
                        <div class="select">
                            <select [(ngModel)]="editCours.JourSemaine">
                                <ng-container *ngFor="let jr of liste_jour_semaine">
                                    <ng-container *ngIf="jr == 'lundi'">
                                        <option [value]="jr" i18n>Lundi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'mardi'">
                                        <option [value]="jr" i18n>Mardi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'mercredi'">
                                        <option [value]="jr" i18n>Mercredi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'jeudi'">
                                        <option [value]="jr" i18n>Jeudi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'vendredi'">
                                        <option [value]="jr" i18n>Vendredi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'samedi'">
                                        <option [value]="jr" i18n>Samedi</option>
                                    </ng-container>
                                    <ng-container *ngIf="jr == 'dimanche'">
                                        <option [value]="jr" i18n>Dimanche</option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" for="heure_cours" i18n>Heure de début :</label>
                        <input [class]="editCours.valid.heure ? 'input' : 'input is-danger'" id="heure_cours"
                            type="time" [(ngModel)]="editCours.Heure">
                        <p class="help is-danger" *ngIf="!editCours.valid.heure" i18n>L'heure doit être saisie</p>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" for="duree_cours" i18n>Durée du cours :</label>
                        <input [class]="editCours.valid.duree ? 'input' : 'input is-danger'" min="0" max="1440"
                            type="number" id="duree_cours" [(ngModel)]="editCours.Duree"
                            placeholder="Durée (en minutes)">
                        <p class="help is-danger" *ngIf="!editCours.valid.duree" i18n>La durée doit être saisie</p>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" for="saison" i18n>Saison du cours :</label>
                        <div class="select">
                            <select id="saison" [(ngModel)]="editCours.SaisonId" i18n-placeholder placeholder="Saison">
                                <!-- Options pour les professeurs -->
                                <ng-container *ngFor="let s of seasons">
                                    <option [value]="s.key">{{s.value}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <p class="help is-danger" *ngIf="!editCours.valid.saison" i18n>Une saison doit être choisie</p>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" for="resp_cours" i18n>Responsable du cours :</label>
                        <div class="select">
                            <select id="resp_cours" class="form-control" [(ngModel)]="editCours.ProfPrincipalId"
                                placeholder="Professeur Principal">
                                <!-- Options pour les professeurs -->
                                <ng-container *ngFor="let prof of listeprof">
                                    <option [value]="prof.key">{{prof.value}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <p class="help is-danger" *ngIf="!editCours.valid.prof" i18n>Un professeur doit être choisi</p>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" i18n>Lieu du cours :</label>
                        <div class="select">
                            <select id="lieu_cours" [(ngModel)]="editCours.LieuId" placeholder="Lieu du cours">
                                <!-- Options pour les professeurs -->
                                <ng-container *ngFor="let lieu of listelieu">
                                    <option [value]="lieu.key">{{lieu.value}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <p class="help is-danger" *ngIf="!editCours.valid.prof" i18n>Un professeur doit être choisi</p>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" i18n for="place_maximum">Age minimum ? :</label>
                        <div class="buttons has-addons">
                            <button type="button"
                                [class]="editCours.EstAgeRequis == true ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.EstAgeRequis == true ? editCours.EstAgeRequis = false : editCours.EstAgeRequis = true">
                                <span i18n>Age minimum requis</span></button>
                            <button type="button"
                                [class]="editCours.EstAgeRequis == false ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.EstAgeRequis == true ? editCours.EstAgeRequis = false : editCours.EstAgeRequis = true">
                                <span i18n>Pas de limite</span></button>
                        </div>
                    </div>
                    <div *ngIf="editCours.EstAgeRequis == true" class="field field-jecha">
                        <label class="label" i18n for="age_minimum">Age minimum :</label>
                        <input class="input" min="1" max="99" matInput type="number" id="age_minimum"
                            [(ngModel)]="editCours.AgeRequis" i18n-placeholder placeholder="Age requis">
                    </div>
                </div>

                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" i18n for="place_maximum">Age maximum ? :</label>
                        <div class="buttons has-addons">
                            <button type="button"
                                [class]="editCours.EstAgeMaximum == true ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.EstAgeMaximum == true ? editCours.EstAgeMaximum = false : editCours.EstAgeMaximum = true">
                                <span i18n>Age maximum</span></button>
                            <button type="button"
                                [class]="editCours.EstAgeMaximum == false ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.EstAgeMaximum == true ? editCours.EstAgeMaximum = false : editCours.EstAgeMaximum = true">
                                <span i18n>Pas de limite</span></button>
                        </div>
                    </div>
                    <div *ngIf="editCours.EstAgeMaximum == true" class="field field-jecha">
                        <label class="label" i18n for="age_maximum">Age maximum :</label>
                        <input class="input" min="1" max="99" matInput type="number" id="age_maximum"
                            [(ngModel)]="editCours.AgeMaximum" placeholder="Age maximum">
                    </div>
                </div>
                <div class="panel-block">
                    <div class="field field-jecha">
                        <label class="label" i18n for="place_maximum">Place limitée ? :</label>
                        <div class="buttons has-addons">
                            <button type="button"
                                [class]="editCours.EstPlaceMaximum == true ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.EstPlaceMaximum == true ? editCours.EstPlaceMaximum = false : editCours.EstPlaceMaximum = true">
                                <span i18n>Places limitées</span></button>
                            <button type="button"
                                [class]="editCours.EstPlaceMaximum == false ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.EstPlaceMaximum == true ? editCours.EstPlaceMaximum = false : editCours.EstPlaceMaximum = true">
                                <span i18n>Places illimitées</span></button>
                        </div>
                    </div>
                    <div *ngIf="editCours.EstPlaceMaximum == true" class="field field-jecha">
                        <label class="label" i18n for="place_maximum">Place maximum :</label>
                        <input class="input" type="number" id="place_maximum" min="1" max="999"
                            [(ngModel)]="editCours.PlaceMaximum">
                    </div>
                </div>
                <div class="panel-block" >
                    <div class="field field-jecha">
                        <label class="label" i18n for="place_maximum">Convocation nominative ? :</label>
                        <div class="buttons has-addons">
                            <button type="button"
                                [class]="editCours.ConvocationNominative == true ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.ConvocationNominative == true ? editCours.ConvocationNominative = false : editCours.ConvocationNominative = true">
                                <span i18n>Convocation nominative</span></button>
                            <button type="button"
                                [class]="editCours.ConvocationNominative == false ? 'button is-link is-active' : 'button is-active'"
                                (click)="editCours.ConvocationNominative == true ? editCours.ConvocationNominative = false : editCours.ConvocationNominative = true">
                                <span i18n>Groupe entier convoqué</span></button>
                        </div>
                    </div>
                </div>
                <app-groupe-detail *ngIf="editCours.ConvocationNominative == false" 
                    [Select_Groupe]="editCours.Groupes" [ListeGroupe]="liste_groupe"></app-groupe-detail>
            </div>
        </div>
    </div>
</div>